<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize"/>
    <div
      align="right"
      id="printBtn"
      :class="{'print-bar ':innerWidth < 1035,'fixed fixed-top-right q-pa-sm':innerWidth >= 1035}"
    >
      <div :class="{'print-bar-color':innerWidth < 1035}">
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn1':innerWidth < 1035,'bg-blue':innerWidth >= 1035}"
          @click="printBtn()"
          round
        >
          <q-icon name="fas fa-print" color="white"/>
        </q-btn>
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn':innerWidth < 1035,'bg-red':innerWidth >= 1035}"
          @click="closeBtn()"
          round
        >
          <q-icon name="fas fa-times" color="white"/>
        </q-btn>
      </div>
    </div>
    <div size="A4" class="q-pa-md printMe">
      <table class="table" v-if="tasData.schoolname">
        <tr>
          <th colspan="3">
            <div align="center" class="text-h5 text-bold">{{tasData.schoolname}}</div>
            <hr class="q-mt-md">
            <div align="center" class="text-h6 text-bold">เฉลย</div>
          </th>
        </tr>
      </table>
      <div class="q-pl-md q-pr-md">
        <table class="table" v-for="(item,index) in dataShow" :key="index">
          <thead v-show="item.length">
            <tr>
              <td>
                <div></div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(value,index1) in dataShow[index]" :key="index1">
              <td style="width:30px;vertical-align: top">
                <div class="q-mt-md">
                  <span v-if="index == 'vocabulary'">{{index1 + 1}}.</span>
                  <span
                    v-else-if="index == 'grammar'"
                  >{{index1 + 1 + dataShow['vocabulary'].length}}.</span>
                  <span
                    v-else-if="index == 'reading'"
                  >{{index1 + 1 + dataShow['vocabulary'].length + dataShow['grammar'].length}}.</span>
                  <span
                    v-else-if="index == 'writing'"
                  >{{index1 + 1 + dataShow['vocabulary'].length + dataShow['grammar'].length + dataShow['reading'].length}}.</span>
                  <span
                    v-else-if="index == 'listening'"
                  >{{index1 + 1 + dataShow['vocabulary'].length + dataShow['grammar'].length + dataShow['reading'].length + dataShow['writing'].length}}.</span>
                </div>
              </td>
              <td>
                <div class="q-mb-md">
                  <div class="row q-mt-sm q-pl-xs q-pr-lg">
                    <table class="table">
                      <tr>
                        <td style="width:50%;vertical-align: top">
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 1"
                            v-html="'(a) ' + value.choice1"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 2"
                            v-html="'(b) ' + value.choice2"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 3"
                            v-html="'(c) ' + value.choice3"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 4"
                            v-html="'(d) ' + value.choice4"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 5"
                            v-html="'(e) ' + value.choice5"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 6"
                            v-html="'(f) ' + value.choice6"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 7"
                            v-html="'(g) ' + value.choice7"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 8"
                            v-html="'(h) ' + value.choice8"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 9"
                            v-html="'(i) ' + value.choice9"
                          ></div>
                          <div
                            class="q-mt-sm"
                            v-if="value.correctanswer == 10"
                            v-html="'(j) ' + value.choice10"
                          ></div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      tasData: {
        key: this.$store.state.system.tasData.key,
        schoolcode: this.$store.state.system.tasData.schoolcode,
        schoolname: ""
      },
      dataBasic: {},
      dataShow: {},
      test: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push("/genexam");
    },
    async loadBasicData() {
      this.loadingShow("กำลังโหลดข้อมูลกรุณารอสักครู่");

      // โหลดข้อมูล : โรงเรียน
      let loadSchoolData = await db
        .collection("school")
        .doc(this.tasData.schoolcode)
        .get();

      this.tasData.schoolname = "โรงเรียน" + loadSchoolData.data().name; // เก็บข้อมูล : ชื่อโรงเรียน

      this.dataShow = this.$store.state.system.tasExam;

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadBasicData();
  }
};
</script>

<style>
body {
  background: rgb(204, 204, 204);
}
.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 80px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>
