<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize"/>
    <div
      align="right"
      id="printBtn"
      :class="{'print-bar ':innerWidth < 1035,'fixed fixed-top-right q-pa-sm':innerWidth >= 1035}"
    >
      <div :class="{'print-bar-color':innerWidth < 1035}">
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn':innerWidth < 1035,'bg-blue':innerWidth >= 1035}"
          @click="printBtn()"
          round
        >
          <q-icon name="fas fa-print" color="white"/>
        </q-btn>
        <!-- <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn2':innerWidth < 1035,'bg-red':innerWidth >= 1035}"
          @click="closeBtn()"
          round
        >
          <q-icon name="fas fa-times" color="white"/>
        </q-btn>-->
      </div>
    </div>
    <div size="A4" class="q-pa-md printMe" v-for="(item,index) in dataSet.image" :key="index">
      <table class="table">
        <thead>
          <tr>
            <th colspan="3">
              <q-toolbar class="text-h5">
                <div align="left">WINNER ENGLISH</div>
                <q-space/>
                <div>
                  <span>L{{practice.level}}</span>
                  <span>U{{practice.unit}}</span>
                </div>
              </q-toolbar>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size:20px;" v-if="index == 0">
            <td>
              <div class="q-pl-md q-mt-sm">
                <span>ชื่อ ...................................................................................................................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm">
                <span>ชั้น ...........................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm q-pr-md">
                <span>เลขที่ ...........................</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="q-mt-md">
                <div v-for="(img,index1) in item.length" :key="index1" class="q-pa-sm">
                  <img :src="item[img -1]" style="width:100%;">
                  <div align="center" class="text-body1 q-pa-sm">
                    <span v-if="index == 0">Slide {{index1 + 1}}</span>
                    <span v-if="index == 1">Slide {{index1 + 3}}</span>
                    <span v-if="index == 2">Slide {{index1 + 5}}</span>
                    <span v-if="index == 3">Slide {{index1 + 7}}</span>
                    <span v-if="index == 4">Slide {{index1 + 9}}</span>
                    <span v-if="index == 5">Slide {{index1 + 11}}</span>
                    <span v-if="index == 6">Slide {{index1 + 13}}</span>
                    <span v-if="index == 7">Slide {{index1 + 15}}</span>
                    <span v-if="index == 8">Slide {{index1 + 17}}</span>
                    <span v-if="index == 9">Slide {{index1 + 19}}</span>
                    <span v-if="index == 10">Slide {{index1 + 21}}</span>
                  </div>
                  <hr style="border-style: dotted;">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practice: {
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      dataSet: {
        image: []
      },
      dataImageLength: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      window.close();
    },
    async loadBasicData() {
      this.loadingShow();
      let newLevel =
        this.practice.level > 9
          ? this.practice.level
          : "0" + this.practice.level;
      let newUnit =
        this.practice.unit > 9 ? this.practice.unit : "0" + this.practice.unit;
      let levelunit = "L" + newLevel + "U" + newUnit;

      let response = await axios.get(
        this.imagepath +
          "/api/checkdata.php" +
          "?level=" +
          this.practice.level +
          "&unit=" +
          this.practice.unit
      );

      let responseLength = response.data[0].grammarslide;
      let newDataImage = [];
      for (let i = 1; i <= responseLength; i++) {
        let newimagepath =
          (await this.imagepath) +
          "/slide_grammar/" +
          levelunit +
          "/Slide" +
          i +
          ".JPG";

        newDataImage.push(newimagepath);
      }

      newDataImage.pop();

      let newNumber = Math.ceil(newDataImage.length / 2);
      let setFirstNumber = 0;
      let setLastNumber = 2;
      let saveNew = [];
      for (let i = 1; i <= newNumber; i++) {
        if (i) {
          saveNew = newDataImage.slice(setFirstNumber, setLastNumber);
          setFirstNumber += 2;
          setLastNumber += 2;
        }

        this.dataSet.image.push(saveNew);
      }

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadBasicData();
  }
};
</script>

<style>
body {
  background: rgb(204, 204, 204);
}
.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 80px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  height: 297mm;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>
