<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize"/>
    <div
      align="right"
      id="printBtn"
      :class="{'print-bar ':innerWidth < 1035,'fixed fixed-top-right q-pa-sm':innerWidth >= 1035}"
    >
      <div :class="{'print-bar-color':innerWidth < 1035}">
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn':innerWidth < 1035,'bg-blue':innerWidth >= 1035}"
          @click="printBtn()"
          round
        >
          <q-icon name="fas fa-print" color="white"/>
        </q-btn>
        <!-- <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn2':innerWidth < 1035,'bg-red':innerWidth >= 1035}"
          @click="closeBtn()"
          round
        >
          <q-icon name="fas fa-times" color="white"/>
        </q-btn>-->
      </div>
    </div>
    <div size="A4" class="q-pa-md printMe">
      <table class="table">
        <tr>
          <th colspan="3">
            <q-toolbar class="text-h5">
              <div align="left">WINNER ENGLISH</div>
              <q-space/>
              <div>
                <span>L{{practice.level}}</span>
                <span>U{{practice.unit}}</span>
              </div>
            </q-toolbar>
          </th>
        </tr>
        <tr style="font-size:20px;" v-if="practice.type == 1">
          <td>
            <div class="q-pl-md q-mt-sm">
              <span>ชื่อ ...................................................................................................................</span>
            </div>
          </td>
          <td>
            <div class="q-mt-sm">
              <span>ชั้น ...........................</span>
            </div>
          </td>
          <td>
            <div class="q-mt-sm q-pr-md">
              <span>เลขที่ ...........................</span>
            </div>
          </td>
        </tr>
        <tr v-if="practice.type == 1">
          <td colspan="3">
            <div align="center" class="q-mt-lg">
              <span class="text-h5">
                แบบฝึกหัด
                <span v-if="practice.index == 0"></span>
                <span v-else>{{practice.index}}</span>
              </span>
            </div>
          </td>
        </tr>
        <tr v-if="practice.type == 1">
          <td colspan="3">
            <div align="left" class="q-pl-md q-mt-lg q-pr-md">
              <span class="text-h6" v-html="dataBasic.instructionEng"></span>
            </div>
            <div align="left" class="q-pl-md q-mt-sm q-pr-md">
              <span class="text-h6" v-html="dataBasic.instructionThai"></span>
            </div>
          </td>
        </tr>
      </table>
      <div class="text-body1" v-if="practice.type == 1">
        <table class="table" v-for="(item,index) in dataShow" :key="index">
          <thead>
            <tr>
              <td colspan="2">
                <div class="q-mt-lg"></div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="q-pl-md q-mt-sm">
                  <span>{{index + 1}}.&nbsp;</span>
                  <span v-html="item.question"></span>
                  <span>&nbsp;(slide {{item.slide}})</span>
                </div>
                <div class="q-mt-sm q-pl-lg q-pr-lg">
                  <table class="table">
                    <tr>
                      <td style="width:50%;vertical-align: top">
                        <div class="q-mt-sm" v-if="item.choice1" v-html="'a). ' + item.choice1"></div>
                        <div class="q-mt-sm" v-if="item.choice3" v-html="'c). ' + item.choice3"></div>
                        <div class="q-mt-sm" v-if="item.choice5" v-html="'e). ' + item.choice5"></div>
                        <div class="q-mt-sm" v-if="item.choice7" v-html="'g). ' + item.choice7"></div>
                        <div class="q-mt-sm" v-if="item.choice9" v-html="'i).' + item.choice9"></div>
                      </td>
                      <td style="width:50%;vertical-align: top">
                        <div class="q-mt-sm" v-if="item.choice2" v-html="'b). ' + item.choice2"></div>
                        <div class="q-mt-sm" v-if="item.choice4" v-html="'d). ' + item.choice4"></div>
                        <div class="q-mt-sm" v-if="item.choice6" v-html="'f). ' + item.choice6"></div>
                        <div class="q-mt-sm" v-if="item.choice8" v-html="'h). ' + item.choice8"></div>
                        <div class="q-mt-sm" v-if="item.choice10" v-html="'j). ' + item.choice10"></div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div class="text-body1" v-if="practice.type == 2">
        <table class="table" v-for="(item2,index2) in dataShow" :key="index2">
          <tr v-if="index2 == 0">
            <td>
              <div align="center">
                <span class="text-h5">
                  เฉลยแบบฝึกหัด
                  <span v-if="practice.index == 0"></span>
                  <span v-else>{{practice.index}}</span>
                </span>
              </div>
            </td>
          </tr>
          <thead>
            <tr>
              <td>
                <div class="q-mt-lg"></div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <div class="q-mt-sm q-pl-lg q-pr-lg">
                <table class="table">
                  <tr>
                    <td
                      style="width:50%;vertical-align: top"
                      v-if="practice.name == 'multiple choices'"
                    >
                      <div v-if="item2.correctAnswer == 1">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'a). ' + item2.choice1"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 2">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'b). ' + item2.choice2"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 3">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'c). ' + item2.choice3"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 4">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'d). ' + item2.choice4"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 5">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'e). ' + item2.choice5"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 6">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'f). ' + item2.choice6"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 7">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'g). ' + item2.choice7"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 8">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'h). ' + item2.choice8"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 9">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'i). ' + item2.choice9"></span>
                      </div>
                      <div v-if="item2.correctAnswer == 10">
                        <span>{{index2 + 1}}.</span>
                        <span class="q-pl-lg" v-html="'j). ' + item2.choice10"></span>
                      </div>
                    </td>
                    <td v-else>
                      <div class="row">
                        <div class="col-1" style="width:35px;">{{index2 + 1}}.</div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 0"
                          v-html=" 'คำตอบที่ 1: ' + item2.answer1"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 1"
                          v-html=" 'คำตอบที่ 2: ' + item2.answer2"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 2"
                          v-html=" 'คำตอบที่ 3: ' + item2.answer3"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 3"
                          v-html=" 'คำตอบที่ 4: ' + item2.answer4"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 4"
                          v-html=" 'คำตอบที่ 5: ' + item2.answer5"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 5"
                          v-html=" 'คำตอบที่ 6: ' + item2.answer6"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 6"
                          v-html=" 'คำตอบที่ 7: ' + item2.answer7"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 7"
                          v-html=" 'คำตอบที่ 8: ' + item2.answer8"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 8"
                          v-html=" 'คำตอบที่ 9: ' + item2.answer9"
                        ></div>
                        <div class="col-1" style="width:35px;"></div>
                        <div
                          class="col-11"
                          v-if="item2.answerRow > 9"
                          v-html=" 'คำตอบที่ 10: ' + item2.answer10"
                        ></div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        name: this.$route.params.practice,
        type: this.$route.params.type,
        index: this.$route.params.index
      },
      dataBasic: {
        instructionEng: "",
        instructionThai: ""
      },
      dataShow: [],
      setSlide: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    async loadBasicData() {
      this.loadingShow();
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      let newName = this.practice.name;
      let practice;

      if (newName == "multiple choices") {
        practice = "multiplechoice";
      }
      if (newName == "fill in the blanks") {
        practice = "fillintheblank";
      }

      let loadPracticeQuestion = await db
        .collection(practice)
        .doc(this.practice.key)
        .get();

      this.dataBasic.instructionEng = loadPracticeQuestion.data().instructionEng
        ? loadPracticeQuestion.data().instructionEng
        : loadPracticeQuestion.data().instructioneng;
      this.dataBasic.instructionThai = loadPracticeQuestion.data()
        .instructionThai
        ? loadPracticeQuestion.data().instructionThai
        : loadPracticeQuestion.data().instructionthai;

      let loadPracticeData = await db
        .collection(practice)
        .doc(this.practice.key)
        .collection("server")
        .get();

      let setSlide = "";
      let dataArr = [];

      for (const doc of loadPracticeData.docs) {
        if (newName == "multiple choices") {
          if (doc.data().slide != "") {
            setSlide += "," + doc.data().slide;
          }

          dataArr.push(doc.data());
          // console.log(setSlide.length);
        }
        if (newName == "fill in the blanks") {
          let newMatch = doc
            .data()
            .question.match(/<span [^>]+>([^<]+)<\/span>/g);

          if (newMatch) {
            let newQuestion;
            let newMatchlength = newMatch.length;
            for (let i = 0; i < newMatchlength; i++) {
              newQuestion = doc
                .data()
                .question.replace(
                  new RegExp(newMatch[i], "g"),
                  "<span style='display:inline-block;border-bottom:1px solid#000;width:100px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>"
                );
            }

            let newData = {
              question: newQuestion
            };

            let dataFinal = { ...doc.data(), ...newData };

            dataArr.push(dataFinal);
          }
        }
      }

      setSlide = setSlide.substr(1);
      setSlide = setSlide.split(",");
      setSlide = [...new Set(setSlide)];

      setSlide.sort((a, b) => {
        return 0.5 - Math.random();
      });

      this.dataShow = dataArr;

      this.dataShow.sort((a, b) => {
        if (this.practice.name == "multiple choices") {
          return Number(a.order) - Number(b.order);
        } else {
          return Number(a.orderid) - Number(b.orderid);
        }
      });

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadBasicData();
  }
};
</script>

<style >
body {
  background: rgb(204, 204, 204);
}
.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 80px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100% !important;
  border-collapse: collapse;
}

.table-full {
  width: 100% !important;
  border-collapse: collapse;
}

.table-full tr {
  width: 100% !important;
}

.table-full tr td {
  width: 50% !important;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>

