<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize" />
    <div
      align="right"
      id="printBtn"
      :class="{'print-bar ':innerWidth < 1035,'fixed fixed-top-right q-pa-sm':innerWidth >= 1035}"
    >
      <div :class="{'print-bar-color':innerWidth < 1035}">
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn':innerWidth < 1035,'bg-blue':innerWidth >= 1035}"
          @click="printBtn()"
          round
        >
          <q-icon name="fas fa-print" color="white" />
        </q-btn>
        <!-- <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn2':innerWidth < 1035,'bg-red':innerWidth >= 1035}"
          @click="closeBtn()"
          round
        >
          <q-icon name="fas fa-times" color="white"/>
        </q-btn>-->
      </div>
    </div>
    <div size="A4" class="q-pa-md printMe">
      <table class="table">
        <thead>
          <tr>
            <th>
              <div class="q-pb-lg"></div>
            </th>
          </tr>
        </thead>
        <tr>
          <th colspan="3">
            <q-toolbar class="text-h5" style="margin-top:-20px;">
              <div align="left">WINNER ENGLISH</div>
              <q-space />
              <div>
                <span>L{{practice.level}}</span>
                <span>U{{practice.unit}}</span>
              </div>
            </q-toolbar>
          </th>
        </tr>

        <tbody>
          <tr style="font-size:20px;">
            <td>
              <div class="q-pl-md q-mt-sm">
                <span>ชื่อ ...................................................................................................................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm">
                <span>ชั้น ...........................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm q-pr-md">
                <span>เลขที่ ...........................</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div align="center" class="q-mt-lg">
                <span class="text-h5" v-html="dataBasic.titleEng"></span>
              </div>
              <div class="q-mt-md" align="center" v-if="practice.level <= 6">
                <img v-lazy="loadImgPath" style="max-width:600px;width:100%;" />
              </div>
              <div class="q-mt-md" align="center" v-if="practice.level > 6">
                <img v-lazy="loadImgPath" style="max-width:500px;width:100%;" />
              </div>
              <div class="q-px-md q-mt-lg">
                <span
                  class="text-h6"
                  :class="{'text-h6':practice.level <= 6,'text-body1':practice.level > 6}"
                  v-html="dataBasic.contentEng"
                ></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>

    <!-- <div size="A4" class="q-pa-md printMe">
      <table class="table">
        <thead>
          <tr>
            <th colspan="3">
              <q-toolbar class="text-h5">
                <div align="left">WINNER ENGLISH</div>
                <q-space />
                <div>
                  <span>L{{practice.level}}</span>
                  <span>U{{practice.unit}}</span>
                </div>
              </q-toolbar>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size:20px;">
            <td>
              <div class="q-pl-md q-mt-sm">
                <span>ชื่อ ...................................................................................................................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm">
                <span>ชั้น ...........................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm q-pr-md">
                <span>เลขที่ ...........................</span>
              </div>
            </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
      <br />
    </div>-->
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practice: {
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      dataBasic: {},
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      window.close();
    },
    async loadBasicData() {
      this.loadingShow();
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      //Find Reading practice key
      let loadPractice = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("order", ">", 3000)
        .where("order", "<", 3999)
        .get();

      if (loadPractice.size > 0) {
        let loadPracticeName = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .doc(loadPractice.docs[0].id)
          .get();

        let newName;

        if (
          loadPracticeName.data().practicetype == "reading (Multiple choices)"
        ) {
          newName = "readingmultiple";
        }

        if (
          loadPracticeName.data().practicetype == "reading (Fill in the blanks)"
        ) {
          newName = "readingfillin";
        }

        let loadPracticeData = await db
          .collection(newName)
          .doc(loadPractice.docs[0].id)
          .collection("server")
          .doc("data")
          .collection("content")
          .doc("data");

        loadPracticeData.get().then(data => {
          let reg = new RegExp("\\b" + "tab" + "\\b", "g");

          let newContentEng = {
            contentEng: data
              .data()
              .contentEng.replace(reg, "")
              .replace(/\[/g, "")
              .replace(/\]/g, "")
          };

          let final = {
            ...data.data(),
            ...newContentEng
          };

          this.dataBasic = final;
        });

        loadPracticeData
          .collection("extraWord")
          .where("uselearn", "==", true)
          .get()
          .then(extra => {
            let extralist = [];

            if (extra.size > 0) {
              for (const doc of extra.docs) {
                extralist.push(doc.data());
              }
              extralist.splice(9, 1);

              this.readingList = extralist;
            }
          });
      }

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  computed: {
    loadImgPath() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      return this.imagepath + "/pic_reading/" + levelunit + ".jpg";
    }
  },
  mounted() {
    this.loadBasicData();
  }
};
</script>

<style>
body {
  background: rgb(204, 204, 204);
}
.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 80px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>
