<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize"/>
    <div
      align="right"
      id="printBtn"
      :class="{'print-bar ':innerWidth < 1035,'fixed fixed-top-right q-pa-sm':innerWidth >= 1035}"
    >
      <div :class="{'print-bar-color':innerWidth < 1035}">
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn1':innerWidth < 1035,'bg-blue':innerWidth >= 1035}"
          @click="printBtn()"
          round
        >
          <q-icon name="fas fa-print" color="white"/>
        </q-btn>
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn':innerWidth < 1035,'bg-red':innerWidth >= 1035}"
          @click="closeBtn()"
          round
        >
          <q-icon name="fas fa-times" color="white"/>
        </q-btn>
      </div>
    </div>
    <div size="A4" class="printMe q-pa-md" v-if="isData">
      <table class="table">
        <tr>
          <th colspan="4">
            <div
              class="row justify-center items-center bg-light-blue-9 q-mb-md q-mt-sm"
              style="border-radius:7px 0px 0px 7px;"
            >
              <div class="col-3 bg-white" style="border-radius:7px;border:2px solid#1D76D0;">
                <img src="../../assets/icon-logo.png" style="width:150px;margin-top:7px;">
              </div>
              <div
                class="col-9 q-pl-lg q-pr-lg text-white bg-light-blue-9"
                style="border-radius:0px 7px 7px 0px;font-size:18px;font-weight:500;"
              >
                <div align="center">
                  <span>{{dataSchool.schoolName}}</span>
                </div>
                <hr class="bg-white">
                <div align="center">
                  <span>ปีการศึกษา {{dataSchool.academicYear}}</span>
                  <span
                    style="border-left:0.5mm solid#fff;margin-left:15px;padding-left:15px;"
                  >ชั้น{{setClassSchool}}</span>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th colspan="4">
            <div align="center">
              <span
                v-if="dataSchool.unitStart == dataSchool.unitEnd"
                class="text-h6"
              >ผลคะแนนเก็บของ Unit {{dataSchool.unitStart}}</span>
              <span
                v-else
                class="text-h6"
              >ผลคะแนนเก็บตั้งแต่ Unit {{dataSchool.unitStart}} - {{dataSchool.unitEnd}}</span>
              <br>
              <span class="text-h6">คะแนนเต็ม {{dataSchool.score}} คะแนน</span>
            </div>
          </th>
        </tr>
      </table>
      <table class="table-data">
        <thead>
          <tr>
            <th colspan="4">
              <div class="q-mt-md"></div>
            </th>
          </tr>
          <tr class="bg-grey-8 text-white">
            <th style="width:100px;border:1px solid#000;">
              <div class="text-body1 q-pa-sm" style="font-weight:100;">
                <span>เลขที่</span>
              </div>
            </th>
            <th style="border:1px solid#000">
              <div class="text-body1 q-pa-sm" style="font-weight:100;">
                <span>ชื่อ-นามสกุล</span>
              </div>
            </th>
            <th style="width:120px;border:1px solid#000;">
              <div align="center" class="text-body1 q-pa-sm" style="font-weight:100;">
                <span>คะแนนเก็บ</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in dataShow" :key="index">
            <td style="border:1px solid#000;">
              <div class="q-mt-sm">
                <div align="center" class="text-body1">{{item.studentno}}</div>
              </div>
            </td>
            <td style="border:1px solid#000;">
              <div class="q-mt-sm">
                <div
                  align="left"
                  class="q-pl-md q-pr-md text-body1"
                >{{item.name + " " + item.surname}}</div>
              </div>
            </td>
            <td style="border:1px solid#000;">
              <div class="q-mt-sm">
                <div align="center" class="text-body1">{{item.score.toFixed(2)}}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      dataSchool: {
        schoolName: "",
        academicYear: "",
        classRoom: "",
        unitStart: "",
        unitEnd: "",
        score: ""
      },
      dataShow: [],
      isData: false,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push("/score/");
    },
    async loadBasicData() {
      this.loadingShow();

      let data = this.$route.params.dataShow;
      let dataSchool = this.$route.params.dataBasic;

      if (
        data == "" ||
        (data == undefined && dataSchool == "") ||
        dataSchool == undefined
      ) {
        this.$router.push("/score/");
        return;
      } else {
        this.isData = true;

        let loadSchoolName = await db
          .collection("school")
          .doc(dataSchool.schoolcode)
          .get();

        this.dataSchool.schoolName = "โรงเรียน" + loadSchoolName.data().name;
        this.dataSchool.academicYear = dataSchool.academicyear;
        this.dataSchool.classRoom = dataSchool.class;
        this.dataSchool.unitStart = dataSchool.unitStart;
        this.dataSchool.unitEnd = dataSchool.unitEnd;
        this.dataSchool.score = dataSchool.score;

        this.dataShow = data;
      }

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  computed: {
    setClassSchool() {
      let newData = this.dataSchool.classRoom;
      let newClass;
      if (newData[0] == "ป") {
        newData = newData.substring(2, newData.length);

        newClass = "ประถมศึกษาปีที่ " + newData;
      }
      if (newData[0] == "ม") {
        newData = newData.substring(2, newData.length);

        newClass = "มัธยมศึกษาปีที่ " + newData;
      }
      return newClass;
    }
  },
  mounted() {
    this.loadBasicData();
  }
};
</script>

<style>
body {
  background: rgb(204, 204, 204);
}
.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 80px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-data {
  width: 100%;
  border-collapse: collapse;
  padding-top: 10px;
}

.brx {
  border: 1px solid#f00;
}

.q-mt-md {
  margin-top: 0px;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>
