<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize"/>
    <div
      align="right"
      id="printBtn"
      :class="{'print-bar ':innerWidth < 1035,'fixed fixed-top-right q-pa-sm':innerWidth >= 1035}"
    >
      <div :class="{'print-bar-color':innerWidth < 1035}">
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn':innerWidth < 1035,'bg-blue':innerWidth >= 1035}"
          @click="printBtn()"
          round
        >
          <q-icon name="fas fa-print" color="white"/>
        </q-btn>
        <!-- <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn2':innerWidth < 1035,'bg-red':innerWidth >= 1035}"
          @click="closeBtn()"
          round
        >
          <q-icon name="fas fa-times" color="white"/>
        </q-btn>-->
      </div>
    </div>

    <div size="A4" class="printMe q-pa-md">
      <table class="table">
        <tr>
          <th>
            <q-toolbar class="text-h5">
              <div align="left">WINNER ENGLISH</div>
              <q-space/>
              <div>
                <span>L{{practice.level}}</span>
                <span>U{{practice.unit}}</span>
              </div>
            </q-toolbar>
          </th>
        </tr>
      </table>
      <table class="table">
        <tr style="font-size:20px;">
          <td>
            <div class="q-pl-md q-mt-sm">
              <span>ชื่อ ...................................................................................................................</span>
            </div>
          </td>
          <td>
            <div class="q-mt-sm">
              <span>ชั้น ...........................</span>
            </div>
          </td>
          <td>
            <div class="q-mt-sm q-pr-md">
              <span>เลขที่ ...........................</span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div align="center" class="q-mt-lg">
              <span class="text-h5">แบบฝึกหัด</span>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr v-for="(item,index) in dataShow" :key="index">
          <td>
            <div class="q-mt-sm">
              <div align="left" class="q-pl-md text-body1 q-pa-sm">
                <span style="display:inline-block;width:30px;">{{index + 1}}.</span>
              </div>
            </div>
          </td>
          <td>
            <div class="q-mt-sm">
              <div align="left" class="text-body1 q-pa-sm q-pr-lg">
                <span v-html="item.meaning"></span>
              </div>
            </div>
          </td>
          <td>
            <div class="q-mt-sm">
              <div align="left" class="q-pl-xl text-body1 q-pa-sm">
                <span v-for="(value,index1) in dataShow[index].vocabulary" :key="index1">
                  <span v-html="value"></span>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div size="A4" class="q-pa-md printMe">
      <table class="table">
        <thead>
          <tr>
            <th colspan="3">
              <q-toolbar class="text-h5">
                <div align="left">WINNER ENGLISH</div>
                <q-space/>
                <div>
                  <span>L{{practice.level}}</span>
                  <span>U{{practice.unit}}</span>
                </div>
              </q-toolbar>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size:20px;">
            <td>
              <div class="q-pl-md q-mt-sm">
                <span>ชื่อ ...................................................................................................................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm">
                <span>ชั้น ...........................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm q-pr-md">
                <span>เลขที่ ...........................</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div align="center" class="q-mt-lg">
                <span class="text-h5">แบบฝึกหัด</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="text-body1 q-pa-md">
                <div class="bordered-answer q-pa-md">
                  <span v-for="(item,index) in answerCorrect" :key="index">
                    <span>{{item}}</span>&nbsp;
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <tr v-for="(item,index) in dataShow2" :key="index">
            <td colspan="3">
              <div class="q-mt-sm">
                <div align="left" class="q-pl-md text-body1 q-pa-sm">
                  <table>
                    <tr>
                      <td style="vertical-align:top;">
                        <span style="display:inline-block;width:40px;">{{index + 1}}.</span>
                      </td>
                      <td>
                        <span v-html="item.question"></span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practice: {
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      dataShow: [],
      dataShow2: [],
      answerCorrect: [],
      schoolTypeList: [],
      output: null,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    async loadBasicData() {
      this.loadingShow();
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      let loadPracticeData = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("practicetype", "==", "flashcard")
        .get();

      let loadFlashcardData = await db
        .collection("flashcard")
        .doc(loadPracticeData.docs[0].id)
        .collection("server")
        .orderBy("order")
        .get();

      for (const doc of loadFlashcardData.docs) {
        let newSplitVocab = doc.data().vocabulary.split("");
        let newMeaning = doc.data().meaning;
        let newVocab = [];
        let newData;
        for (let i = 1; i < newSplitVocab.length; i++) {
          if (newSplitVocab[i] == " ") {
            newData = newSplitVocab[i].replace(" ", "&nbsp;");
          } else {
            newData = newSplitVocab[i].replace(
              newSplitVocab[i],
              "<span style='display:inline-block;text-decoration: underline;margin-left:10px;'>&nbsp;</span>"
            );
          }

          newVocab.push(newData);
        }

        newVocab.unshift(newSplitVocab[0]);
        let newDataVocab = {
          key: doc.id,
          vocabulary: newVocab,
          meaning: newMeaning
        };
        this.dataShow.push(newDataVocab);
      }

      loadPracticeData = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("practicetype", "==", "multiple choices")
        .get();

      for (const doc of loadPracticeData.docs) {
        let dataOrder = doc.data().order;
        if (dataOrder <= 1998) {
          let loadMultipleData = await db
            .collection("multiplechoice")
            .doc(doc.id)
            .collection("server")
            .orderBy("order")
            .get();

          for (const result of loadMultipleData.docs) {
            let newData = result.data();

            let choiceNumber = "choice" + result.data().correctAnswer;
            for (let newAnswer in newData) {
              if (choiceNumber == newAnswer) {
                let newDataAnswer = newData[newAnswer].replace(
                  newData[newAnswer].match(/\[(.*?)\]/g),
                  ""
                );
                this.answerCorrect.push(newDataAnswer.trim());
                this.answerCorrect.sort(() => {
                  return 0.5 - Math.random();
                });
              }
            }

            let newDataMultiple = {
              question: result.data().question
            };

            this.dataShow2.push(newDataMultiple);
          }
        }
      }
      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadBasicData();
  }
};
</script>

<style >
body {
  background: rgb(204, 204, 204);
}

.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 80px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  height: 297mm;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.bordered-answer {
  display: block;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>

