<template>
  <div class="bg-print">
    <q-resize-observer @resize="onResize"/>
    <div
      align="right"
      id="printBtn"
      :class="{'print-bar ':innerWidth < 1035,'fixed fixed-top-right q-pa-sm':innerWidth >= 1035}"
    >
      <div :class="{'print-bar-color':innerWidth < 1035}">
        <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn':innerWidth < 1035,'bg-blue':innerWidth >= 1035}"
          @click="printBtn()"
          round
        >
          <q-icon name="fas fa-print" color="white"/>
        </q-btn>
        <!-- <q-btn
          class="q-ma-sm"
          :flat="innerWidth < 1035"
          :class="{'fix-btn2':innerWidth < 1035,'bg-red':innerWidth >= 1035}"
          @click="closeBtn()"
          round
        >
          <q-icon name="fas fa-times" color="white"/>
        </q-btn>-->
      </div>
    </div>
    <div size="A4" class="q-pa-md printMe" v-for="(item,index) in dataShow.vocab" :key="index">
      <table class="table">
        <thead>
          <tr>
            <th colspan="3">
              <q-toolbar class="text-h5">
                <div align="left">WINNER ENGLISH</div>
                <q-space/>
                <div>
                  <span>L{{practice.level}}</span>
                  <span>U{{practice.unit}}</span>
                </div>
              </q-toolbar>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size:20px;" v-if="index == 0">
            <td>
              <div class="q-pl-md q-mt-sm">
                <span>ชื่อ ...................................................................................................................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm">
                <span>ชั้น ...........................</span>
              </div>
            </td>
            <td>
              <div class="q-mt-sm q-pr-md">
                <span>เลขที่ ...........................</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div>
                <table class="table" v-for="(vocab,index1) in item.length" :key="index1">
                  <tbody>
                    <tr>
                      <td style="width:10px;">
                        <div class="q-mt-sm">
                          <div align="left" class="q-pl-md text-body1">
                            <span v-if="index == 0">{{index1 + 1}}.</span>
                            <span v-if="index == 1">{{index1 + 7}}.</span>
                            <span v-if="index == 2">{{index1 + 13}}.</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="q-mt-sm">
                          <div align="left" class="text-body1 q-pa-sm" style="font-weight: normal;">
                            <span v-html="item[vocab - 1].vocabulary"></span>
                            <span v-html="item[vocab - 1].pronounce"></span>
                            <span v-html="item[vocab - 1].meaning"></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <div class="q-mb-md q-pr-md q-pl-md">
                          <table class="table">
                            <tr>
                              <td style="border:1px dotted rgba(0, 0, 0, 0.2);">
                                <div align="center" class="text-h6">
                                  <div class="test-text"></div>
                                  <div class="test-text" style="border:none;"></div>
                                </div>
                              </td>
                              <td style="border:1px dotted rgba(0, 0, 0, 0.2);">
                                <div align="center" class="text-h6">
                                  <div class="test-text"></div>
                                  <div class="test-text" style="border:none;"></div>
                                </div>
                              </td>
                              <td style="border:1px dotted rgba(0, 0, 0, 0.2);">
                                <div align="center" class="text-h6">
                                  <div class="test-text"></div>
                                  <div class="test-text" style="border:none;"></div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practice: {
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      dataShow: {
        vocab: []
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    async loadBasicData() {
      this.loadingShow();
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      let loadPracticeData = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("practicetype", "==", "flashcard")
        .get();

      let loadFlashcardData = await db
        .collection("flashcard")
        .doc(loadPracticeData.docs[0].id)
        .collection("server")
        .orderBy("order")
        .get();

      let newDataVocab = [];

      for (const doc of loadFlashcardData.docs) {
        let newVocab = " " + doc.data().vocabulary + " ";
        let newMeaning = doc.data().meaning;
        let newPronounce = " (" + doc.data().pronounce + ") ";

        let sumData = {
          vocabulary: newVocab,
          meaning: newMeaning,
          pronounce: newPronounce
        };

        newDataVocab.push(sumData);
      }

      let newFlashcardLength = Math.ceil(newDataVocab.length / 6);
      let setFirstNumber = 0;
      let setLastNumber = 6;
      let saveNew = [];

      for (let i = 1; i <= newFlashcardLength; i++) {
        if (i) {
          saveNew = newDataVocab.slice(setFirstNumber, setLastNumber);
          setFirstNumber += 6;
          setLastNumber += 6;
        }
        this.dataShow.vocab.push(saveNew);
      }

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadBasicData();
  }
};
</script>

<style>
body {
  background: rgb(204, 204, 204);
}

.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.print-bar {
  width: 100%;
  min-width: max-content;
  margin-bottom: 80px;
}
.print-bar-color {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: rgb(43, 43, 43);
  z-index: 5000;
}
.fix-btn {
  position: fixed;
  right: 0;
}
.fix-btn1 {
  position: fixed;
  right: 0;
  margin-right: 65px;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  height: 297mm;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.bordered-answer {
  display: block;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
}

.brx {
  border: 1px solid#f00;
}

.test-text {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  height: 45px;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>