<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <div class="bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">{{dataBasic.schoolname}}</div>
        </q-toolbar>
        <hr />
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-md-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ชั้น / ห้อง"
              :options="dataBasic.classList"
              v-model="dataBasic.class"
              emit-value
              map-options
              @input="changeRoom()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
        </div>
      </div>
      <div class="q-mt-lg">
        <q-table
          :data="dataStudent"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr slot="body" slot-scope="props" :props="props" v-if="props.row.status == 'offline'">
            <q-td key="studentno" :props="props">
              <span>{{props.row.studentno}}</span>
            </q-td>
            <q-td key="name" :props="props">
              <div align="left">
                <span>{{props.row.name + " " + props.row.surname}}</span>
              </div>
            </q-td>
            <q-td colspan="5">
              <div align="center">
                <span class="text-red text-bold">ไม่ได้อยู่ในระบบ</span>
              </div>
            </q-td>
          </q-tr>
          <q-tr slot="body" slot-scope="props" :props="props" v-else>
            <q-td key="studentno" :props="props">
              <span>{{props.row.studentno}}</span>
            </q-td>
            <q-td key="name" :props="props">
              <div align="left">
                <span>{{props.row.name + " " + props.row.surname}}</span>
              </div>
            </q-td>
            <q-td key="levelunit" :props="props">
              <span>{{props.row.level + " / " + props.row.unit}}</span>
            </q-td>
            <q-td key="practicetype" :props="props">
              <span>{{props.row.world}}</span>
            </q-td>
            <q-td key="practiceName" :props="props">
              <span>{{props.row.practiceName}}</span>
            </q-td>
            <q-td key="speedlearn" :props="props">
              <div align="center" v-if="dataGetDate > props.row.expect">
                <img src="../assets/turtle.png" style="width:35px;" />
              </div>
              <div v-else>
                <span>-</span>
              </div>
            </q-td>
            <q-td key="failedexam" :props="props">
              <span
                v-if="props.row.failedexam"
                class="fas fa-sad-cry text-h4 text-bold text-primary"
              ></span>
              <span v-else>-</span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        class: "",
        classList: [],
        schoolname: "",
        academicYear: ""
      },
      dataGetDate: new Date().getTime(),
      dataStudent: [],
      unsubscribe: "",
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "studentno",
          label: "เลขที่",
          align: "center",
          style: "width:200px;",
          field: "studentno",
          sortable: true
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "center",
          field: "name",
          sortable: true
        },
        {
          name: "levelunit",
          label: "เลเวล / ยูนิต",
          align: "center",
          style: "width:200px;",
          field: "levelunit",
          sortable: true
        },
        {
          name: "practicetype",
          label: "ประเภท",
          align: "center",
          style: "width:200px;",
          field: "practicetype",
          sortable: true
        },
        {
          name: "practiceName",
          label: "แบบฝึกหัด",
          align: "center",
          style: "width:200px;",
          field: "practiceName",
          sortable: true
        },
        {
          name: "speedlearn",
          label: "ความเร็ว",
          align: "center",
          style: "width:200px;",
          field: "speedlearn",
          sortable: true
        },
        {
          name: "failedexam",
          label: "สอบไม่ผ่าน",
          align: "center",
          style: "width:200px;",
          field: "failedexam",
          sortable: true
        }
      ]
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setClassroomData"]),
    settingBtn() {
      this.$router.push("/score/setting");
    },
    async loadBasicData() {
      this.loadingShow("กำลังโหลดข้อมูลห้องเรียนอัจฉริยะกรุณารอสักครู่");

      // load : Date time
      var d = new Date();
      var n = "2562";

      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      let teacherClassRoom = this.$store.state.system.tasclassroom;

      let loadSchoolData = await db
        .collection("school")
        .doc(teacherData.schoolcode)
        .get();

      this.dataBasic.schoolname = "โรงเรียน" + loadSchoolData.data().name;

      // Load : Academicyear Data
      let loadAcademicyearData = await db
        .collection("academicyear")
        .where("schoolCode", "==", teacherData.schoolcode)
        .get();

      for (const doc of loadAcademicyearData.docs) {
        let newDoc = doc.data();
        var newTerm;
        var newAcademicyear;
        if (newDoc.year == n) {
          newTerm = newDoc.term;
          if (newTerm) {
            this.dataBasic.academicYear = newDoc.academicyear;
          }
        }
      }

      // Load : Room Data
      let loadRoomData = await db
        .collection("academicyear")
        .where("schoolCode", "==", teacherData.schoolcode)
        .where(
          "academicyear",
          "==",
          this.dataBasic.academicYear != "" ? this.dataBasic.academicYear : ""
        )
        .get();

      if (loadRoomData.size) {
        for (const doc of loadRoomData.docs) {
          let newDoc = doc.data();
          this.dataBasic.classList = [];
          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomP = "roomP" + i;

              if (roomSet == newRoomP) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                for (let j = 1; j <= newDocRoom; j++) {
                  newObjRoom = {
                    label: "ป." + i + "/" + j,
                    value: "ป." + i + "/" + j
                  };
                  this.dataBasic.classList.push(newObjRoom);
                }
              }
            }
          }

          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomM = "roomM" + i;

              if (roomSet == newRoomM) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                for (let j = 1; j <= newDocRoom; j++) {
                  newObjRoom = {
                    label: "ม." + i + "/" + j,
                    value: "ม." + i + "/" + j
                  };
                  this.dataBasic.classList.push(newObjRoom);
                }
              }
            }
          }
        }

        for (let i = 0; i < this.dataBasic.classList.length; i++) {
          if (this.dataBasic.classList[i].value == teacherClassRoom) {
            this.dataBasic.class = teacherClassRoom;
            break;
          } else {
            this.dataBasic.class = this.dataBasic.classList[0].value; //Show : Class Room List First Row
          }
        }
        this.loadStudentData();
      } else {
        this.dataBasic.class = "-- ยังไม่มีการลงทะเบียน --";
      }
    },
    changeRoom() {
      this.unsubscribe();

      this.loadStudentData();
    },
    async loadStudentData() {
      this.loadingShow("กำลังโหลดข้อมูลห้องเรียนอัจฉริยะกรุณารอสักครู่");

      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      let newTerm = this.dataBasic.academicYear.replace("/", "-");

      this.dataStudent = [];

      this.unsubscribe = db
        .collection("school")
        .doc(teacherData.schoolcode)
        .collection("monitor")
        .where("term", "==", newTerm)
        .where("room", "==", this.dataBasic.class)
        .onSnapshot(async data => {
          let studentArr = [];
          let sumDate;
          let newFailedexam;

          for (const doc of data.docs) {
            if (doc.exists) {
              let failedexam;
              let loadfailed = await db
                .collection("school")
                .doc(teacherData.schoolcode)
                .collection("student")
                .doc(doc.id)
                .collection("practicelog")
                .doc(doc.data().term)
                .collection("practicescore")
                .where("practicekey", "==", doc.data().practicekey)
                .where("status", "==", "failed")
                .get();

              if (loadfailed.size >= 2) {
                failedexam = true;
              } else {
                failedexam = false;
              }

              let dataKey = {
                key: doc.id,
                failedexam: failedexam
              };

              let dataFinal = { ...dataKey, ...doc.data() };
              studentArr.push(dataFinal);
              studentArr.sort((a, b) => {
                return Number(a.studentno) - Number(b.studentno);
              });
            }
          }

          this.dataStudent = studentArr;
          this.setClassroomData(this.dataBasic.class);
          this.loadingHide();
        });
    },
    async loadAxios() {
      let result = await axios(this.imagepath + "/api/gettime.php");
      this.dataGetDate = result.data[0].microtime;
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    setInterval(() => {
      this.loadAxios();
    }, 60000);
    this.loadBasicData();
    this.loadAxios();
  },
  watch: {
    dataGetDate() {
      let _this = this;
      if (_this.dataGetDate && _this.dataStudent.length) {
        var teacherData = _this.$store.state.system.tasData;
        for (let i = 0; i < _this.dataStudent.length; i++) {
          var sumDate =
            Number(_this.dataGetDate) -
            Number(_this.dataStudent[i].lastPracticeTime);

          if (sumDate > 1800000) {
            db.collection("school")
              .doc(teacherData.schoolcode)
              .collection("monitor")
              .doc(_this.dataStudent[i].key)
              .update({
                status: "offline"
              });
          }
        }
      }
    }
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}
.brx {
  border: 1px solid red;
}
</style>