<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">ระบบออกข้อสอบ</div>
        </q-toolbar>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-xl-2 col-sm-3 col-xs-12 self-center">
            <q-checkbox label="ชื่อบททดสอบ" v-model="dataCheck.title"/>
          </div>
          <div class="col-xl-10 col-sm-9 col-xs-12">
            <q-input
              outlined
              :readonly="!dataCheck.title"
              class="q-pa-sm"
              v-model="dataInput.title"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2 col-sm-3 col-xs-12 self-center">
            <q-checkbox label="วันเวลาสอบ" v-model="dataCheck.time"/>
          </div>
          <div class="col-xl-10 col-sm-9 col-xs-12">
            <q-input outlined :readonly="!dataCheck.time" class="q-pa-sm" v-model="dataInput.time"/>
          </div>
        </div>
        <div class="row q-pb-md">
          <div class="col-xs-12 col-sm-4">
            <q-select
              outlined
              v-model="dataInput.level"
              label="เลเวล"
              class="q-pa-sm"
              emit-value
              map-options
              :options="levelList"
              @input="loadUnit(dataInput.level)"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-xs-12 col-sm-4">
            <q-select
              outlined
              v-model="dataInput.unitStart"
              label="ยูนิตเริ่มต้น"
              class="q-pa-sm"
              emit-value
              map-options
              :options="unitList"
              @input="inputUnit()"
              ref="unitStart"
              :error="dataInput.unitStart > dataInput.unitEnd && dataInput.unitStart != dataInput.unitEnd"
              :rules="[val => dataInput.unitStart <= dataInput.unitEnd || 'ห้ามมากกว่า Unit สุดท้าย']"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-xs-12 col-sm-4">
            <q-select
              outlined
              v-model="dataInput.unitEnd"
              label="ยูนิตสุดท้าย"
              class="q-pa-sm"
              emit-value
              map-options
              :options="unitList"
              @input="inputUnit()"
              ref="unitEnd"
              :error="dataInput.unitEnd < dataInput.unitStart && dataInput.unitStart != dataInput.unitEnd"
              :rules="[val => dataInput.unitStart <= dataInput.unitEnd  || 'ห้ามน้อย Unit เริ่มต้น']"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
        </div>
      </div>

      <div class="q-pa-md">
        <hr>
      </div>
      <div class="mainbox">
        <q-tabs v-model="tab" inline-label align="left">
          <q-tab
            class="text-grey-7"
            name="percentType"
            label="จำนวนข้อทั้งหมด"
            v-if="innerWidth > 600"
          />
          <q-tab class="text-grey-7" name="percentType" label="ข้อทั้งหมด" v-else/>
          <q-tab
            class="text-grey-7"
            name="numberType"
            label="จำนวนข้อแต่ละทักษะ"
            v-if="innerWidth > 600"
          />
          <q-tab class="text-grey-7" name="numberType" label="ข้อแต่ละทักษะ" v-else/>
        </q-tabs>
        <q-tab-panels v-model="tab" animated class="bg-grey-2">
          <q-tab-panel name="percentType">
            <div class="text-body1 q-pt-md">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 q-pb-md">
                  <q-input
                    outlined
                    type="number"
                    class
                    label="จำนวนข้อทั้งหมด"
                    v-model="percentType.totalNumber"
                  ></q-input>
                </div>
              </div>
              <div class="row">
                <div class="self-start col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="percentType.useVocab"
                    @input="inputPercent()"
                    label="Vocabulary"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!percentType.useVocab"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="สัดส่วน (%)"
                    v-model="percentType.percentVocab"
                    @input="inputPercent()"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="percentType.useGrammar"
                    @input="inputPercent()"
                    label="Grammar"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!percentType.useGrammar"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="สัดส่วน (%)"
                    v-model="percentType.percentGrammar"
                    @input="inputPercent()"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="percentType.useReading"
                    @input="inputPercent()"
                    inputPercent
                    label="Reading"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!percentType.useReading"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="สัดส่วน (%)"
                    v-model="percentType.percentReading"
                    @input="inputPercent()"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="percentType.useWriting"
                    @input="inputPercent()"
                    label="Writing"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!percentType.useWriting"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="สัดส่วน (%)"
                    v-model="percentType.percentWriting"
                    @input="inputPercent()"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="percentType.useListening"
                    @input="inputPercent()"
                    label="Listening & Speaking"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!percentType.useListening"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="สัดส่วน (%)"
                    v-model="percentType.percentListening"
                    @input="inputPercent()"
                  />
                </div>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="numberType">
            <div class="text-body1">
              <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 q-pb-md">
                  <q-input
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="จำนวนข้อทั้งหมด"
                    v-model="numberType.totalNumber"
                    readonly
                    @input="inputNumber()"
                  ></q-input>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="numberType.useVocab"
                    @input="inputNumber()"
                    label="Vocabulary"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!numberType.useVocab"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="จำนวนข้อแต่ละ unit"
                    v-model="numberType.numberVocab"
                    @input="inputNumber()"
                    :rules="[val => val <= 5|| '']"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="numberType.useGrammar"
                    @input="inputNumber()"
                    label="Grammar"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!numberType.useGrammar"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="จำนวนข้อแต่ละ unit"
                    v-model="numberType.numberGrammar"
                    @input="inputNumber()"
                    :rules="[val => val <= 5|| '']"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="numberType.useReading"
                    @input="inputNumber()"
                    label="Reading"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!numberType.useReading"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="จำนวนข้อแต่ละ unit"
                    v-model="numberType.numberReading"
                    @input="inputNumber()"
                    :rules="[val => val <= 5|| '']"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="numberType.useWriting"
                    @input="inputNumber()"
                    label="Writing"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!numberType.useWriting"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="จำนวนข้อแต่ละ unit"
                    v-model="numberType.numberWriting"
                    @input="inputNumber()"
                    :rules="[val => val <= 5|| '']"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <q-checkbox
                    v-model="numberType.useListening"
                    @input="inputNumber()"
                    label="Listening & Speaking"
                  />
                </div>
                <div class="col-xs-12 col-sm-4">
                  <q-input
                    :readonly="!numberType.useListening"
                    outlined
                    type="number"
                    class="q-pa-sm"
                    label="จำนวนข้อแต่ละ unit"
                    v-model="numberType.numberListening"
                    @input="inputNumber()"
                    :rules="[val => val <= 5|| '']"
                  />
                </div>
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
        <div class="row q-pt-md q-pb-md" v-if="percentType.percentTotal > 100">
          <div class="col-12" align="center">
            <span class="text-body1">สัดส่วนมีค่าเกินกว่า 100% คุณครูต้อง</span> &nbsp;
            <span
              class="text-h4 text-red"
            >ลดสัดส่วนอีก {{percentType.percentTotal - percentType.percentMaxTotal}}%</span>
            <br>
            <span class="text-body1">ถึงจะสามารถสร้างข้อสอบได้</span>
          </div>
        </div>
        <div class="row q-pt-md q-pb-md" v-else-if="percentType.percentTotal < 100">
          <div class="col-12" align="center">
            <span class="text-body1">สัดส่วนมีค่าต่ำกว่า 100% คุณครูต้อง</span> &nbsp;
            <span
              class="text-h4 text-red"
            >เพิ่มสัดส่วนอีก {{percentType.percentMaxTotal - percentType.percentTotal}}%</span>
            <br>
            <span class="text-body1">ถึงจะสามารถสร้างข้อสอบได้</span>
          </div>
        </div>
        <div class="row q-pt-md q-pb-md" v-else>
          <div
            class="col-md-5 col-sm-6 col-xs-12 text-body1 text-center"
            :class="{'q-pa-md':innerWidth < 1000}"
          >
            <div class="q-pa-sm text-teal-5 q-ma-sm">
              <span class="hover" @click="settingBtn()">
                <span class="fas fa-info-circle"></span>
                <span class="q-ml-sm">การตั้งค่าหน้ากระดาษ</span>
              </span>
            </div>
          </div>
          <div
            class="col-md-7 col-sm-6 col-xs-12"
            :class="{'text-center':innerWidth < 600,'q-pa-md':innerWidth < 1000}"
          >
            <div v-if="tab == 'percentType' ">
              <q-btn
                color="teal-5"
                style="max-width:200px;width:100%;"
                class="q-ma-sm"
                @click="savePercentBtn()"
                label="สร้างข้อสอบ"
              />
              <q-btn
                color="teal-5"
                style="max-width:200px;width:100%;"
                class="q-ma-sm"
                @click="AnswerExamBtn()"
                v-if="isExamData"
                label="เฉลย"
              />
            </div>
            <div v-else>
              <q-btn
                color="teal-5"
                style="max-width:200px;width:100%;"
                class="q-ma-sm"
                @click="saveNumberTypeBtn()"
                label="สร้างข้อสอบ"
              />
              <q-btn
                color="teal-5"
                style="max-width:200px;width:100%;"
                class="q-ma-sm"
                @click="AnswerExamBtn()"
                v-if="isExamData"
                label="เฉลย"
              />
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      showText: {
        title: false,
        subtitle: ""
      },
      dataCheck: {
        title: false,
        time: false
      },
      dataInput: {
        title: "",
        time: "",
        level: "",
        unitStart: "-",
        unitEnd: "-"
      },
      levelList: [],
      unitList: [],
      tab: "percentType",
      percentType: {
        totalNumber: 10,
        useVocab: true,
        percentVocab: 20,
        useGrammar: true,
        percentGrammar: 20,
        useReading: true,
        percentReading: 20,
        useWriting: true,
        percentWriting: 20,
        useListening: true,
        percentListening: 20,
        percentTotal: 100,
        percentMaxTotal: 100
      },
      numberType: {
        totalNumber: 10,
        useVocab: true,
        numberVocab: 2,
        useGrammar: true,
        numberGrammar: 2,
        useReading: true,
        numberReading: 2,
        useWriting: true,
        numberWriting: 2,
        useListening: true,
        numberListening: 2
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      isExamData: false
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setExamData", "setLevelData"]),
    settingBtn() {
      this.$router.push("/pagesetup2");
    },
    inputPercent() {
      let newPercent;
      let newVocabData = this.percentType.useVocab
        ? Number(this.percentType.percentVocab)
        : 0;
      let newGrammarData = this.percentType.useGrammar
        ? Number(this.percentType.percentGrammar)
        : 0;
      let newReadingData = this.percentType.useReading
        ? Number(this.percentType.percentReading)
        : 0;
      let newWritingData = this.percentType.useWriting
        ? Number(this.percentType.percentWriting)
        : 0;
      let newListeningData = this.percentType.useListening
        ? Number(this.percentType.percentListening)
        : 0;

      newPercent = Number(
        newVocabData +
          newGrammarData +
          newReadingData +
          newWritingData +
          newListeningData
      );

      this.percentType.percentTotal = Number(newPercent);
    },
    inputNumber() {
      let newNumber;
      let newVocabData = this.numberType.useVocab
        ? Number(this.numberType.numberVocab)
        : 0;
      let newGrammarData = this.numberType.useGrammar
        ? Number(this.numberType.numberGrammar)
        : 0;
      let newReadingData = this.numberType.useReading
        ? Number(this.numberType.numberReading)
        : 0;
      let newWritingData = this.numberType.useWriting
        ? Number(this.numberType.numberWriting)
        : 0;
      let newListeningData = this.numberType.useListening
        ? Number(this.numberType.numberListening)
        : 0;

      newNumber =
        Number(
          newVocabData +
            newGrammarData +
            newReadingData +
            newWritingData +
            newListeningData
        ) *
        (this.dataInput.unitEnd - this.dataInput.unitStart + 1);

      this.numberType.totalNumber = Number(newNumber);
    },
    inputUnit() {
      this.$refs.unitStart.validate();
      this.$refs.unitEnd.validate();

      this.setExamData("");
      this.isExamData = false;

      this.inputNumber();
    },
    async savePercentBtn() {
      this.$refs.unitStart.validate();
      this.$refs.unitEnd.validate();

      if (this.$refs.unitStart.hasError || this.$refs.unitEnd.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      let newVocabData = this.percentType.useVocab
        ? (Number(this.percentType.percentVocab) / 100) *
          this.percentType.totalNumber
        : 0;
      let newGrammarData = this.percentType.useGrammar
        ? (Number(this.percentType.percentGrammar) / 100) *
          this.percentType.totalNumber
        : 0;
      let newReadingData = this.percentType.useReading
        ? (Number(this.percentType.percentReading) / 100) *
          this.percentType.totalNumber
        : 0;
      let newWritingData = this.percentType.useWriting
        ? (Number(this.percentType.percentWriting) / 100) *
          this.percentType.totalNumber
        : 0;
      let newListeningData = this.percentType.useListening
        ? (Number(this.percentType.percentListening) / 100) *
          this.percentType.totalNumber
        : 0;

      newVocabData = Math.floor(newVocabData);
      newGrammarData = Math.floor(newGrammarData);
      newReadingData = Math.floor(newReadingData);
      newWritingData = Math.floor(newWritingData);
      newListeningData = Math.floor(newListeningData);

      if (
        Number(newVocabData) +
          Number(newGrammarData) +
          Number(newReadingData) +
          Number(newWritingData) +
          Number(newListeningData) ==
        0
      ) {
        this.notifyRed("จำนวนข้อทั้งหมดต้องมากกว่าที่ระบุไว้");
        return;
      }

      let diffData =
        Number(this.percentType.totalNumber) -
        (Number(newVocabData) +
          Number(newGrammarData) +
          Number(newReadingData) +
          Number(newWritingData) +
          Number(newListeningData));

      let countSkill = 1;

      while (diffData > 0) {
        if (countSkill == 1) {
          if (newVocabData > 0) {
            newVocabData = Number(newVocabData) + 1;
            countSkill = 2;
          } else {
            countSkill = 2;
          }
        } else if (countSkill == 2) {
          if (newGrammarData > 0) {
            newGrammarData = Number(newGrammarData) + 1;
            countSkill = 3;
          } else {
            countSkill = 3;
          }
        } else if (countSkill == 3) {
          if (newReadingData > 0) {
            newReadingData = Number(newReadingData) + 1;
            countSkill = 4;
          } else {
            countSkill = 4;
          }
        } else if (countSkill == 4) {
          if (newWritingData > 0) {
            newWritingData = Number(newWritingData) + 1;
            countSkill = 5;
          } else {
            countSkill = 5;
          }
        } else if (countSkill == 5) {
          if (newListeningData > 0) {
            newListeningData = Number(newListeningData) + 1;
            countSkill = 1;
          } else {
            countSkill = 1;
          }
        }

        diffData =
          Number(this.percentType.totalNumber) -
          (Number(newVocabData) +
            Number(newGrammarData) +
            Number(newReadingData) +
            Number(newWritingData) +
            Number(newListeningData));
      }

      let newSaveData = {
        title: this.dataCheck.title ? this.dataInput.title : "",
        time: this.dataCheck.time ? this.dataInput.time : "",
        level: this.dataInput.level,
        unitStart: this.dataInput.unitStart,
        unitEnd: this.dataInput.unitEnd
      };

      let questionData = {
        vocabulary: newVocabData,
        grammar: newGrammarData,
        reading: newReadingData,
        writing: newWritingData,
        listening: newListeningData,
        type: 1
      };

      let dataFinal = { ...newSaveData, ...questionData };

      let tasKey = this.$store.state.system.tasData.key;

      await db
        .collection("printexamsetting")
        .doc(tasKey)
        .set(dataFinal);

      this.$router.push("/genexam/print/");
    },
    async saveNumberTypeBtn() {
      this.$refs.unitStart.validate();
      this.$refs.unitEnd.validate();

      if (this.$refs.unitStart.hasError || this.$refs.unitEnd.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      let newVocabData = this.numberType.useVocab
        ? Number(this.numberType.numberVocab)
        : 0;
      let newGrammarData = this.numberType.useGrammar
        ? Number(this.numberType.numberGrammar)
        : 0;
      let newReadingData = this.numberType.useReading
        ? Number(this.numberType.numberReading)
        : 0;
      let newWritingData = this.numberType.useWriting
        ? Number(this.numberType.numberWriting)
        : 0;
      let newListeningData = this.numberType.useListening
        ? Number(this.numberType.numberListening)
        : 0;

      let newSaveData = {
        title: this.dataCheck.title ? this.dataInput.title : "",
        time: this.dataCheck.time ? this.dataInput.time : "",
        level: this.dataInput.level,
        unitStart: this.dataInput.unitStart,
        unitEnd: this.dataInput.unitEnd
      };

      let questionData = {
        vocabulary: newVocabData,
        grammar: newGrammarData,
        reading: newReadingData,
        writing: newWritingData,
        listening: newListeningData,
        type: 2
      };

      let dataFinal = { ...newSaveData, ...questionData };

      let tasKey = this.$store.state.system.tasData.key;

      await db
        .collection("printexamsetting")
        .doc(tasKey)
        .set(dataFinal);

      this.$router.push("/genexam/print/");
    },
    AnswerExamBtn() {
      this.$router.push("/genexamanswer/print/");
    },
    async loadBasicData() {
      this.loadingShow();

      // Load : Teacher Data
      let teacherData = await this.$store.state.system.tasData;
      let levelactive = this.$store.state.system.taslevelactive;
      let unitactive = this.$store.state.system.tasunitactive;

      // Load : Teacher Level Data
      for (let levelset in teacherData) {
        if (teacherData[levelset] == true) {
          let newData = {
            label: levelset,
            value: Number(levelset)
          };
          this.levelList.push(newData);
        }
      }

      // Set : Teacher Level Active
      for (let i = 0; i < this.levelList.length; i++) {
        if (this.levelList[i].value == levelactive) {
          this.dataInput.level = levelactive;
          break;
        } else {
          this.dataInput.level = this.levelList[0].value;
        }
      }

      // Load : Unit Data
      let loadunitData = await db
        .collection("level")
        .where("name", "==", Number(this.dataInput.level))
        .get();

      for (const result of loadunitData.docs) {
        for (let i = 1; i <= result.data().unit; i++) {
          let newData = {
            label: i.toString(),
            value: i
          };
          this.unitList.push(newData);
          this.dataInput.unitStart = this.unitList[0].value;
          this.dataInput.unitEnd = this.unitList[0].value;
        }
      }
      this.loadingHide();
    },
    async loadUnit(data) {
      this.dataInput.unitStart = "-";
      this.dataInput.unitEnd = "-";

      this.setLevelData(Number(this.dataInput.level));

      await db
        .collection("level")
        .where("name", "==", Number(data))
        .get()
        .then(doc => {
          this.unitList = [];
          for (const result of doc.docs) {
            for (let i = 1; i <= result.data().unit; i++) {
              let newData = {
                label: i.toString(),
                value: i
              };
              this.unitList.push(newData);
            }
          }
          this.dataInput.unitStart = this.unitList[0].value;
          this.dataInput.unitEnd = this.unitList[0].value;
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
    if (this.$store.state.system.tasExam != "") {
      this.isExamData = true;
    }
  },
  watch: {
    system() {
      if (this.$store.state.system.tasExam != "") {
        this.isExamData = true;
      }
    }
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.brx {
  border: 1px solid red;
}
</style>