<template>
  <div class="window-height window-width row justify-center items-center bgimg q-pa-sm">
    <q-card class="mycard justify-center bg-white q-pa-sm">
      <q-card-section>
        <div class="text-h4" style="width:100%;  text-align:center">
          Winner English
          <br>
          <span class="text-h6">ระบบผู้ช่วยครู</span>
        </div>
      </q-card-section>

      <div>
        <q-card-section>
          <div class="row">
            <div class="col-12">
              <q-input
                filled
                ref="username"
                v-model.trim="user.username"
                type="text"
                label="ชื่อผู้ใช้งาน"
                @keyup.enter="loginBtn()"
                icon="fas fa-user"
                class="q-pa-sm"
              >
                <template v-slot:prepend>
                  <q-icon name="fas fa-user"/>
                </template>
              </q-input>
            </div>

            <div class="col-12 q-pt-xs">
              <q-input
                filled
                ref="password"
                v-model.trim="user.password"
                type="password"
                label="รหัสผ่าน"
                @keyup.enter="loginBtn()"
                class="q-pa-sm"
              >
                <template v-slot:prepend>
                  <q-icon name="fas fa-unlock-alt"/>
                </template>
              </q-input>
            </div>
            <div class="col-12 q-pa-md" align="center">
              <q-btn
                color="secondary"
                size="md"
                label="เข้าสู่ระบบ"
                @click="loginBtn()"
                style="width:250px;"
              ></q-btn>
              <div style="text-align:right; color:grey;">v. {{appVersion}}</div>
            </div>
          </div>
        </q-card-section>
      </div>
    </q-card>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      user: {
        username: "",
        password: ""
      },
      schoolCode: 0,
      teacherData: [],
      teacherid: "",
      passwordCheck: 0 // 0 = access denied, 1 = access permission
    };
  },
  methods: {
    ...mapActions([
      "setUserData",
      "setUserKey",
      "setMenuActive",
      "setSubMenuActive",
      "setLinkMenu"
    ]),

    loginBtn() {
      // console.clear();
      this.passwordCheck = 0;
      if (this.user.username.length == 0 || this.user.password.length == 0) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      // check ฐานข้อมูลทำการ login และเก็บค่า userData ใน Vuex และเก็บ key ความปลอดภัยด้วย
      this.setLinkMenu(0);
      this.loadingShow();
      let _this = this;
      //check username in every school code
      db.collection("school")
        .get()
        .then(checkdata => {
          let checkuser = true;
          let checknotify = 0;
          let count = 0;
          let test = 0;

          if (checkuser) {
            checkdata.forEach(resultdata => {
              db.collection("school")
                .doc(resultdata.id)
                .collection("teacher")
                .where("username", "==", this.user.username)
                .where("password", "==", this.user.password)
                .get()
                .then(teacherdata => {
                  count++;
                  let schoolCode = resultdata.id;
                  let teacherData;
                  let teacherid;
                  let passwordCheck;
                  if (teacherdata.size > 0) {
                    test = 1;
                    checkuser = false;
                    teacherdata.forEach(teacherresult => {
                      if (teacherresult.exists) {
                        teacherData = teacherresult.data();
                        teacherid = teacherresult.id;
                      }
                    });
                    let keyData = Math.floor(Math.random() * 1000000 + 1);
                    db.collection("taswinnerkey")
                      .doc(teacherid)
                      .set({
                        key: keyData
                      });
                    let dataList = {
                      key: teacherid,
                      schoolcode: schoolCode
                    };
                    let dataFinal = { ...teacherData, ...dataList };
                    this.setUserKey(keyData);
                    this.setUserData(dataFinal);
                    this.$router.push("/mainmenu");
                  }

                  if (count == checkdata.size) {
                    if (test == 0) {
                      this.notifyRed("รหัสผู้ใช้งานไม่ถูกต้อง");
                    }
                  }

                  this.loadingHide();
                });
            });
          }
        });
    },
    checkLogin() {
      //ตรวจสอบว่ามีการ login เข้ามาถูกต้องหรือเปล่าว
      if (this.$store.state.system.tasData.name) {
        this.$router.push("/welcome");
      }
    }
  },
  mounted() {
    this.checkLogin();
  }
};
</script>

<style scoped>
.bgimg {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mycard {
  width: 450px;
  height: 370px;
  margin: auto;
}
</style>

