<template>
  <div class="row justify-center items-center q-pa-md" style="height:calc(100vh - 60px);">
    <q-resize-observer @resize="onResize"/>
    <div class="col-md-12" align="center">
      <!-- <img src="../assets/welcome-01.png" style="max-width:1000px;width:100%;"> -->
      <p
        class="text-white text-h1 text-bold"
        :class="{'text-h2':innerWidth < 1000,'text-h3':innerWidth < 600}"
        style="letter-spacing:5px"
      >Welcome</p>
      <p
        class="text-white text-h3 text-bold"
        :class="{'text-h4':innerWidth < 1000,'text-h5':innerWidth < 600}"
      >to</p>
      <p
        class="text-white text-h3 text-bold"
        :class="{'text-h4':innerWidth < 1000,'text-h5':innerWidth < 600}"
        style="letter-spacing:2px"
      >Teacher's Assistant System</p>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode"]),
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
  }
};
</script>
