<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <div align="center" class="q-pa-md text-h5">
        <span>เอกสารประกอบการเรียน</span>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-12 q-pa-sm">
            <q-tabs v-model="tab" inline-label align="right">
              <q-tab
                class="text-grey-7"
                name="versionThai"
                label="Version ภาษาไทย"
                v-if="innerWidth > 600"
              />
              <q-tab class="text-grey-7" name="versionThai" label="V ไทย" v-else/>
              <q-tab
                class="text-grey-7"
                name="versionEng"
                label="Version ภาษาอังกฤษ"
                v-if="innerWidth > 600"
              />
              <q-tab class="text-grey-7" name="versionEng" label="V อังกฤษ" v-else/>
            </q-tabs>
          </div>
        </div>
        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="versionThai">
            <div align="center" class="text-h5 q-pb-md">Version ภาษาไทย</div>
            <hr>
            <div class="row q-mt-lg">
              <div class="col-lg-4 col-sm-6 col-xs-12 q-pa-xs">
                <q-img
                  src="../assets/pagesetupthai1.jpg"
                  style="max-width:80%;min-width:180px;width:100%;margin:auto;border:1px solid#000;"
                  spinner-color="red"
                />
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12 q-pa-xs">
                <div class="q-pl-md">
                  <span class="text-h6">ขั้นตอนที่ 1</span>
                  <span class="text-body1">
                    <br>คลิกเลือกไปที่ การตั่งค่าเพิ่มเติม
                  </span>
                  <br>
                  <br>
                  <span class="text-h6">ขั้นตอนที่ 2</span>
                  <span class="text-body1">
                    <br>ตั่งค่าตามรูปภาพดังนี้
                    <br>1. หน้า : ทั้งหมด
                    <br>2. จำนวนชุด : ตามที่ผู้ใช้ต้องการ
                    <br>3. รูปแบบ : แยวตั้ง
                    <br>4. สี : ตามที่ผู้ใช้ต้องการ
                    <br>5. ขนาดกระดาษ : A4
                    <br>6. จำนวนหน้าต่อแผ่น : 1
                    <br>7. ระยะขอบ : ค่าเริ่มต้น
                    <br>8. ปรับขนาด : 100
                    <br>9. ตัวเลือก : กราฟิกพื้นหลัง
                  </span>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12 q-pa-xs">
                <q-img
                  src="../assets/pagesetupthai2.jpg"
                  style="width:80%;min-width:180px;margin:auto;border:1px solid#000;"
                  spinner-color="red"
                />
              </div>
            </div>
          </q-tab-panel>
          <q-tab-panel name="versionEng">
            <div align="center" class="text-h5 q-pb-md">Version ภาษาอังกฤษ</div>
            <hr>
            <div class="row q-mt-lg">
              <div class="col-lg-4 col-sm-6 col-xs-12 q-pa-xs">
                <q-img
                  src="../assets/pagesetupeng1.jpg"
                  style="width:80%;min-width:180px;margin:auto;border:1px solid#000;"
                  spinner-color="red"
                />
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12 q-pa-xs">
                <div class="q-pl-md">
                  <span class="text-h6">ขั้นตอนที่ 1</span>
                  <span class="text-body1">
                    <br>คลิกเลือกไปที่ More setting
                  </span>
                  <br>
                  <br>
                  <span class="text-h6">ขั้นตอนที่ 2</span>
                  <span class="text-body1">
                    <br>ตั่งค่าตามรูปภาพดังนี้
                    <br>1. Page : All
                    <br>2. Copies : ตามที่ผู้ใช้ต้องการ
                    <br>3. Layout : Portrait
                    <br>4. Color : ตามที่ผู้ใช้ต้องการ
                    <br>5. Paper size : A4
                    <br>6. Pages Per sheet : 1
                    <br>7. Margins : Default
                    <br>8. Scale : 100
                    <br>9. Option : Background graphics
                  </span>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12 q-pa-xs">
                <q-img
                  src="../assets/pagesetupeng2.jpg"
                  style="width:80%;min-width:180px;margin:auto;border:1px solid#000;;"
                  spinner-color="red"
                />
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
        <div class="row">
          <div class="col-12 q-pa-lg" align="center">
            <q-btn
              label="ย้อนกลับ"
              to="studysheet"
              class="bg-teal-5 text-white"
              style="max-width:250px;width:100%;"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      tab: "versionThai",
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode"]),

    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}

.brx {
  border: 1px solid red;
}
</style>