<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize"/>
    <div class="text-h5 bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">แก้ไขโปรไพล์</div>
        </q-toolbar>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input outlined label="ชื่อผู้ใช้งาน" readonly v-model="dataSet.username"/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input
              outlined
              label="รหัสผ่าน"
              v-model="dataTeacher.password"
              ref="password"
              :rules="[val => val.length == 4 || '']"
            />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input
              outlined
              label="ชื่อ"
              v-model="dataTeacher.name"
              ref="name"
              :rules="[val => !!val || '']"
            />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input
              outlined
              label="นามสกุล"
              v-model="dataTeacher.surname"
              ref="surname"
              :rules="[val => !!val || '']"
            />
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-6 col-sm-6 col-xs-12 q-pa-sm"
            :class="{'text-center':innerWidth < 600,' text-right':innerWidth > 600}"
          >
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              class="bg-red-5 text-white"
              style="max-width:200px;width:100%;"
            />
          </div>
          <div
            class="col-md-6 col-sm-6 col-xs-12 q-pa-sm"
            :class="{'text-center':innerWidth < 600,' text-left':innerWidth > 600}"
          >
            <q-btn
              label="บันทึก"
              :disable="!isSaveData"
              @click="saveBtn()"
              class="bg-teal-5 text-white"
              style="max-width:200px;width:100%;"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataSet: {},
      dataTeacher: {},
      isSaveData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setUserData"]),
    cancelBtn() {
      this.$router.push("/mainmenu");
    },
    async saveBtn() {
      this.$refs.password.validate();
      this.$refs.name.validate();
      this.$refs.surname.validate();

      if (
        this.$refs.password.hasError ||
        this.$refs.name.hasError ||
        this.$refs.surname.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      this.loadingShow();
      this.isSaveData = false;

      let data = await db
        .collection("school")
        .doc(this.dataSet.schoolcode)
        .collection("teacher")
        .doc(this.dataSet.key)
        .update(this.dataTeacher);

      let dataOrigin = this.$store.state.system.tasData;
      let dataFinal = { ...dataOrigin, ...this.dataTeacher, ...this.dataSet };

      this.setUserData(dataFinal);

      this.loadingHide();
      this.isSaveData = true;
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    loadBasicData() {
      this.loadingShow();
      setTimeout(() => {
        this.dataSet = {
          key: this.$store.state.system.tasData.key,
          schoolcode: this.$store.state.system.tasData.schoolcode,
          username: this.$store.state.system.tasData.username
        };
        this.dataTeacher = {
          password: this.$store.state.system.tasData.password,
          name: this.$store.state.system.tasData.name,
          surname: this.$store.state.system.tasData.surname
        };
        this.loadingHide();
      }, 500);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  components: {},
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
  }
};
</script>

<style scoped>
.mainbox {
  width: 90%;
  margin: auto;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}

.brx {
  border: 1px solid red;
}
</style>