<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <div class="bg-grey-2 q-pa-md">
      <div class="row justify-between text-h5">
        <div></div>
        <div>ผลความก้าวหน้า</div>
        <div>
          <q-btn
            class="q-mx-xs bg-teal-5 text-white"
            round
            icon="fas fa-question"
            type="a"
            href="../statics/Help me please.pdf"
            target="__blank"
          />
          <q-btn class="q-mx-xs bg-teal-5 text-white desktop-only" round icon="print" />
        </div>
      </div>
      <hr />
      <br />
      <div style="width: 80%; margin:auto;">
        <q-select
          label="ชั้น/ห้อง"
          :options="roomList"
          outlined
          v-model="classroom"
          @input="loadStudent()"
        />
      </div>
      <br />
      <div class="q-mt-lg">
        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="name"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="orderNumber" :props="props">
              <span>{{props.row.studentNo}}</span>
            </q-td>
            <q-td key="name" :props="props">
              <span>{{props.row.studentName}}</span>
            </q-td>
            <q-td key="progress" :props="props">
              <div class="row" style="width: 364px;">
                <!-- Vocab -->
                <div class="col-1 titleborder">V</div>

                <div class="col-1 grayborder" v-for="i in 4" :key="i">
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[i-1] >=9}"></div>
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[i-1] >=7}"></div>
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[i-1] >=5}"></div>
                </div>
                <div class="col-1 grayborder2">
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[4] >=9}"></div>
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[4] >=7}"></div>
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[4] >=5}"></div>
                </div>

                <div class="col-1"></div>
                <div class="col-1 grayborder" v-for="i in 4" :key="i+30">
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[i+4] >=9}"></div>
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[i+4] >=7}"></div>
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[i+4] >=5}"></div>
                </div>
                <div class="col-1 grayborder2">
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[9] >=9}"></div>
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[9] >=7}"></div>
                  <div class="subdiv" :class="{'colorVocab': props.row.vocab[9] >=5}"></div>
                </div>

                <div style="height:10px;" class="col-12"></div>

                <!-- grammar -->
                <div class="col-1 titleborder">G</div>
                <div class="col-1 grayborder" v-for="i in 4" :key="i+50">
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[i-1] >=9}"></div>
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[i-1] >=7}"></div>
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[i-1] >=5}"></div>
                </div>
                <div class="col-1 grayborder2">
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[4] >=9}"></div>
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[4] >=7}"></div>
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[4] >=5}"></div>
                </div>

                <div class="col-1"></div>

                <div class="col-1 grayborder" v-for="i in 4" :key="i+70">
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[i+4] >=9}"></div>
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[i+4] >=7}"></div>
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[i+4] >=5}"></div>
                </div>
                <div class="col-1 grayborder2">
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[9] >=9}"></div>
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[9] >=7}"></div>
                  <div class="subdiv" :class="{'colorGrammar': props.row.grammar[9] >=5}"></div>
                </div>
              </div>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      options: [],
      classroom: "",
      schoolCode: this.$store.state.system.tasData.schoolcode,
      academicList: [],
      academicData: {
        term: 1
      },
      roomList: [],
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:200px;",
          field: "orderNumber"
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "left",
          field: "name"
        },
        {
          name: "progress",
          label: "ความก้าวหน้า",
          align: "center",
          style: "width:400px;",
          field: "progress"
        }
      ],
      level: 1
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setAcademicData", "setClassroomData"]),
    loadAcademicYear() {
      db.collection("academicyear")
        .where("schoolCode", "==", this.schoolCode)
        .get()
        .then(doc => {
          for (const data of doc.docs) {
            this.academicList.push(data.data());
          }

          this.academicList.sort((a, b) => {
            if (Number(a.year) == Number(b.year)) {
              return Number(b.term) - Number(a.term);
            } else {
              return Number(b.year) - Number(a.year);
            }
          });
          this.academicData.term = this.academicList[0].term;
          this.academicData.year = this.academicList[0].year;
          if (this.academicList[0].isP1) {
            for (let i = 1; i <= this.academicList[0].roomP1; i++) {
              let roomName = "ป.1/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP2) {
            for (let i = 1; i <= this.academicList[0].roomP2; i++) {
              let roomName = "ป.2/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP3) {
            for (let i = 1; i <= this.academicList[0].roomP3; i++) {
              let roomName = "ป.3/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP4) {
            for (let i = 1; i <= this.academicList[0].roomP4; i++) {
              let roomName = "ป.4/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP5) {
            for (let i = 1; i <= this.academicList[0].roomP5; i++) {
              let roomName = "ป.5/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP6) {
            for (let i = 1; i <= this.academicList[0].roomP6; i++) {
              let roomName = "ป.6/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isM1) {
            for (let i = 1; i <= this.academicList[0].roomM1; i++) {
              let roomName = "ม.1/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isM2) {
            for (let i = 1; i <= this.academicList[0].roomM2; i++) {
              let roomName = "ม.2/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isM3) {
            for (let i = 1; i <= this.academicList[0].roomM3; i++) {
              let roomName = "ม.3/" + i;
              this.roomList.push(roomName);
            }
          }
          this.classroom = this.roomList[0];
          this.loadStudent();
        });
    },
    loadStudent() {
      this.dataShow = [];
      let dataTemp = [];
      this.loadingShow();
      db.collection("course")
        .where(
          "academicYear",
          "==",
          this.academicData.term + "/" + this.academicData.year
        )
        .where("schoolcode", "==", this.schoolCode)
        .where("room", "==", this.classroom)
        .get()
        .then(doc => {
          for (let data of doc.docs) {
            this.level = data.data().grammarlv;
            db.collection("school")
              .doc(this.schoolCode)
              .collection("student")
              .doc(data.data().studentid)
              .get()
              .then(data2 => {
                db.collection("reviewvocab")
                  .doc("lv" + this.level)
                  .collection("data")
                  .doc(data.data().studentid)
                  .get()
                  .then(data3 => {
                    db.collection("reviewgrammar")
                      .doc("lv" + this.level)
                      .collection("data")
                      .doc(data.data().studentid)
                      .get()
                      .then(data4 => {
                        let vocabdata;

                        if (!data3.exists) {
                          vocabdata = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                        } else {
                          vocabdata = data3.data().vocab;
                        }

                        let grammardata;
                        if (!data4.exists) {
                          grammardata = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                        } else {
                          grammardata = data4.data().grammar;
                        }
                        let temp = {
                          studentId: data.data().studentid,
                          studentNo: data.data().studentno,
                          studentName:
                            data2.data().name + " " + data2.data().surname,
                          vocab: vocabdata,
                          grammar: grammardata
                        };
                        dataTemp.push(temp);
                      });
                  });
              });
          }
          this.dataShow = dataTemp;
          setTimeout(() => {
            this.dataShow.sort((a, b) => {
              return Number(a.studentNo) - Number(b.studentNo);
            });
          }, 2500);

          this.loadingHide();
        });
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadAcademicYear();
  }
};
</script>

<style scoped>
.grayborder {
  height: 30px;
  width: 30px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}
.grayborder2 {
  height: 30px;
  width: 31px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.greenborder {
  height: 30px;
  width: 30px;
  border: 1px solid grey;
  background-color: green;
}
.titleborder {
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.subdiv {
  height: 10px;
  width: 30px;
  border-bottom: 1px solid grey;
}
.border {
  border: 1px solid grey;
}
.colorVocab {
  background-color: #26a69a;
}
.colorGrammar {
  background-color: #f2c037;
}
</style>