<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <div class="bg-grey-2 q-pa-md">
      <div class="text-center text-h5">ผลคะแนนทบทวน</div>
      <hr />
      <br />
      <div class="row" style="width:90%; margin:auto;">
        <div class="col-md-6 col-sm-12 q-px-md q-py-sm">
          <q-select label="ชั้น/ห้อง" :options="roomList" outlined v-model="classroom" />
        </div>
        <div class="col-md-6 col-sm-12 q-px-md q-py-sm">
          <q-input label="คะแนนเต็มแต่ละทักษะ" v-model="input.score" outlined />
        </div>
        <div class="col-12 q-px-md">เลือกทักษะ</div>
        <div class="col-md-6 col-sm-12 q-px-md q-py-sm">
          <q-checkbox label="คำศัพท์" v-model="input.vocab" />
        </div>
        <div class="col-md-6 col-sm-12 q-px-md q-py-sm">
          <q-checkbox label="ไวยากรณ์" v-model="input.grammar" />
        </div>
        <div class="col-12">
          <q-radio v-model="input.type" val="one" label="เลือกแบบฝึกหัดเดี่ยว" />
        </div>
        <div class="col-md-6 col-sm-12">
          <q-select
            outlined
            class="q-px-md"
            :options="practiceNo"
            label="แบบฝึกหัด"
            v-model="input.levelset"
            emit-value
            map-options
            :disable="input.type != 'one'"
          />
        </div>
        <div class="col-12 q-mt-md">
          <q-radio v-model="input.type" val="two" label="เลือกแบบฝึกหัดเป็นช่วง" />
        </div>
        <div class="col-md-6 col-sm-12 q-py-sm">
          <q-select
            outlined
            class="q-px-md"
            :options="practiceNo"
            label="แบบฝึกหัดเริ่มต้น"
            v-model="input.levelstart"
            emit-value
            map-options
            :disable="input.type != 'two'"
          />
        </div>
        <div class="col-md-6 col-sm-12 q-py-sm">
          <q-select
            outlined
            class="q-px-md"
            :options="practiceNo"
            label="แบบฝึกหัดสุดท้าย"
            v-model="input.levelend"
            emit-value
            map-options
            :disable="input.type != 'two'"
          />
        </div>
        <div class="col-12 q-mt-md" align="center">
          <q-btn label="คำนวณ" color="secondary" style="width: 250px;" @click="loadStudent()" />
        </div>
      </div>

      <br />
      <div class="q-mt-lg">
        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
          v-if="showTable && input.vocab && input.grammar"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="orderNumber" :props="props">
              <span>{{props.row.studentNo}}</span>
            </q-td>
            <q-td key="name" :props="props">
              <span>{{props.row.studentName}}</span>
            </q-td>
            <q-td key="vocab" :props="props">
              <span>{{props.row.vocab}}</span>
            </q-td>
            <q-td key="grammar" :props="props">
              <span>{{props.row.grammar}}</span>
            </q-td>
            <q-td key="sumscore" :props="props">
              <span>{{(Number(props.row.grammar) + Number(props.row.vocab)).toFixed(2)}}</span>
            </q-td>
          </q-tr>
        </q-table>

        <q-table
          :data="dataShow"
          :columns="columnvocab"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
          v-if="showTable && input.vocab && !input.grammar"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="orderNumber" :props="props">
              <span>{{props.row.studentNo}}</span>
            </q-td>
            <q-td key="name" :props="props">
              <span>{{props.row.studentName}}</span>
            </q-td>
            <q-td key="vocab" :props="props">
              <span>{{props.row.vocab}}</span>
            </q-td>
          </q-tr>
        </q-table>

        <q-table
          :data="dataShow"
          :columns="columngrammar"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
          v-if="showTable && !input.vocab && input.grammar"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="orderNumber" :props="props">
              <span>{{props.row.studentNo}}</span>
            </q-td>
            <q-td key="name" :props="props">
              <span>{{props.row.studentName}}</span>
            </q-td>
            <q-td key="grammar" :props="props">
              <span>{{props.row.grammar}}</span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      input: {
        vocab: true,
        grammar: true,
        type: "one",
        score: 10,
        levelset: 1,
        levelstart: 1,
        levelend: 2
      },
      practiceNo: [
        {
          label: "ครั้งที่ 1",
          value: 1
        },
        {
          label: "ครั้งที่ 2",
          value: 2
        },
        {
          label: "ครั้งที่ 3",
          value: 3
        },
        {
          label: "ครั้งที่ 4",
          value: 4
        },
        {
          label: "ครั้งที่ 5",
          value: 5
        },
        {
          label: "ครั้งที่ 6",
          value: 6
        },
        {
          label: "ครั้งที่ 7",
          value: 7
        },
        {
          label: "ครั้งที่ 8",
          value: 8
        },
        {
          label: "ครั้งที่ 9",
          value: 9
        },
        {
          label: "ครั้งที่ 10",
          value: 10
        }
      ],
      showTable: false,
      options: [],
      classroom: "",
      schoolCode: this.$store.state.system.tasData.schoolcode,
      academicList: [],
      academicData: {
        term: 1
      },
      roomList: [],
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:200px;",
          field: "orderNumber"
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "left",
          field: "name"
        },
        {
          name: "vocab",
          label: "คำศัพท์",
          align: "center",
          style: "width:100px;"
        },
        {
          name: "grammar",
          label: "ไวยากรณ์",
          align: "center",
          style: "width:100px;"
        },
        {
          name: "sumscore",
          label: "คะแนนรวม",
          align: "center",
          style: "width:100px;"
        }
      ],
      columnvocab: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:200px;",
          field: "orderNumber"
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "left",
          field: "name"
        },
        {
          name: "vocab",
          label: "คำศัพท์",
          align: "center",
          style: "width:100px;"
        }
      ],

      columngrammar: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:200px;",
          field: "orderNumber"
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "left",
          field: "name"
        },
        {
          name: "grammar",
          label: "ไวยากรณ์",
          align: "center",
          style: "width:100px;"
        }
      ],
      level: 1
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setAcademicData", "setClassroomData"]),
    loadAcademicYear() {
      db.collection("academicyear")
        .where("schoolCode", "==", this.schoolCode)
        .get()
        .then(doc => {
          for (const data of doc.docs) {
            this.academicList.push(data.data());
          }

          this.academicList.sort((a, b) => {
            if (Number(a.year) == Number(b.year)) {
              return Number(b.term) - Number(a.term);
            } else {
              return Number(b.year) - Number(a.year);
            }
          });
          this.academicData.term = this.academicList[0].term;
          this.academicData.year = this.academicList[0].year;
          if (this.academicList[0].isP1) {
            for (let i = 1; i <= this.academicList[0].roomP1; i++) {
              let roomName = "ป.1/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP2) {
            for (let i = 1; i <= this.academicList[0].roomP2; i++) {
              let roomName = "ป.2/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP3) {
            for (let i = 1; i <= this.academicList[0].roomP3; i++) {
              let roomName = "ป.3/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP4) {
            for (let i = 1; i <= this.academicList[0].roomP4; i++) {
              let roomName = "ป.4/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP5) {
            for (let i = 1; i <= this.academicList[0].roomP5; i++) {
              let roomName = "ป.5/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isP6) {
            for (let i = 1; i <= this.academicList[0].roomP6; i++) {
              let roomName = "ป.6/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isM1) {
            for (let i = 1; i <= this.academicList[0].roomM1; i++) {
              let roomName = "ม.1/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isM2) {
            for (let i = 1; i <= this.academicList[0].roomM2; i++) {
              let roomName = "ม.2/" + i;
              this.roomList.push(roomName);
            }
          }
          if (this.academicList[0].isM3) {
            for (let i = 1; i <= this.academicList[0].roomM3; i++) {
              let roomName = "ม.3/" + i;
              this.roomList.push(roomName);
            }
          }
          this.classroom = this.roomList[0];
        });
    },
    loadStudent() {
      this.showTable = 1;
      this.dataShow = [];
      let dataTemp = [];
      // this.loadingShow();
      db.collection("course")
        .where(
          "academicYear",
          "==",
          this.academicData.term + "/" + this.academicData.year
        )
        .where("schoolcode", "==", this.schoolCode)
        .where("room", "==", this.classroom)
        .get()
        .then(doc => {
          for (let data of doc.docs) {
            let vocab2x = 0;
            let grammar2x = 0;
            this.level = data.data().grammarlv;
            db.collection("school")
              .doc(this.schoolCode)
              .collection("student")
              .doc(data.data().studentid)
              .get()
              .then(data2 => {
                db.collection("reviewvocab")
                  .doc("lv" + this.level)
                  .collection("data")
                  .doc(data.data().studentid)
                  .get()
                  .then(data3 => {
                    db.collection("reviewgrammar")
                      .doc("lv" + this.level)
                      .collection("data")
                      .doc(data.data().studentid)
                      .get()
                      .then(data4 => {
                        let vocabdata;

                        if (!data3.exists) {
                          vocabdata = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                        } else {
                          vocabdata = data3.data().vocab;
                        }

                        if (this.input.type == "one") {
                          vocab2x =
                            (vocabdata[this.input.levelset - 1] / 10) *
                            this.input.score;
                        } else {
                          for (
                            let i = this.input.levelstart;
                            i <= this.input.levelend;
                            i++
                          ) {
                            vocab2x += vocabdata[i - 1] / 10;
                          }
                          vocab2x =
                            (vocab2x /
                              (this.input.levelend -
                                this.input.levelstart +
                                1)) *
                            this.input.score;
                        }

                        let grammardata;
                        if (!data4.exists) {
                          grammardata = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                        } else {
                          grammardata = data4.data().grammar;
                        }

                        if (this.input.type == "one") {
                          grammar2x =
                            (grammardata[this.input.levelset - 1] / 10) *
                            this.input.score;
                        } else {
                          for (
                            let i = this.input.levelstart;
                            i <= this.input.levelend;
                            i++
                          ) {
                            grammar2x += grammardata[i - 1] / 10;
                          }
                          grammar2x =
                            (grammar2x /
                              (this.input.levelend -
                                this.input.levelstart +
                                1)) *
                            this.input.score;
                        }

                        let temp = {
                          studentId: data.data().studentid,
                          studentNo: data.data().studentno,
                          studentName:
                            data2.data().name + " " + data2.data().surname,
                          vocab: vocab2x.toFixed(2),
                          grammar: grammar2x.toFixed(2)
                        };

                        dataTemp.push(temp);
                      });
                  });
              });
          }
          this.dataShow = dataTemp;
          setTimeout(() => {
            this.dataShow.sort((a, b) => {
              return Number(a.studentNo) - Number(b.studentNo);
            });
          }, 2500);

          // this.loadingHide();
        });
    },
    scoreVocab(data) {
      console.log(data);
      if (this.input.type == "one") {
        return (data[this.input.levelset - 1] / 10) * this.input.score;
      } else {
        let sumscore = 0;
        let countsum = 0;
        for (let i = this.input.levelstart - 1; i <= this.input.levelend; i++) {
          sumscore += Number(data[i - 1]);
          countsum += 1;
          console.log(sumscore);
        }
        return (sumscore / (countsum * 10)) * this.input.score;
      }
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadAcademicYear();
  }
};
</script>

<style scoped>
.grayborder {
  height: 30px;
  width: 30px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}
.grayborder2 {
  height: 30px;
  width: 31px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.greenborder {
  height: 30px;
  width: 30px;
  border: 1px solid grey;
  background-color: green;
}
.titleborder {
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.subdiv {
  height: 10px;
  width: 30px;
  border-bottom: 1px solid grey;
}
.border {
  border: 1px solid grey;
}
</style>