<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize" />
    <div class="bg-grey-2">
      <div
        align="center"
        class="q-pa-md"
      >
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">ผลการเรียน</div>
        </q-toolbar>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ปีการศึกษา"
              :options="dataBasic.academicyearList"
              v-model="dataBasic.academicyear"
              emit-value
              map-options
              @input="loadClassRoomData(dataBasic.academicyear)"
              options-selected-class="bg-teal-5 text-white"
              :disable="isLoadingData"
            />
          </div>
          <div class="col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ชั้น/ห้อง"
              :options="dataBasic.classList"
              v-model="dataBasic.class"
              emit-value
              map-options
              @input="loadStudentData()"
              options-selected-class="bg-teal-5 text-white"
              :disable="isLoadingData"
            />
          </div>
        </div>
      </div>
      <div class="q-mt-lg">
        <div
          align="right"
          class="q-mr-md"
        >
          <q-btn
            icon="fas fa-sync-alt"
            color="teal-5"
            @click="onRefresh"
            class="q-mb-md text-white"
            round=""
          />
        </div>
        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
          :loading="isLoadingData"
        >
          <q-tr
            slot="body"
            slot-scope="props"
            :props="props"
          >
            <q-td
              key="orderNumber"
              :props="props"
            >
              <span>{{props.row.studentno}}</span>
            </q-td>
            <q-td
              key="name"
              :props="props"
            >
              <span>{{props.row.studentname}}</span>
            </q-td>
            <q-td
              key="average"
              :props="props"
            >
              <span>{{props.row.avgscore.toFixed(2)}}%</span>
            </q-td>
            <q-td
              key="progress"
              :props="props"
            >
              <span>{{props.row.avgprogress.toFixed(2)}}%</span>
            </q-td>
            <q-td
              key="details"
              :props="props"
            >
              <span
                class="cursor-pointer detail-btn"
                style="text-decoration:underline;"
                @click="detailBtn(props.row.studentid,props.row.studentno)"
              >รายละเอียด</span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        academicyear: this.$store.state.system.tasacademicyear,
        academicyearList: [],
        class: this.$store.state.system.tasclassroom,
        classList: []
      },
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:200px;",
          field: "orderNumber",
          sortable: true
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "center",
          field: "name",
          sortable: true
        },
        {
          name: "average",
          label: "คะแนนเฉลี่ย (%)",
          align: "center",
          style: "width:250px;",
          field: "average",
          sortable: true
        },
        {
          name: "progress",
          label: "ความก้าวหน้าเฉลี่ย (%)",
          align: "center",
          style: "width:250px;",
          field: "progress",
          sortable: true
        },
        {
          name: "details",
          label: "รายละเอียด",
          align: "center",
          style: "width:250px;",
          sortable: false
        }
      ],
      isLoadingData: false,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setAcademicData",
      "setClassroomData",
      "setStudentScoreData"
    ]),
    detailBtn(key, number) {
      this.$router.push(
        "/scorereport/details/" +
          key +
          "/" +
          this.dataBasic.academicyear.replace("/", "_") +
          "/" +
          this.dataBasic.class.replace("/", "_") +
          "/" +
          number
      );
    },
    onRefresh() {
      this.isLoadingData = true;
      this.loadingShow("กำลังโหลดข้อมูลกรุณารอสักครู่");

      this.loadStudentData();
    },
    async loadBasicData() {
      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      let tascherAcademicYear = this.$store.state.system.tasacademicyear;
      let tascherClassRoom = this.$store.state.system.tasclassroom;
      let tasScoreSchoolcode = this.$store.state.system.tasstudentscore
        .schoolCode;
      let tasScoreAcademic = this.$store.state.system.tasstudentscore
        .academicYear;
      let tasScoreClassRoom = this.$store.state.system.tasstudentscore
        .classRoom;

      if (
        teacherData.schoolcode === tasScoreSchoolcode &&
        tascherAcademicYear === tasScoreAcademic &&
        tascherClassRoom === tasScoreClassRoom
      ) {
        // Load Vuex : ปีการศึกษา/ห้องเรียน/ชื่อโรงเรียน/รหัสโรงเรียน
        this.dataBasic.academicyear = this.$store.state.system.tasstudentscore.academicYear;
        this.dataBasic.academicyearList = this.$store.state.system.tasstudentscore.academicYearList;
        this.dataBasic.class = this.$store.state.system.tasstudentscore.classRoom;
        this.dataBasic.classList = this.$store.state.system.tasstudentscore.classRoomList;
        this.dataBasic.school = this.$store.state.system.tasstudentscore.schoolName;
        this.dataBasic.schoolcode = this.$store.state.system.tasstudentscore.schoolCode;

        // Load Vuex : ข้อมูลนักเรียน ที่มีการโหลดข้อมูลเก็บไว้แล้ว
        this.dataShow = this.$store.state.system.tasstudentscore.student;
      } else {
        this.loadingShow();

        this.dataBasic.schoolcode = teacherData.schoolcode;

        var academicyearData = [];
        // Load : School Data
        let loadSchoolData = await db
          .collection("school")
          .doc(this.dataBasic.schoolcode)
          .get();

        this.dataBasic.school = "โรงเรียน" + loadSchoolData.data().name; // Show : School Name

        // Load : Academicyear Data
        let loadAcademicyearData = await db
          .collection("academicyear")
          .where("schoolCode", "==", this.dataBasic.schoolcode)
          .get();

        if (loadAcademicyearData.size > 0) {
          for (const doc of loadAcademicyearData.docs) {
            let newDoc = doc.data();
            let datakey = {
              label: newDoc.academicyear,
              value: newDoc.academicyear
            };
            this.dataBasic.academicyearList.push(datakey); // Push : Academicyear List -
          }

          // console.log(this.dataBasic.academicyearList);
          this.dataBasic.academicyearList.sort((a, b) => {
            let apart = a.value.split("/");
            let bpart = b.value.split("/");
            if (Number(apart[1]) == Number(bpart[1])) {
              return Number(apart[0]) - Number(bpart[0]);
            } else {
              return Number(apart[1]) - Number(bpart[1]);
            }
          });

          for (let i = 0; i < this.dataBasic.academicyearList.length; i++) {
            if (
              this.dataBasic.academicyearList[i].value == tascherAcademicYear
            ) {
              this.dataBasic.academicyear = tascherAcademicYear;
              break;
            } else {
              // console.log(this.dataBasic.academicyearList);
              this.dataBasic.academicyear = this.dataBasic.academicyearList[
                this.dataBasic.academicyearList.length - 1
              ].value;
            }
          }
        } else {
          // console.log(this.dataBasic.academicyearList);
          this.dataBasic.academicyear = "-- ยังไม่มีการลงทะเบียน --";
        }

        this.loadClassRoomData();
      }
    },
    async loadClassRoomData(data) {
      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      this.dataBasic.classList = [];

      let academicyearData = this.dataBasic.academicyear
        ? this.dataBasic.academicyear
        : data;

      this.setAcademicData(this.dataBasic.academicyear);

      let teacherClassRoom = this.$store.state.system.tasclassroom;

      // Load : Room Data
      let loadRoomData = await db
        .collection("academicyear")
        .where("schoolCode", "==", this.dataBasic.schoolcode)
        .where("academicyear", "==", academicyearData ? academicyearData : "")
        .get();

      if (loadRoomData.size > 0) {
        for (const doc of loadRoomData.docs) {
          let newDoc = doc.data();
          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomP = "roomP" + i;

              if (roomSet == newRoomP) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                for (let j = 1; j <= newDocRoom; j++) {
                  newObjRoom = {
                    label: "ป." + i + "/" + j,
                    value: "ป." + i + "/" + j
                  };
                  this.dataBasic.classList.push(newObjRoom); // Push : Class Room List - ป.
                }
              }
            }
          }

          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomM = "roomM" + i;

              if (roomSet == newRoomM) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                for (let j = 1; j <= newDocRoom; j++) {
                  newObjRoom = {
                    label: "ม." + i + "/" + j,
                    value: "ม." + i + "/" + j
                  };
                  this.dataBasic.classList.push(newObjRoom); // Push : Class Room List - ม.
                }
              }
            }
          }
        }

        for (let i = 0; i < this.dataBasic.classList.length; i++) {
          if (this.dataBasic.classList[i].value == teacherClassRoom) {
            this.dataBasic.class = teacherClassRoom;
            break;
          } else {
            this.dataBasic.class = this.dataBasic.classList[0].value; //Show : Class Room List First Row
          }
        }
        this.loadStudentData();
      } else {
        this.dataBasic.class = "-- ยังไม่มีการลงทะเบียน --"; //Show : Class Room List First Row
        this.loadingHide();
      }
    },
    loadStudentData() {
      if (this.isLoadingData == false) {
        this.loadingShow("กำลังโหลดข้อมูลกรุณารอสักครู่");
      }

      this.dataShow = [];
      this.setClassroomData(this.dataBasic.class);

      let term = this.dataBasic.academicyear.replace("/", "-");

      db.collection("course")
        .where("academicYear", "==", this.dataBasic.academicyear)
        .where("room", "==", this.dataBasic.class)
        .where("schoolcode", "==", this.dataBasic.schoolcode)
        .get()
        .then(data => {
          if (data.size > 0) {
            data.forEach(result => {
              let vocablevel = result.data().vocablv;
              let grammarlevel = result.data().grammarlv;
              let readinglevel = result.data().readinglv;
              let writinglevel = result.data().writinglv;
              let listeninglevel = result.data().listeninglv;

              db.collection("school")
                .doc(this.dataBasic.schoolcode)
                .collection("student")
                .doc(result.data().studentid)
                .collection("practicelog")
                .doc(term)
                .collection("practicescore")
                .where("status", "==", "pass")
                .get()
                .then(doc => {
                  let sum = 0;
                  let number = 0;
                  let avgscore;
                  let vocabnumber = 0;
                  let grammarnumber = 0;
                  let readingnumber = 0;
                  let writingnumber = 0;
                  let listeningnumber = 0;
                  let sumprogress;
                  let studentProgress = {
                    sumpractice: 0
                  };
                  let avgprogress = 0;
                  let sumscore;

                  doc.forEach(value => {
                    if (
                      value.data().practicetype != "VDO Teaching" &&
                      value.data().practicetype != "Flashcard"
                    ) {
                      let fixedscore = value.data().score;
                      fixedscore = fixedscore.toFixed(2);

                      sum += Number(fixedscore);
                      number++;
                    }
                  });
                  // ตะแนนเฉลี่ย %
                  if (sum > 0) {
                    avgscore = sum / number;
                  } else {
                    avgscore = 0;
                  }

                  // ความก้าวหน้าเฉลี่ย
                  db.collection("school")
                    .doc(this.dataBasic.schoolcode)
                    .collection("student")
                    .doc(result.data().studentid)
                    .collection("progress")
                    .doc(term)
                    .get()
                    .then(progress => {
                      // จำนวนแบบฝึกหีดรวมที่ทำไปแล้ว
                      if (progress.exists) {
                        sumprogress =
                          progress.data().vocabulary +
                          progress.data().grammar +
                          progress.data().reading +
                          progress.data().writing +
                          progress.data().listening;
                      }

                      // หาจำนวนของแบบฝึกหัด Vocab
                      for (let i = 1; i <= 12; i++) {
                        db.collection("practicelist")
                          .doc("data")
                          .collection("L" + vocablevel + "U" + i)
                          .where("order", "<", 2000)
                          .get()
                          .then(vocab => {
                            vocab.forEach(vocabresult => {
                              if (
                                vocabresult.data().practicetype != "flashcard"
                              ) {
                                studentProgress.sumpractice++;
                              }
                            });

                            db.collection("practicelist")
                              .doc("data")
                              .collection("L" + grammarlevel + "U" + i)
                              .where("order", ">", 2000)
                              .where("order", "<", 3000)
                              .get()
                              .then(grammar => {
                                grammar.forEach(grammarresult => {
                                  if (
                                    grammarresult.data().practicetype !=
                                      "teaching VDO" &&
                                    grammarresult.data().practicetype !=
                                      "error detection"
                                  ) {
                                    studentProgress.sumpractice++;
                                  }
                                });
                                db.collection("practicelist")
                                  .doc("data")
                                  .collection("L" + readinglevel + "U" + i)
                                  .where("order", ">", 3000)
                                  .where("order", "<", 4000)
                                  .get()
                                  .then(reading => {
                                    studentProgress.sumpractice += reading.size;
                                    db.collection("practicelist")
                                      .doc("data")
                                      .collection("L" + writinglevel + "U" + i)
                                      .where("order", ">", 4000)
                                      .where("order", "<", 5000)
                                      .get()
                                      .then(writing => {
                                        studentProgress.sumpractice +=
                                          writing.size;
                                        db.collection("practicelist")
                                          .doc("data")
                                          .collection(
                                            "L" + listeninglevel + "U" + i
                                          )
                                          .where("order", ">", 5000)
                                          .get()
                                          .then(listening => {
                                            listening.forEach(
                                              listeningresult => {
                                                if (
                                                  listeningresult.data()
                                                    .practicetype !=
                                                    "teaching VDO" &&
                                                  listeningresult.data()
                                                    .practicetype !=
                                                    "conversation VDO"
                                                ) {
                                                  studentProgress.sumpractice++;
                                                }
                                              }
                                            );
                                            if (i == 12) {
                                              avgprogress =
                                                (100 * sumprogress) /
                                                studentProgress.sumpractice;
                                              if (avgprogress) {
                                                avgprogress = avgprogress;
                                              } else {
                                                avgprogress = 0;
                                              }

                                              db.collection("school")
                                                .doc(this.dataBasic.schoolcode)
                                                .collection("student")
                                                .doc(result.data().studentid)
                                                .get()
                                                .then(student => {
                                                  if (student.exists) {
                                                    let dataFinal = {
                                                      studentid: result.data()
                                                        .studentid,
                                                      studentno: result.data()
                                                        .studentno,
                                                      studentname:
                                                        student.data().name +
                                                        " " +
                                                        student.data().surname,
                                                      avgscore: avgscore,
                                                      avgprogress: avgprogress
                                                    };

                                                    this.dataShow.push(
                                                      dataFinal
                                                    );
                                                    this.dataShow.sort(
                                                      (a, b) => {
                                                        return (
                                                          a.studentno -
                                                          b.studentno
                                                        );
                                                      }
                                                    );

                                                    this.setStudentScoreData({
                                                      academicYear: this
                                                        .dataBasic.academicyear,
                                                      academicYearList: this
                                                        .dataBasic
                                                        .academicyearList,
                                                      classRoom: this.dataBasic
                                                        .class,
                                                      classRoomList: this
                                                        .dataBasic.classList,
                                                      student: this.dataShow,
                                                      schoolName: this.dataBasic
                                                        .school,
                                                      schoolCode: this.dataBasic
                                                        .schoolcode
                                                    });

                                                    this.loadingHide();
                                                    this.isLoadingData = false;
                                                  }
                                                });
                                            }
                                          });
                                      });
                                  });
                              });
                          });
                      }
                    });
                });
            });
          } else {
            this.loadingHide();
            this.isLoadingData = false;

            this.setStudentScoreData({
              academicYear: this.dataBasic.academicyear,
              academicYearList: this.dataBasic.academicyearList,
              classRoom: this.dataBasic.class,
              classRoomList: this.dataBasic.classList,
              student: this.dataShow,
              schoolName: this.dataBasic.school,
              schoolCode: this.dataBasic.schoolcode
            });

            this.notifyRed("ไม่มีข้อมูลนักเรียน");
          }
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}
.brx {
  border: 1px solid red;
}
.detail-btn {
  color: #000;
  transition: 0.2s;
}
.detail-btn:hover {
  color: rgb(0, 68, 253);
}
</style>