<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize" />
    <div class="bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5">
          <div class="window-width">คะแนนเก็บ</div>
          <q-space />
          <!-- <q-btn
            flat
            round
            class="bg-teal-5 text-white"
            icon="fas fa-file-excel"
            v-if="isShowData"
          />-->
          <router-link
            v-if="isShowData"
            :to="{ name: 'scoreprint', params: { dataBasic,dataShow }}"
          >
            <q-btn flat round class="bg-teal-5 text-white q-ml-md" icon="fas fa-print" />
          </router-link>
        </q-toolbar>
        <hr />
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ปีการศึกษา"
              :options="dataBasic.academicyearList"
              v-model="dataBasic.academicyear"
              emit-value
              map-options
              @input="loadClassRoomData(dataBasic.academicyear)"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ชั้น / ห้อง"
              :options="dataBasic.classList"
              v-model="dataBasic.class"
              emit-value
              map-options
              @input="loadStudentScore()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ยูนิตเริ่มต้น"
              :options="numberIndexOf"
              v-model="dataBasic.unitStart"
              emit-value
              map-options
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ยูนิตสุดท้าย"
              :options="numberIndexOf"
              v-model="dataBasic.unitEnd"
              emit-value
              map-options
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input
              outlined
              type="number"
              label="คะแนนเต็ม"
              v-model="dataBasic.score"
              ref="score"
              :rules="[val => !!val ||'']"
            />
          </div>
        </div>

        <div class="row q-mt-lg">
          <div
            class="col-md-5 col-sm-5 col-xs-12"
            :class="{'text-center q-pa-sm':innerWidth < 600}"
          >
            <div class="q-pa-sm text-teal-5 text-body1">
              <span class="hover" @click="settingBtn()">
                <span class="fas fa-cog"></span>
                <span class="q-ml-sm">การตั้งค่าเกณฑ์คะแนน</span>
              </span>
            </div>
          </div>
          <div
            class="col-md-6 col-sm-6 col-xs-12"
            :class="{'text-center q-pa-sm':innerWidth < 600}"
          >
            <q-btn
              label="คำนวน"
              class="bg-teal-5 text-white"
              style="max-width:250px;width:100%;"
              @click="calcBtn()"
              :disable="!isLoadstudent"
            />
          </div>
        </div>
      </div>
      <div class="q-mt-lg">
        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <template v-if="isShowData">
              <q-td key="orderNumber" :props="props">
                <span>{{props.row.studentno}}</span>
              </q-td>
              <q-td key="name" :props="props">
                <div align="left">
                  <span>{{props.row.name + " " + props.row.surname}}</span>
                </div>
              </q-td>
              <q-td key="score" :props="props">
                <span>{{props.row.score.toFixed(2)}}</span>
              </q-td>
            </template>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        academicyear: this.$store.state.system.tasacademicyear,
        academicyearList: [],
        class: this.$store.state.system.tasclassroom,
        classList: [],
        score: "",
        unitStart: 1,
        unitEnd: 1,
        unitList: [],
        schoolcode: ""
      },
      scoreSetting: {
        vocabulary: 0,
        grammar: 0,
        reading: 0,
        writing: 0,
        listening: 0
      },
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:100px;",
          field: "orderNumber",
          sortable: true
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "center",
          field: "name",
          sortable: true
        },
        {
          name: "score",
          label: "ผลคะแนน",
          align: "center",
          style: "width:200px;",
          field: "score",
          sortable: true
        }
      ],
      isShowData: false,
      isLoadstudent: false,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setAcademicData", "setClassroomData"]),
    settingBtn() {
      this.$router.push("/score/setting");
    },
    printBtn() {
      let routeData = this.$router.resolve({
        path: "/score/print/"
      });

      window.open(routeData.href, "_blank");
    },
    calcBtn() {
      this.$refs.score.validate();

      if (this.$refs.score.hasError) {
        this.notifyRed("กรุณากรอกคะแนน");
        return;
      }

      this.loadingShow("กำลังคำนวณผลคะแนนกรุณารอสักครู่");

      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;

      // Get : New Variable Data Basic
      let term = this.dataBasic.academicyear.replace("/", "-");
      let unitStart = this.dataBasic.unitStart;
      let unitEnd = this.dataBasic.unitEnd;
      let newScore = this.dataBasic.score;

      let studentData = this.dataShow;

      for (let i = 0; i < studentData.length; i++) {
        let vocabscore;
        let grammarscore;
        let readingscore;
        let writingscore;
        let listeningscore;

        let vocabnumber = 0;
        let grammarnumber = 0;
        let readingnumber = 0;
        let writingnumber = 0;
        let listeningnumber = 0;

        db.collection("school")
          .doc(teacherData.schoolcode)
          .collection("student")
          .doc(studentData[i].key)
          .collection("practicelog")
          .doc(term)
          .collection("practicescore")
          .where("world", "==", "Vocabulary")
          .where("level", "==", Number(studentData[i].vocabulary))
          .where("status", "==", "pass")
          .get()
          .then(vocabdata => {
            if (vocabdata.size > 0) {
              let score = 0;
              vocabdata.forEach(resultdata => {
                // ไม่เอา Flashcard
                if (
                  resultdata.data().practicetype != "Flashcard" &&
                  resultdata.data().unit >= unitStart &&
                  resultdata.data().unit <= unitEnd
                ) {
                  let result = resultdata.data().score.toFixed(2);
                  score += Number(result);
                  vocabnumber++;
                }
              });

              if (vocabnumber > 0) {
                vocabscore = (score / vocabnumber).toFixed(2);
              } else {
                vocabscore = 0;
              }
            } else {
              vocabscore = 0;
            }

            db.collection("school")
              .doc(teacherData.schoolcode)
              .collection("student")
              .doc(studentData[i].key)
              .collection("practicelog")
              .doc(term)
              .collection("practicescore")
              .where("world", "==", "Grammar")
              .where("level", "==", Number(studentData[i].grammar))
              .where("status", "==", "pass")
              .get()
              .then(grammardata => {
                if (grammardata.size > 0) {
                  let score = 0;
                  grammardata.forEach(resultdata => {
                    if (
                      resultdata.data().practicetype != "VDO Teaching" &&
                      resultdata.data().unit >= unitStart &&
                      resultdata.data().unit <= unitEnd
                    ) {
                      let result = resultdata.data().score.toFixed(2);
                      score += Number(result);
                      grammarnumber++;
                    }
                  });

                  if (grammarnumber > 0) {
                    grammarscore = (score / grammarnumber).toFixed(2);
                  } else {
                    grammarscore = 0;
                  }
                } else {
                  grammarscore = 0;
                }

                db.collection("school")
                  .doc(teacherData.schoolcode)
                  .collection("student")
                  .doc(studentData[i].key)
                  .collection("practicelog")
                  .doc(term)
                  .collection("practicescore")
                  .where("world", "==", "Reading")
                  .where("level", "==", Number(studentData[i].reading))
                  .where("status", "==", "pass")
                  .get()
                  .then(readingdata => {
                    if (readingdata.size > 0) {
                      let score = 0;
                      readingdata.forEach(resultdata => {
                        if (
                          resultdata.data().unit >= unitStart &&
                          resultdata.data().unit <= unitEnd
                        ) {
                          let result = resultdata.data().score.toFixed(2);
                          score += Number(result);
                          readingnumber++;
                        }
                      });

                      if (readingnumber > 0) {
                        readingscore = (score / readingnumber).toFixed(2);
                      } else {
                        readingscore = 0;
                      }
                    } else {
                      readingscore = 0;
                    }

                    db.collection("school")
                      .doc(teacherData.schoolcode)
                      .collection("student")
                      .doc(studentData[i].key)
                      .collection("practicelog")
                      .doc(term)
                      .collection("practicescore")
                      .where("world", "==", "Writing")
                      .where("level", "==", Number(studentData[i].writing))
                      .where("status", "==", "pass")
                      .get()
                      .then(writingdata => {
                        if (writingdata.size > 0) {
                          let score = 0;
                          writingdata.forEach(resultdata => {
                            if (
                              resultdata.data().unit >= unitStart &&
                              resultdata.data().unit <= unitEnd
                            ) {
                              let result = resultdata.data().score.toFixed(2);
                              score += Number(result);
                              writingnumber++;
                            }
                          });

                          if (writingnumber > 0) {
                            writingscore = (score / writingnumber).toFixed(2);
                          } else {
                            writingscore = 0;
                          }
                        } else {
                          writingscore = 0;
                        }

                        db.collection("school")
                          .doc(teacherData.schoolcode)
                          .collection("student")
                          .doc(studentData[i].key)
                          .collection("practicelog")
                          .doc(term)
                          .collection("practicescore")
                          .where("world", "==", "Listening")
                          .where(
                            "level",
                            "==",
                            Number(studentData[i].listening)
                          )
                          .where("status", "==", "pass")
                          .get()
                          .then(listeningdata => {
                            if (listeningdata.size > 0) {
                              let score = 0;
                              listeningdata.forEach(resultdata => {
                                if (
                                  resultdata.data().practicetype !=
                                    "VDO Teaching" &&
                                  resultdata.data().unit >= unitStart &&
                                  resultdata.data().unit <= unitEnd
                                ) {
                                  let result = resultdata
                                    .data()
                                    .score.toFixed(2);
                                  score += Number(result);
                                  listeningnumber++;
                                }
                              });

                              if (listeningnumber > 0) {
                                listeningscore = (
                                  score / listeningnumber
                                ).toFixed(2);
                              } else {
                                listeningscore = 0;
                              }
                            } else {
                              listeningscore = 0;
                            }

                            let finalvocab =
                              (this.scoreSetting.vocabulary *
                                Number(vocabscore)) /
                              100;
                            let finalgrammar =
                              (this.scoreSetting.grammar *
                                Number(grammarscore)) /
                              100;
                            let finalreading =
                              (this.scoreSetting.reading *
                                Number(readingscore)) /
                              100;
                            let finalwriting =
                              (this.scoreSetting.writing *
                                Number(writingscore)) /
                              100;
                            let finallistening =
                              (this.scoreSetting.listening *
                                Number(listeningscore)) /
                              100;

                            let sumavg =
                              finalvocab +
                              finalgrammar +
                              finalreading +
                              finalwriting +
                              finallistening;

                            this.dataShow[i].score =
                              (this.dataBasic.score * sumavg) / 100;

                            this.isShowData = true;
                            this.loadingHide();
                          });
                      });
                  });
              });
          });
      }
    },
    async loadBasicData() {
      this.loadingShow("กำลังโหลดข้อมูลกรุณารอสักครู่");

      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      this.dataBasic.schoolcode = teacherData.schoolcode;
      let tascherAcademicYear = this.$store.state.system.tasacademicyear;

      // Load : Academicyear Data
      let loadAcademicyearData = await db
        .collection("academicyear")
        .where("schoolCode", "==", this.dataBasic.schoolcode)
        .get();

      if (loadAcademicyearData.size > 0) {
        for (const doc of loadAcademicyearData.docs) {
          let newDoc = doc.data();
          let newDataAcademicyear = {
            label: newDoc.academicyear.toString(),
            value: newDoc.academicyear
          };

          this.dataBasic.academicyearList.push(newDataAcademicyear);
        }

        this.dataBasic.academicyearList.sort((a, b) => {
          let apart = a.value.split("/");
          let bpart = b.value.split("/");
          if (Number(apart[1]) == Number(bpart[1])) {
            return Number(apart[0]) - Number(bpart[0]);
          } else {
            return Number(apart[1]) - Number(bpart[1]);
          }
        });

        for (let i = 0; i < this.dataBasic.academicyearList.length; i++) {
          if (this.dataBasic.academicyearList[i].value == tascherAcademicYear) {
            this.dataBasic.academicyear = tascherAcademicYear;
            break;
          } else {
            // console.log(this.dataBasic.academicyearList);
            this.dataBasic.academicyear = this.dataBasic.academicyearList[
              this.dataBasic.academicyearList.length - 1
            ].value;
          }
        }
      } else {
        this.dataBasic.academicyear = "-- ยังไม่มีการลงทะเบียน --";
      }

      this.loadClassRoomData();
    },
    async loadClassRoomData(data) {
      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      this.dataBasic.classList = [];

      let academicyearData = this.dataBasic.academicyear
        ? this.dataBasic.academicyear
        : data;

      this.setAcademicData(this.dataBasic.academicyear);

      let teacherClassRoom = this.$store.state.system.tasclassroom;

      // Load : Room Data
      let loadRoomData = await db
        .collection("academicyear")
        .where("schoolCode", "==", this.dataBasic.schoolcode)
        .where("academicyear", "==", academicyearData ? academicyearData : "")
        .get();

      if (loadRoomData.size > 0) {
        for (const doc of loadRoomData.docs) {
          let newDoc = doc.data();
          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomP = "roomP" + i;

              if (roomSet == newRoomP) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                for (let j = 1; j <= newDocRoom; j++) {
                  newObjRoom = {
                    label: "ป." + i + "/" + j,
                    value: "ป." + i + "/" + j
                  };
                  this.dataBasic.classList.push(newObjRoom);
                }
              }
            }
          }

          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomM = "roomM" + i;

              if (roomSet == newRoomM) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                for (let j = 1; j <= newDocRoom; j++) {
                  newObjRoom = {
                    label: "ม." + i + "/" + j,
                    value: "ม." + i + "/" + j
                  };
                  this.dataBasic.classList.push(newObjRoom);
                }
              }
            }
          }
        }

        for (let i = 0; i < this.dataBasic.classList.length; i++) {
          if (this.dataBasic.classList[i].value == teacherClassRoom) {
            this.dataBasic.class = teacherClassRoom;
            break;
          } else {
            this.dataBasic.class = this.dataBasic.classList[0].value; //Show : Class Room List First Row
          }
        }

        this.loadScoreSetting();
      } else {
        this.dataBasic.class = "-- ยังไม่มีการลงทะเบียน --"; //Show : Class Room List First Row
        this.loadingHide();
      }
    },
    async loadScoreSetting() {
      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;

      let loadscore = await db
        .collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("teacher")
        .doc(teacherData.key)
        .collection("scoresetting")
        .doc("data")
        .get();

      if (loadscore.exists) {
        this.scoreSetting = loadscore.data();
      } else {
        await db
          .collection("school")
          .doc(teacherData.schoolcode)
          .collection("teacher")
          .doc(teacherData.key)
          .collection("scoresetting")
          .doc("data")
          .set({
            vocabulary: 20,
            grammar: 20,
            reading: 20,
            writing: 20,
            listening: 20
          });
      }

      this.loadStudentScore();
    },
    loadStudentScore() {
      this.loadingShow("กำลังโหลดข้อมูลกรุณารอสักครู่");
      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;

      this.setClassroomData(this.dataBasic.class);

      this.isShowData = false;

      db.collection("course")
        .where("academicYear", "==", this.dataBasic.academicyear)
        .where("room", "==", this.dataBasic.class)
        .where("schoolcode", "==", this.dataBasic.schoolcode)
        .get()
        .then(data => {
          if (data.size > 0) {
            this.isLoadstudent = true;
            this.dataShow = [];

            data.forEach(resultdata => {
              if (resultdata.exists) {
                db.collection("school")
                  .doc(this.dataBasic.schoolcode)
                  .collection("student")
                  .doc(resultdata.data().studentid)
                  .get()
                  .then(student => {
                    if (student.exists) {
                      let dataKey = {
                        key: student.id,
                        studentno: resultdata.data().studentno,
                        vocabulary: resultdata.data().vocablv,
                        grammar: resultdata.data().grammarlv,
                        reading: resultdata.data().readinglv,
                        writing: resultdata.data().writinglv,
                        listening: resultdata.data().listeninglv,
                        score: 0
                      };

                      let dataFInal = { ...dataKey, ...student.data() };
                      this.dataShow.push(dataFInal);
                      this.dataShow.sort((a, b) => {
                        return a.studentno - b.studentno;
                      });
                      this.loadingHide();
                    }

                    this.loadingHide();
                  });
              }
            });
          }
          this.loadingHide();
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
    this.setRunNumber(1, 16);
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}
.brx {
  border: 1px solid red;
}
</style>