<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">เกณฑ์การเก็บคะแนน</div>
        </q-toolbar>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input outlined type="number" label="vocabulary (%)" v-model="dataBasic.vocabulary"/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input outlined type="number" label="grammar (%)" v-model="dataBasic.grammar"/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input outlined type="number" label="reading (%)" v-model="dataBasic.reading"/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input outlined type="number" label="writing (%)" v-model="dataBasic.writing"/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-input
              outlined
              type="number"
              label="listening & speaking (%)"
              v-model="dataBasic.listening"
            />
          </div>
        </div>

        <div class="row">
          <div
            class="col-md-6 col-sm-6 col-xs-12 q-pa-md"
            :class="{'text-right':innerWidth > 600,'text-center':innerWidth < 600}"
          >
            <q-btn
              label="ยกเลิก"
              class="bg-red-8 text-white"
              @click="cancelBtn()"
              style="max-width:250px;width:100%;"
            />
          </div>
          <div
            class="col-md-6 col-sm-6 col-xs-12 q-pa-md"
            :class="{'text-left':innerWidth > 600,'text-center':innerWidth < 600}"
          >
            <q-btn
              label="ตกลง"
              class="bg-teal-5 text-white"
              style="max-width:250px;width:100%;"
              @click="saveBtn()"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        vocabulary: 20,
        grammar: 20,
        reading: 20,
        writing: 20,
        listening: 20
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode"]),
    cancelBtn() {
      this.$router.push("/score");
    },
    async saveBtn() {
      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;

      let sumscore =
        Number(this.dataBasic.vocabulary) +
        Number(this.dataBasic.grammar) +
        Number(this.dataBasic.reading) +
        Number(this.dataBasic.writing) +
        Number(this.dataBasic.listening);

      if (sumscore != 100) {
        this.notifyRed("ตั้งค่า คะแนนต้องมีค่ารวมกันเท่ากับ 100");
        return;
      }

      let newData = {
        vocabulary: Number(this.dataBasic.vocabulary),
        grammar: Number(this.dataBasic.grammar),
        reading: Number(this.dataBasic.reading),
        writing: Number(this.dataBasic.writing),
        listening: Number(this.dataBasic.listening)
      };

      await db
        .collection("school")
        .doc(teacherData.schoolcode)
        .collection("teacher")
        .doc(teacherData.key)
        .collection("scoresetting")
        .doc("data")
        .set(newData);

      this.$router.push("/score");
      this.notifyGreen("ตั้งค่า เกณฑ์การเก็บคะแนน เรียบร้อยแล้ว");
    },
    async loadBasicData() {
      this.loadingShow();

      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;

      let LoadScoreData = await db
        .collection("school")
        .doc(teacherData.schoolcode)
        .collection("teacher")
        .doc(teacherData.key)
        .collection("scoresetting")
        .doc("data")
        .get();

      if (LoadScoreData.exists) {
        this.dataBasic = LoadScoreData.data();
      }

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}
.brx {
  border: 1px solid red;
}
</style>