<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize" />
    <div class="bg-grey-2">
      <div
        align="center"
        class="q-pa-md"
      >
        <q-toolbar
          class="text-h5 mainbox"
          :class="{'text-h6':innerWidth < 700}"
        >
          <div class="window-width">
            ปีการศึกษา {{dataBasic.academicyear}}
            <span v-if="innerWidth > 615">|</span>
            <br v-else>
            {{dataBasic.studentName}}
            <span v-if="innerWidth > 615">|</span>
            <br v-else>
            {{dataBasic.class}}
            <span v-if="innerWidth > 615">|</span>
            เลขที่ {{dataBasic.studentNo}}
          </div>
        </q-toolbar>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="เซต"
              :options="dataBasic.academicyearList"
              v-model="dataBasic.academicyear"
              emit-value
              map-options
              @input="loadUnitData()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
        </div>
      </div>
      <div class="q-mt-lg">
        <q-table
          :data="dataAvgscore"
          :columns="columns1"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr
            slot="body"
            slot-scope="props"
            :props="props"
          >
            <q-td
              key="skill"
              :props="props"
            >
              <div
                align="left"
                class="q-pl-md"
              >
                <span v-if="props.row.__index == 0">Vocabulary</span>
                <span v-if="props.row.__index == 1">Grammar</span>
                <span v-if="props.row.__index == 2">Reading</span>
                <span v-if="props.row.__index == 3">Writing</span>
                <span v-if="props.row.__index == 4">Listening</span>
              </div>
            </q-td>
            <q-td
              key="average"
              :props="props"
            >
              <span v-if="props.row.__index == 0">{{props.row.vocabulary.score.toFixed(2)}}%</span>
              <span v-if="props.row.__index == 1">{{props.row.grammar.score.toFixed(2)}}%</span>
              <span v-if="props.row.__index == 2">{{props.row.reading.score.toFixed(2)}}%</span>
              <span v-if="props.row.__index == 3">{{props.row.writing.score.toFixed(2)}}%</span>
              <span v-if="props.row.__index == 4">{{props.row.listening.score.toFixed(2)}}%</span>
            </q-td>
            <q-td
              key="score"
              :props="props"
            >
              <div>
                <span v-if="props.row.__index == 0">{{props.row.vocabulary.avg.toFixed(2)}}%</span>
              </div>
              <div>
                <span v-if="props.row.__index == 1">{{props.row.grammar.avg.toFixed(2)}}%</span>
              </div>
              <div>
                <span v-if="props.row.__index == 2">{{props.row.reading.avg.toFixed(2)}}%</span>
              </div>
              <div>
                <span v-if="props.row.__index == 3">{{props.row.writing.avg.toFixed(2)}}%</span>
              </div>
              <div>
                <span v-if="props.row.__index == 4">{{props.row.listening.avg.toFixed(2)}}%</span>
              </div>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>

    <div class="bg-grey-2 q-mt-md">
      <div
        align="center"
        class="q-pa-md"
      >
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">คะแนนในแต่ละแบบฝึกหัด</div>
        </q-toolbar>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="Unit"
              :options="dataBasic.unitList"
              v-model="dataBasic.unit"
              emit-value
              map-options
              @input="loadScoreData()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
        </div>
      </div>
      <div class="q-mt-lg">
        <q-table
          :data="dataShowPractice"
          :columns="columns2"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr
            slot="body"
            slot-scope="props"
            :props="props"
          >
            <template v-if="props.row.order == 1000 || props.row.order == 1999 || props.row.order == 2000 || props.row.order == 2999 || props.row.order == 3000 || props.row.order == 3999 || props.row.order == 4000 || props.row.order == 4999 || props.row.order == 5000|| props.row.order == 5999 ">
              <q-td
                colspan="2"
                key="practice"
                class="bg-primary text-white"
                :props="props"
              >
                <div
                  class="q-pl-md"
                  align="left"
                >{{ props.row.practiceName }}</div>
              </q-td>
            </template>
            <template v-else>
              <q-td
                key="practice"
                :props="props"
              >
                <div
                  align="left"
                  class="q-pl-md"
                >
                  <span>
                    <span>{{props.row.practiceName}}</span>
                  </span>
                </div>
              </q-td>
              <q-td
                key="average"
                :props="props"
              >
                <span v-if="props.row.practicetype == 'Flashcard' || props.row.practicetype == 'VDO Teaching' || props.row.practiceName == 'ไม่มีข้อมูล'">-</span>
                <span v-else>{{props.row.score.toFixed(0)}}%</span>
              </q-td>
            </template>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        studentName: "",
        studentNo: this.$route.params.studentno,
        studentCode: this.$route.params.key,
        academicyear: this.$route.params.academicyear.replace("_", "/"),
        academicyearList: [],
        class: this.$route.params.room.replace("_", "/"),
        unit: "-",
        unitList: []
      },
      dataAvgscore: [
        {
          vocabulary: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        },
        {
          grammar: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        },
        {
          reading: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        },
        {
          writing: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        },
        {
          listening: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        }
      ],
      dataShowPractice: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns1: [
        {
          name: "skill",
          label: "ทักษะ",
          align: "center",
          sortable: false
        },
        {
          name: "average",
          label: "คะแนนเฉลี่ย",
          align: "center",
          sortable: false,
          style: "width:250px;"
        },
        {
          name: "score",
          label: "ความก้าวหน้า",
          align: "center",
          sortable: false,
          style: "width:250px;"
        }
      ],
      columns2: [
        {
          name: "practice",
          label: "แบบฝึกหัด",
          align: "center",
          sortable: false
        },
        {
          name: "average",
          label: "คะแนน (%)",
          align: "center",
          sortable: false,
          style: "width:250px;"
        }
      ],

      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode"]),
    async loadBasicData() {
      this.loadingShow("กำลังโหลดข้อมูลคะแนนนักเรียนกรุณารอสักครู่");

      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      this.dataBasic.schoolcode = teacherData.schoolcode;
      let tascherAcademicYear = this.$store.state.system.tasacademicyear;

      var academicyearData = [];
      // Load : Student Data
      let loadStudentData = await db
        .collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .get();

      this.dataBasic.studentName =
        loadStudentData.data().name + " " + loadStudentData.data().surname; // Show : Student Name

      // Load : Academicyear Data
      let loadAcademicyearData = await db
        .collection("academicyear")
        .where("schoolCode", "==", teacherData.schoolcode)
        .get();

      if (loadAcademicyearData.size > 0) {
        for (const doc of loadAcademicyearData.docs) {
          let newDoc = doc.data();
          let datakey = {
            label: newDoc.academicyear,
            value: newDoc.academicyear
          };
          this.dataBasic.academicyearList.push(datakey); // Push : Academicyear List -
        }

        // console.log(this.dataBasic.academicyearList);
        this.dataBasic.academicyearList.sort((a, b) => {
          let apart = a.value.split("/");
          let bpart = b.value.split("/");
          if (Number(apart[1]) == Number(bpart[1])) {
            return Number(apart[0]) - Number(bpart[0]);
          } else {
            return Number(apart[1]) - Number(bpart[1]);
          }
        });

        for (let i = 0; i < this.dataBasic.academicyearList.length; i++) {
          if (this.dataBasic.academicyearList[i].value == tascherAcademicYear) {
            this.dataBasic.academicyear = tascherAcademicYear;
            break;
          } else {
            // console.log(this.dataBasic.academicyearList);
            this.dataBasic.academicyear = this.dataBasic.academicyearList[
              this.dataBasic.academicyearList.length - 1
            ].value;
          }
        }
      } else {
        // console.log(this.dataBasic.academicyearList);
        this.dataBasic.academicyear = "-- ยังไม่มีการลงทะเบียน --";
      }

      this.loadUnitData();
    },
    async loadUnitData() {
      this.loadingShow("กำลังโหลดข้อมูลคะแนนนักเรียนกรุณารอสักครู่");

      let newterm = this.dataBasic.academicyear.replace("/", "-");

      await db
        .collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .collection("practicelog")
        .doc(newterm)
        .collection("practicescore")
        .where("status", "==", "pass")
        .get()
        .then(data => {
          let newUnit = [];
          this.dataBasic.unitList = [];

          if (!data.empty) {
            data.forEach(unitresult => {
              newUnit.push(unitresult.data().unit);
            });

            newUnit = newUnit.filter(function(value, index, array) {
              return array.indexOf(value) == index;
            });

            newUnit.sort((a, b) => {
              return a - b;
            });
            let dataValue;
            for (let i = 0; i < newUnit.length; i++) {
              dataValue = {
                label: newUnit[i],
                value: newUnit[i]
              };
              this.dataBasic.unitList.push(dataValue);
              this.dataBasic.unit = this.dataBasic.unitList[0].value;
            }
          } else {
            this.dataBasic.unit = "-";
          }
        });

      this.loadAvgData();
      this.loadScoreData();
    },
    async loadAvgData() {
      let newterm = this.dataBasic.academicyear.replace("/", "-");

      let vocabnumber = 0;
      let grammarnumber = 0;
      let readingnumber = 0;
      let writingnumber = 0;
      let listeningnumber = 0;

      let vocabscore = 0;
      let grammarscore = 0;
      let readingscore = 0;
      let writingscore = 0;
      let listeningscore = 0;

      // Load Avg Vocab Score
      db.collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .collection("practicelog")
        .doc(newterm)
        .collection("practicescore")
        .where("status", "==", "pass")
        .where("world", "==", "Vocabulary")
        .get()
        .then(data => {
          data.forEach(vocab => {
            if (vocab.data().practicetype != "Flashcard") {
              vocabnumber++;
              vocabscore += vocab.data().score;
            }
          });
          if (vocabnumber > 0) {
            this.dataAvgscore[0].vocabulary.score = vocabscore / vocabnumber;
          } else {
            this.dataAvgscore[0].vocabulary.score = 0;
          }
        });

      // Load Avg Grammar Score
      db.collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .collection("practicelog")
        .doc(newterm)
        .collection("practicescore")
        .where("status", "==", "pass")
        .where("world", "==", "Grammar")
        .get()
        .then(data => {
          data.forEach(grammar => {
            if (grammar.data().practicetype != "VDO Teaching") {
              grammarnumber++;
              grammarscore += grammar.data().score;
            }
          });
          if (grammarnumber > 0) {
            this.dataAvgscore[1].grammar.score = grammarscore / grammarnumber;
          } else {
            this.dataAvgscore[1].grammar.score = 0;
          }
        });

      // Load Avg Reading Score
      db.collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .collection("practicelog")
        .doc(newterm)
        .collection("practicescore")
        .where("status", "==", "pass")
        .where("world", "==", "Reading")
        .get()
        .then(data => {
          data.forEach(reading => {
            readingnumber++;
            readingscore += reading.data().score;
          });
          if (readingnumber > 0) {
            this.dataAvgscore[2].reading.score = readingscore / readingnumber;
          } else {
            this.dataAvgscore[2].reading.score = 0;
          }
        });

      // Load Avg Writing Score
      db.collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .collection("practicelog")
        .doc(newterm)
        .collection("practicescore")
        .where("status", "==", "pass")
        .where("world", "==", "Writing")
        .get()
        .then(data => {
          data.forEach(writing => {
            writingnumber++;
            writingscore += writing.data().score;
          });
          if (writingnumber > 0) {
            this.dataAvgscore[3].writing.score = writingscore / writingnumber;
          } else {
            this.dataAvgscore[3].writing.score = 0;
          }
        });

      // Load Avg Listening Score
      db.collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .collection("practicelog")
        .doc(newterm)
        .collection("practicescore")
        .where("status", "==", "pass")
        .where("world", "==", "Listening")
        .get()
        .then(data => {
          data.forEach(listening => {
            if (listening.data().practicetype != "VDO Teaching") {
              listeningnumber++;
              listeningscore += listening.data().score;
            }
          });
          if (listeningnumber > 0) {
            this.dataAvgscore[4].listening.score =
              listeningscore / listeningnumber;
          } else {
            this.dataAvgscore[4].listening.score = 0;
          }
        });

      this.loadProgressAvg();
      this.loadScoreData();
    },
    loadProgressAvg() {
      let newterm = this.dataBasic.academicyear.replace("/", "-");

      this.dataAvgscore = [
        {
          vocabulary: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        },
        {
          grammar: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        },
        {
          reading: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        },
        {
          writing: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        },
        {
          listening: {
            score: 0,
            number: 0,
            passed: 0,
            avg: 0
          }
        }
      ];

      let vocablevel;
      let grammarlevel;
      let readinglevel;
      let writinglevel;
      let listeninglevel;

      db.collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .collection("progress")
        .doc(newterm)
        .get()
        .then(data => {
          if (data.exists) {
            this.dataAvgscore[0].vocabulary.passed = data.data().vocabulary;
            this.dataAvgscore[1].grammar.passed = data.data().grammar;
            this.dataAvgscore[2].reading.passed = data.data().reading;
            this.dataAvgscore[3].writing.passed = data.data().writing;
            this.dataAvgscore[4].listening.passed = data.data().listening;

            db.collection("course")
              .where("studentid", "==", this.dataBasic.studentCode)
              .where("academicYear", "==", this.dataBasic.academicyear)
              .where("room", "==", this.dataBasic.class)
              .get()
              .then(student => {
                student.forEach(result => {
                  vocablevel = result.data().vocablv;
                  grammarlevel = result.data().grammarlv;
                  readinglevel = result.data().readinglv;
                  writinglevel = result.data().writinglv;
                  listeninglevel = result.data().listeninglv;
                });

                for (let i = 1; i <= 12; i++) {
                  // หาจำนวนแบบฝึกหัด Vocab
                  db.collection("practicelist")
                    .doc("data")
                    .collection("L" + vocablevel + "U" + i)
                    .where("order", "<", 2000)
                    .get()
                    .then(vocabdata => {
                      vocabdata.forEach(vocabresult => {
                        if (vocabresult.data().practicetype != "flashcard") {
                          this.dataAvgscore[0].vocabulary.number++;
                        }
                      });
                      // หาจำนวนแบบฝึกหัด Grammar
                      db.collection("practicelist")
                        .doc("data")
                        .collection("L" + grammarlevel + "U" + i)
                        .where("order", ">", 2000)
                        .where("order", "<", 3000)
                        .get()
                        .then(grammardata => {
                          grammardata.forEach(grammarresult => {
                            if (
                              grammarresult.data().practicetype !=
                              "teaching VDO"
                            ) {
                              this.dataAvgscore[1].grammar.number++;
                            }
                          });

                          // หาจำนวนแบบฝึกหัด Reading
                          db.collection("practicelist")
                            .doc("data")
                            .collection("L" + readinglevel + "U" + i)
                            .where("order", ">", 3000)
                            .where("order", "<", 4000)
                            .get()
                            .then(readingdata => {
                              this.dataAvgscore[2].reading.number +=
                                readingdata.size;

                              // หาจำนวนแบบฝึกหัด writing
                              db.collection("practicelist")
                                .doc("data")
                                .collection("L" + writinglevel + "U" + i)
                                .where("order", ">", 4000)
                                .where("order", "<", 5000)
                                .get()
                                .then(writingdata => {
                                  this.dataAvgscore[3].writing.number +=
                                    writingdata.size;
                                  db.collection("practicelist")
                                    .doc("data")
                                    .collection("L" + listeninglevel + "U" + i)
                                    .where("order", ">", 5000)
                                    .get()
                                    .then(listeningdata => {
                                      listeningdata.forEach(listeningresult => {
                                        if (
                                          listeningresult.data().practicetype !=
                                          "teaching VDO"
                                        ) {
                                          this.dataAvgscore[4].listening
                                            .number++;
                                        }
                                      });

                                      // Vocab : Avg
                                      if (
                                        this.dataAvgscore[0].vocabulary.number >
                                        0
                                      ) {
                                        this.dataAvgscore[0].vocabulary.avg =
                                          (data.data().vocabulary * 100) /
                                          this.dataAvgscore[0].vocabulary
                                            .number;
                                      } else {
                                        this.dataAvgscore[0].vocabulary.avg = 0;
                                      }
                                      // Grammar : Avg
                                      if (
                                        this.dataAvgscore[1].grammar.number > 0
                                      ) {
                                        this.dataAvgscore[1].grammar.avg =
                                          (data.data().grammar * 100) /
                                          this.dataAvgscore[1].grammar.number;
                                      } else {
                                        this.dataAvgscore[1].grammar.avg = 0;
                                      }
                                      // Reading : Avg
                                      if (
                                        this.dataAvgscore[2].reading.number > 0
                                      ) {
                                        this.dataAvgscore[2].reading.avg =
                                          (data.data().reading * 100) /
                                          this.dataAvgscore[2].reading.number;
                                      } else {
                                        this.dataAvgscore[2].reading.avg = 0;
                                      }
                                      // writing : Avg
                                      if (
                                        this.dataAvgscore[3].writing.number > 0
                                      ) {
                                        this.dataAvgscore[3].writing.avg =
                                          (data.data().writing * 100) /
                                          this.dataAvgscore[3].writing.number;
                                      } else {
                                        this.dataAvgscore[3].writing.avg = 0;
                                      }
                                      // listening : Avg
                                      if (
                                        this.dataAvgscore[4].listening.number >
                                        0
                                      ) {
                                        this.dataAvgscore[4].listening.avg =
                                          (data.data().listening * 100) /
                                          this.dataAvgscore[4].listening.number;
                                      } else {
                                        this.dataAvgscore[4].listening.avg = 0;
                                      }

                                      this.loadingHide();
                                    });
                                });
                            });
                        });
                    });
                }
              });
          } else {
            this.loadingHide();
          }
        });
    },
    loadScoreData() {
      let newterm = this.dataBasic.academicyear.replace("/", "-");

      db.collection("school")
        .doc(this.dataBasic.schoolcode)
        .collection("student")
        .doc(this.dataBasic.studentCode)
        .collection("practicelog")
        .doc(newterm)
        .collection("practicescore")
        .where("unit", "==", this.dataBasic.unit)
        .where("status", "==", "pass")
        .get()
        .then(data => {
          this.dataShowPractice = [];
          data.forEach(practice => {
            this.dataShowPractice.push(practice.data());
          });

          let datakey = {
            order: 1000,
            practiceName: "Vocabulary",
            score: ""
          };
          this.dataShowPractice.push(datakey);
          datakey = {
            order: 2000,
            practiceName: "Grammar",
            score: ""
          };
          this.dataShowPractice.push(datakey);
          datakey = {
            order: 3000,
            practiceName: "Reading",
            score: ""
          };
          this.dataShowPractice.push(datakey);
          datakey = {
            order: 4000,
            practiceName: "Writing",
            score: ""
          };
          this.dataShowPractice.push(datakey);
          datakey = {
            order: 5000,
            practiceName: "Listening & speaking",
            score: ""
          };
          this.dataShowPractice.push(datakey);
          this.dataShowPractice.sort((a, b) => {
            return a.order - b.order;
          });

          for (let i = 0; i < this.dataShowPractice.length; i++) {
            if (
              this.dataShowPractice[i].order == 1000 &&
              this.dataShowPractice[i + 1].order == 2000
            ) {
              datakey = {
                order: 1001,
                practiceName: "ไม่มีข้อมูล",
                score: ""
              };
              this.dataShowPractice.push(datakey);
            }
            if (
              this.dataShowPractice[i].order == 2000 &&
              this.dataShowPractice[i + 1].order == 3000
            ) {
              datakey = {
                order: 2001,
                practiceName: "ไม่มีข้อมูล",
                score: ""
              };
              this.dataShowPractice.push(datakey);
            }
            if (
              this.dataShowPractice[i].order == 3000 &&
              this.dataShowPractice[i + 1].order == 4000
            ) {
              datakey = {
                order: 3001,
                practiceName: "ไม่มีข้อมูล",
                score: ""
              };
              this.dataShowPractice.push(datakey);
            }
            if (
              this.dataShowPractice[i].order == 4000 &&
              this.dataShowPractice[i + 1].order == 5000
            ) {
              datakey = {
                order: 4001,
                practiceName: "ไม่มีข้อมูล",
                score: ""
              };
              this.dataShowPractice.push(datakey);
            }
            if (this.dataShowPractice[i].order == 5000) {
              this.dataShowPractice.sort((a, b) => {
                return a.order - b.order;
              });

              if (this.dataShowPractice[i + 1] == undefined) {
                datakey = {
                  order: 5001,
                  practiceName: "ไม่มีข้อมูล",
                  score: ""
                };
                this.dataShowPractice.push(datakey);
              }
            }
          }
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}
.brx {
  border: 1px solid red;
}
</style>