<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize" />
    <div class="bg-grey-2 q-mb-md" v-if="isData">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">{{dataBasic.schoolname}}</div>
        </q-toolbar>
        <hr />
      </div>
      <div class="mainbox row" v-if="isData">
        <div class="col-sm-6 col-xs-12 q-pa-xs">
          <table v-for="(item,index) in dataBasic.classList" :key="index">
            <tr v-if="index == 0">
              <td colspan="2">
                <div align="center" class="q-pa-sm">
                  <span class="text-h5">เทอม 1</span>
                </div>
              </td>
            </tr>
            <tr v-if="item.term == 1">
              <td style="vertical-align: top">
                <div
                  align="center"
                  class="topic-box-lg text-white q-pa-xs c-primary text-body1 q-mb-md"
                  :class="{'topic-box-md text-body2':innerWidth < 1000,'topic-box-sm text-body2':innerWidth < 600}"
                >{{item.label}}</div>
              </td>
              <td style="vertical-align: top">
                <div class="q-pl-md">
                  <a :href="item.doc" target="_blanks">
                    <q-btn
                      style="width:130px;"
                      align="left"
                      class="bg-teal-5 text-white q-pa-sm q-mr-sm q-mb-sm q-pl-md"
                    >
                      <span class="fas fa-file-alt q-pr-md" style="font-size:30px;"></span>
                      <span style="padding-top:5px;text-transform: lowercase;">doc</span>
                    </q-btn>
                  </a>
                  <a :href="item.pdf" target="_blanks">
                    <q-btn
                      style="width:130px;"
                      align="left"
                      class="bg-teal-5 text-white q-pa-sm q-mr-md q-mb-sm q-pl-md"
                    >
                      <span class="fas fa-file-invoice q-pr-md" style="font-size:30px;"></span>
                      <span style="padding-top:5px;text-transform: lowercase;">pdf</span>
                    </q-btn>
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-6 col-xs-12 q-pa-xs">
          <table v-for="(item,index) in dataBasic.classList" :key="index">
            <tr v-if="index == 1">
              <td colspan="2">
                <div align="center" class="q-pa-sm">
                  <span class="text-h5">เทอม 2</span>
                </div>
              </td>
            </tr>
            <tr v-if="item.term == 2">
              <td style="vertical-align: top">
                <div
                  align="center"
                  class="topic-box-lg text-white q-pa-xs c-primary text-body1 q-mb-md"
                  :class="{'topic-box-md text-body2':innerWidth < 1000,'topic-box-sm text-body2':innerWidth < 600}"
                >{{item.label}}</div>
              </td>
              <td style="vertical-align: top">
                <div class="q-pl-md">
                  <a :href="item.doc" target="_blanks">
                    <q-btn
                      style="width:130px;"
                      align="left"
                      class="bg-teal-5 text-white q-pa-sm q-mr-sm q-mb-sm q-pl-md"
                    >
                      <span class="fas fa-file-alt q-pr-md" style="font-size:30px;"></span>
                      <span style="padding-top:5px;text-transform: lowercase;">doc</span>
                    </q-btn>
                  </a>
                  <a :href="item.pdf" target="_blanks">
                    <q-btn
                      style="width:130px;"
                      align="left"
                      class="bg-teal-5 text-white q-pa-sm q-mr-md q-mb-sm q-pl-md"
                    >
                      <span class="fas fa-file-invoice q-pr-md" style="font-size:30px;"></span>
                      <span style="padding-top:5px;text-transform: lowercase;">pdf</span>
                    </q-btn>
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="q-pa-xs q-ma-sm" v-else>
        <span class="text-red">*</span>
        <span>ยังไม่มีการลงทะเบียนนักเรียน กรุณาติดต่อทีมงานค่ะ</span>
      </div>
    </div>

    <!-- <div class="bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">เนื้อหาวิชา</div>
        </q-toolbar>
        <hr />
      </div>
      <div class="mainbox">
        <div class="q-pa-sm">
          <a
            href="https://api.winner-english.com/data/studyplan_world/contentbookvocab.pdf"
            target="_blank"
          >
            <q-btn style="width:150px;" align="left" class="bg-teal-5 text-white q-pa-sm q-ma-sm">
              <span class="fas fa-file-invoice q-pr-md" style="font-size:30px;"></span>
              <span style="padding-top:5px;text-transform: lowercase;">Vocabulary</span>
            </q-btn>
          </a>

          <a
            href="https://api.winner-english.com/data/studyplan_world/contentbookgrammar.pdf"
            target="_blank"
          >
            <q-btn style="width:150px;" align="left" class="bg-teal-5 text-white q-pa-sm q-ma-sm">
              <span class="fas fa-file-invoice q-pr-md" style="font-size:30px;"></span>
              <span style="padding-top:5px;text-transform: lowercase;">Grammar</span>
            </q-btn>
          </a>

          <a
            href="https://api.winner-english.com/data/studyplan_world/contentbookreading.pdf"
            target="_blank"
          >
            <q-btn style="width:150px;" align="left" class="bg-teal-5 text-white q-pa-sm q-ma-sm">
              <span class="fas fa-file-invoice q-pr-md" style="font-size:30px;"></span>
              <span style="padding-top:5px;text-transform: lowercase;">Reading</span>
            </q-btn>
          </a>

          <a
            href="https://api.winner-english.com/data/studyplan_world/contentbookphonic.pdf"
            target="_blank"
          >
            <q-btn style="width:150px;" align="left" class="bg-teal-5 text-white q-pa-sm q-ma-sm">
              <span class="fas fa-file-invoice q-pr-md" style="font-size:30px;"></span>
              <span style="padding-top:5px;text-transform: lowercase;">Phonics</span>
            </q-btn>
          </a>

          <a
            href="https://api.winner-english.com/data/studyplan_world/contentbookconversation.pdf"
            target="_blank"
          >
            <q-btn style="width:150px;" align="left" class="bg-teal-5 text-white q-pa-sm q-ma-sm">
              <span class="fas fa-file-invoice q-pr-md" style="font-size:30px;"></span>
              <span style="padding-top:5px;text-transform: lowercase;">Conversation</span>
            </q-btn>
          </a>
        </div>
      </div>
    </div>-->
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        schoolname: "",
        classList: [],
      },
      serverpath: "https://api.winner-english.com/data/studyplan/",
      isData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
    };
  },
  methods: {
    ...mapActions(["setLinkCode"]),
    settingBtn() {
      this.$router.push("/score/setting");
    },
    async loadBasicData() {
      this.loadingShow();
      var lastAcademicYear = ""; // last academic year
      var schoolStudyplan = "B";
      var academicList = [];
      var levelfile;
      var term;
      var _this = this;

      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;

      let loadSchoolData = await db
        .collection("school")
        .doc(teacherData.schoolcode)
        .get();

      this.dataBasic.schoolname = "โรงเรียน" + loadSchoolData.data().name;
      schoolStudyplan = loadSchoolData.data().studyplan;

      // Load : Academicyear Data
      let loadAcademicyearData = await db
        .collection("academicyear")
        .where("schoolCode", "==", teacherData.schoolcode)
        .get();

      if (loadAcademicyearData.size > 0) {
        for (const doc of loadAcademicyearData.docs) {
          academicList.push(doc.data().academicyear);
        }
        academicList.sort((a, b) => {
          let apart = a.split("/");
          let bpart = b.split("/");
          if (Number(apart[1]) == Number(bpart[1])) {
            return Number(apart[0]) - Number(bpart[0]);
          } else {
            return Number(apart[1]) - Number(bpart[1]);
          }
        });

        lastAcademicYear = academicList[academicList.length - 1];

        term = lastAcademicYear.split("/");

        // console.log(lastAcademicYear);
        // Load : Room Data
        let loadRoomData = await db
          .collection("academicyear")
          .where("schoolCode", "==", teacherData.schoolcode)
          .where("academicyear", "==", lastAcademicYear)
          .get();

        for (const doc of loadRoomData.docs) {
          let newDoc = doc.data();
          this.dataBasic.classList = [];
          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomP = "isP" + i;

              if (roomSet == newRoomP) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                let filenamedoc;
                let filenamepdf;

                if (newDocRoom === true) {
                  let schooldata = await db
                    .collection("school")
                    .doc(teacherData.schoolcode)
                    .get();

                  let strroom = newRoomP.substr(2, 4);

                  if (schooldata.data().classroom == undefined) {
                    this.isData = false;
                  } else {
                    if (schooldata.data().classroom[strroom]) {
                      let subroom = schooldata.data().classroom[strroom];
                      let docdata;
                      let newStudyPlan;

                      if (subroom == "none") {
                      } else {
                        newStudyPlan = subroom.split("-");
                        filenamedoc = "-DOC.zip";
                        filenamepdf = "-PDF.zip";

                        for (let r = 0; r < newStudyPlan.length; r++) {
                          newObjRoom = {
                            label: "ป." + i,
                            value: "ป." + i,
                            term: r + 1,
                            doc:
                              _this.serverpath +
                              newStudyPlan[r] +
                              "-" +
                              strroom +
                              filenamedoc,
                            pdf:
                              _this.serverpath +
                              newStudyPlan[r] +
                              "-" +
                              strroom +
                              filenamepdf,
                          };
                          this.dataBasic.classList.push(newObjRoom);
                        }
                      }
                    }
                    this.isData = true;
                  }
                }
              }
            }
          }

          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomM = "isM" + i;

              if (roomSet == newRoomM) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                let filenamedoc;
                let filenamepdf;

                if (newDocRoom === true) {
                  let schooldata = await db
                    .collection("school")
                    .doc(teacherData.schoolcode)
                    .get();

                  let strroom = newRoomM.substr(2, 4);

                  if (schooldata.data().classroom == undefined) {
                    this.isData = false;
                  } else {
                    if (schooldata.data().classroom[strroom]) {
                      let subroom = schooldata.data().classroom[strroom];
                      let docdata;
                      let newStudyPlan;

                      if (subroom == "none") {
                      } else {
                        newStudyPlan = subroom.split("-");
                        filenamedoc = "-DOC.zip";
                        filenamepdf = "-PDF.zip";

                        for (let r = 0; r < newStudyPlan.length; r++) {
                          newObjRoom = {
                            label: "ม." + i,
                            value: "ม." + i,
                            term: r + 1,
                            doc:
                              _this.serverpath +
                              newStudyPlan[r] +
                              "-" +
                              strroom +
                              filenamedoc,
                            pdf:
                              _this.serverpath +
                              newStudyPlan[r] +
                              "-" +
                              strroom +
                              filenamepdf,
                          };
                          this.dataBasic.classList.push(newObjRoom);
                        }
                      }
                    }
                    this.isData = true;
                  }
                }
              }
            }
          }
        }
      } else {
        this.isData = false;
      }

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    },
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
    this.setRunNumber(1, 16);
  },
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.topic-box-lg {
  width: 200px;
  height: 50px;
  line-height: 45px;
}
.topic-box-md {
  width: 150px;
  height: 50px;
  line-height: 45px;
}
.topic-box-sm {
  width: 100px;
  height: 50px;
  line-height: 45px;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}
.brx {
  border: 1px solid red;
}
</style>