<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <div class="bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox" v-if="dataBasic.school">
          <div class="window-width">รายชื่อนักเรียน</div>
          <q-space/>
          <div align="right">
            <q-btn
              v-show="dataShow.length"
              flat
              round
              class="bg-teal-5 text-white"
              icon="fas fa-print"
              @click="printBtn()"
            />
          </div>
        </q-toolbar>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ปีการศึกษา"
              :options="dataBasic.academicyearList"
              v-model="dataBasic.academicyear"
              emit-value
              map-options
              @input="loadClassRoomData(dataBasic.academicyear)"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-sm-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              label="ชั้น/ห้อง"
              :options="dataBasic.classList"
              v-model="dataBasic.class"
              emit-value
              map-options
              @input="loadStudentData()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
        </div>
      </div>
      <div class="q-mt-lg">
        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="orderNumber" :props="props">
              <span>{{props.row.studentno}}</span>
            </q-td>
            <q-td key="name" :props="props">
              <span>{{props.row.studentname}}</span>
            </q-td>
            <q-td key="username" :props="props">
              <span>{{props.row.username}}</span>
            </q-td>
            <q-td key="password" :props="props">
              <span>{{props.row.password}}</span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        school: "",
        schoolcode: "",
        academicyear: this.$store.state.system.tasacademicyear,
        class: this.$store.state.system.tasclassroom,
        academicyearList: [],
        classList: []
      },
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:200px;",
          field: "orderNumber",
          sortable: true
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "center",
          field: "name",
          sortable: true
        },
        {
          name: "username",
          label: "username",
          align: "center",
          style: "width:200px;",
          field: "username",
          sortable: true
        },
        {
          name: "password",
          label: "password",
          align: "center",
          style: "width:200px;",
          field: "password",
          sortable: true
        }
      ]
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setAcademicData",
      "setClassroomData",
      "setStudentListData"
    ]),
    printBtn() {
      let newAcademicyear = this.dataBasic.academicyear.replace("/", "_");
      let newClass = this.dataBasic.class.replace("/", "_");

      let routeData = this.$router.resolve({
        path:
          "/studentlist/print/" +
          newAcademicyear +
          "/" +
          newClass +
          "/" +
          this.dataBasic.schoolcode
      });
      window.open(routeData.href, "_blank");
    },
    async loadBasicData() {
      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      let tascherAcademicYear = this.$store.state.system.tasacademicyear;
      let tascherClassRoom = this.$store.state.system.tasclassroom;
      let tasScoreSchoolcode = this.$store.state.system.tasstudentlist
        .schoolCode;
      let tasScoreAcademic = this.$store.state.system.tasstudentlist
        .academicYear;
      let tasScoreClassRoom = this.$store.state.system.tasstudentlist.classRoom;

      if (
        teacherData.schoolcode === tasScoreSchoolcode &&
        tascherAcademicYear === tasScoreAcademic &&
        tascherClassRoom === tasScoreClassRoom
      ) {
        // Load Vuex : ปีการศึกษา/ห้องเรียน/ชื่อโรงเรียน/รหัสโรงเรียน
        this.dataBasic.academicyear = this.$store.state.system.tasstudentlist.academicYear;
        this.dataBasic.academicyearList = this.$store.state.system.tasstudentlist.academicYearList;
        this.dataBasic.class = this.$store.state.system.tasstudentlist.classRoom;
        this.dataBasic.classList = this.$store.state.system.tasstudentlist.classRoomList;
        this.dataBasic.school = this.$store.state.system.tasstudentlist.schoolName;
        this.dataBasic.schoolcode = this.$store.state.system.tasstudentlist.schoolCode;

        // Load Vuex : ข้อมูลนักเรียน ที่มีการโหลดข้อมูลเก็บไว้แล้ว
        this.dataShow = this.$store.state.system.tasstudentlist.student;
      } else {
        this.loadingShow();

        this.dataBasic.schoolcode = teacherData.schoolcode;

        var academicyearData = [];
        // Load : School Data
        let loadSchoolData = await db
          .collection("school")
          .doc(teacherData.schoolcode)
          .get();

        this.dataBasic.school = "โรงเรียน" + loadSchoolData.data().name; // Show : School Name

        // Load : Academicyear Data
        let loadAcademicyearData = await db
          .collection("academicyear")
          .where("schoolCode", "==", teacherData.schoolcode)
          .get();

        if (loadAcademicyearData.size > 0) {
          for (const doc of loadAcademicyearData.docs) {
            let newDoc = doc.data();
            let datakey = {
              label: newDoc.academicyear,
              value: newDoc.academicyear
            };
            this.dataBasic.academicyearList.push(datakey); // Push : Academicyear List -
          }

          // console.log(this.dataBasic.academicyearList);
          this.dataBasic.academicyearList.sort((a, b) => {
            let apart = a.value.split("/");
            let bpart = b.value.split("/");
            if (Number(apart[1]) == Number(bpart[1])) {
              return Number(apart[0]) - Number(bpart[0]);
            } else {
              return Number(apart[1]) - Number(bpart[1]);
            }
          });

          for (let i = 0; i < this.dataBasic.academicyearList.length; i++) {
            if (
              this.dataBasic.academicyearList[i].value == tascherAcademicYear
            ) {
              this.dataBasic.academicyear = tascherAcademicYear;
              break;
            } else {
              // console.log(this.dataBasic.academicyearList);
              this.dataBasic.academicyear = this.dataBasic.academicyearList[
                this.dataBasic.academicyearList.length - 1
              ].value;
            }
          }
        } else {
          // console.log(this.dataBasic.academicyearList);
          this.dataBasic.academicyear = "-- ยังไม่มีการลงทะเบียน --";
        }

        this.loadClassRoomData();
      }
    },
    async loadClassRoomData(data) {
      // Load : Teacher Data
      let teacherData = this.$store.state.system.tasData;
      this.dataBasic.classList = [];

      let academicyearData = this.dataBasic.academicyear
        ? this.dataBasic.academicyear
        : data;

      this.setAcademicData(this.dataBasic.academicyear);

      let teacherClassRoom = this.$store.state.system.tasclassroom;

      // Load : Room Data
      let loadRoomData = await db
        .collection("academicyear")
        .where("schoolCode", "==", teacherData.schoolcode)
        .where("academicyear", "==", academicyearData ? academicyearData : "")
        .get();

      if (loadRoomData.size > 0) {
        for (const doc of loadRoomData.docs) {
          let newDoc = doc.data();
          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomP = "roomP" + i;

              if (roomSet == newRoomP) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                for (let j = 1; j <= newDocRoom; j++) {
                  newObjRoom = {
                    label: "ป." + i + "/" + j,
                    value: "ป." + i + "/" + j
                  };
                  this.dataBasic.classList.push(newObjRoom); // Push : Class Room List - ป.
                }
              }
            }
          }

          for (let roomSet in newDoc) {
            for (let i = 1; i <= 6; i++) {
              let newRoomM = "roomM" + i;

              if (roomSet == newRoomM) {
                let newDocRoom = newDoc[roomSet];
                let newObjRoom;
                for (let j = 1; j <= newDocRoom; j++) {
                  newObjRoom = {
                    label: "ม." + i + "/" + j,
                    value: "ม." + i + "/" + j
                  };
                  this.dataBasic.classList.push(newObjRoom); // Push : Class Room List - ม.
                }
              }
            }
          }
        }

        for (let i = 0; i < this.dataBasic.classList.length; i++) {
          if (this.dataBasic.classList[i].value == teacherClassRoom) {
            this.dataBasic.class = teacherClassRoom;
            break;
          } else {
            this.dataBasic.class = this.dataBasic.classList[0].value; //Show : Class Room List First Row
          }
        }
        this.loadStudentData();
      } else {
        this.dataBasic.class = "-- ยังไม่มีการลงทะเบียน --"; //Show : Class Room List First Row
        this.loadingHide();
      }
    },
    loadStudentData() {
      this.loadingShow("กำลังโหลดข้อมูลนักเรียน กรุณารอสักครู่");

      let teacherData = this.$store.state.system.tasData;
      this.setClassroomData(this.dataBasic.class);

      this.dataShow = [];
      db.collection("course")
        .where("schoolcode", "==", teacherData.schoolcode)
        .where("room", "==", this.dataBasic.class)
        .where("academicYear", "==", this.dataBasic.academicyear)
        .get()
        .then(doc => {
          let studentArr = [];
          let newArr;

          if (doc.size > 0) {
            for (const item of doc.docs) {
              let studentid = item.data().studentid;

              db.collection("school")
                .doc(teacherData.schoolcode)
                .collection("student")
                .doc(studentid)
                .get()
                .then(data => {
                  if (data.exists) {
                    let datainput = {
                      studentno: item.data().studentno,
                      studentname: data.data().name + " " + data.data().surname,
                      username: data.data().username,
                      password: data.data().password,
                      studentcode: studentid
                    };

                    studentArr.push(datainput);
                    studentArr.sort((a, b) => {
                      return Number(a.studentno) - Number(b.studentno);
                    });
                  }

                  this.dataShow = this.getUnique(studentArr, "studentcode");

                  this.setStudentListData({
                    academicYear: this.dataBasic.academicyear,
                    academicYearList: this.dataBasic.academicyearList,
                    classRoom: this.dataBasic.class,
                    classRoomList: this.dataBasic.classList,
                    student: this.dataShow,
                    schoolName: this.dataBasic.school,
                    schoolCode: this.dataBasic.schoolcode
                  });

                  this.loadingHide();
                });
            }
          } else {
            this.notifyRed("ไม่มีข้อมูลนักเรียน");
            this.setStudentListData({
              academicYear: this.dataBasic.academicyear,
              academicYearList: this.dataBasic.academicyearList,
              classRoom: this.dataBasic.class,
              classRoomList: this.dataBasic.classList,
              student: this.dataShow,
              schoolName: this.dataBasic.school,
              schoolCode: this.dataBasic.schoolcode
            });
            this.loadingHide();
          }
        });
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}
.brx {
  border: 1px solid red;
}
</style>