<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize" />
    <div class="bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">เอกสารประกอบการเรียน</div>
        </q-toolbar>
        <hr />
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-6 q-pa-sm">
            <q-select
              label="เลเวล"
              v-model="dataBasic.level"
              :options="levelList"
              outlined
              emit-value
              map-options
              @input="changeLevel()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-6 q-pa-sm">
            <q-select
              label="ยูนิต"
              v-model="dataBasic.unit"
              :options="unitList"
              outlined
              emit-value
              map-options
              @input="changeUnit()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
        </div>
        <div class="q-mt-md">
          <table>
            <tr>
              <td style="vertical-align:top;">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 topic-box-lg"
                  :class="{'topic-box-md':innerWidth < 1000,'topic-box-sm':innerWidth < 600,'topic-box-xs text-body2':innerWidth < 400}"
                >Vocabulary</div>
              </td>
              <td style="vertical-align:top;">
                <div class="q-pl-md">
                  <q-btn
                    style="width:135px;"
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm"
                    @click="vocabularycontentBtn()"
                  >
                    <span class="fas fa-file-alt q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">เนื้อหา</span>
                  </q-btn>
                  <q-btn
                    style="width:135px;"
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm"
                    @click="vocabularypracticeBtn()"
                  >
                    <span class="fas fa-file-invoice q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">แบบฝึกหัด</span>
                  </q-btn>
                  <q-btn
                    style="width:135px;"
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm"
                    @click="vocabularyanswerBtn()"
                  >
                    <span class="fas fa-check-square q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">เฉลย</span>
                  </q-btn>
                </div>
              </td>
            </tr>

            <tr>
              <td style="vertical-align:top;">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 q-mt-sm topic-box-lg"
                  :class="{'topic-box-md':innerWidth < 1000,'topic-box-sm':innerWidth < 600,'topic-box-xs text-body2':innerWidth < 400}"
                >Grammar</div>
              </td>
              <td style="vertical-align:top;">
                <div class="q-pl-md q-mt-sm">
                  <q-btn
                    style="width:135px;"
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm"
                    @click="grammarcontentBtn()"
                  >
                    <span class="fas fa-file-alt q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">เนื้อหา</span>
                  </q-btn>
                  <q-btn
                    v-for="(item,index) in dataPractice"
                    :key="index"
                    style="width:135px;"
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm"
                    @click="grammarpracticeBtn(item.key,item.practice,dataPractice.length <= 1 ? 0 : index + 1)"
                  >
                    <span class="fas fa-file-invoice q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;" v-if="dataPractice.length <= 1">แบบฝึกหัด</span>
                    <span style="padding-top:5px;" v-else>แบบฝึกหัด {{index + 1}}</span>
                  </q-btn>
                </div>
              </td>
            </tr>
            <!-- Reading -->
            <tr>
              <td style="vertical-align:top;">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 q-mt-sm topic-box-lg"
                  :class="{'topic-box-md':innerWidth < 1000,'topic-box-sm':innerWidth < 600,'topic-box-xs text-body2':innerWidth < 400}"
                >Reading</div>
              </td>
              <td style="vertical-align:top;">
                <div class="q-pl-md q-mt-sm">
                  <q-btn
                    style="width:135px;"
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm"
                    @click="readingcontentBtn()"
                  >
                    <span class="fas fa-file-alt q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">เนื้อหา</span>
                  </q-btn>
                  <!-- <q-btn
                    disable
                    style="width:135px;"
                    align="left"
                    class="bg-white text-black q-mr-sm q-mb-sm"
                  >
                    <span class="fas fa-language q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">คำแปล</span>
                  </q-btn>-->
                </div>
              </td>
            </tr>
            <!-- Writing -->
            <!-- <tr>
              <td style="vertical-align:top;">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 q-mt-sm topic-box-lg"
                  :class="{'topic-box-md':innerWidth < 1000,'topic-box-sm':innerWidth < 600,'topic-box-xs text-body2':innerWidth < 400}"
                >Writing</div>
              </td>
              <td style="vertical-align:top;">
                <div class="q-pl-md q-mt-sm">
                  <q-btn
                    disable
                    style="width:135px;"
                    align="left"
                    class="bg-white text-black q-mr-sm q-mb-sm"
                  >
                    <span class="fas fa-file-invoice q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">แบบฝึกหัด</span>
                  </q-btn>
                  <q-btn
                    disable
                    style="width:135px;"
                    align="left"
                    class="bg-white text-black q-mr-sm q-mb-sm"
                  >
                    <span class="fas fa-check-square q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">เฉลย</span>
                  </q-btn>
                </div>
              </td>
            </tr>-->
            <!-- Listening -->
            <!-- <tr>
              <td style="vertical-align:top;">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 q-mt-sm topic-box-lg"
                  :class="{'topic-box-md':innerWidth < 1000,'topic-box-sm':innerWidth < 600,'topic-box-xs text-body2':innerWidth < 400}"
                >
                  Listening
                  <span>
                    <br v-if="innerWidth < 1000">&
                    <br v-if="innerWidth < 1000">
                  </span> Speaking
                </div>
              </td>
              <td style="vertical-align:top;">
                <div class="q-pl-md q-mt-sm">
                  <q-btn
                    disable
                    style="width:135px;"
                    align="left"
                    class="bg-white text-black q-mr-sm q-mb-sm"
                  >
                    <span class="fas fa-file-invoice q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">เนื้อหา</span>
                  </q-btn>
                  <q-btn
                    disable
                    style="width:135px;"
                    align="left"
                    class="bg-white text-black q-mr-sm q-mb-sm"
                  >
                    <span class="fas fas fa-comments q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">บทสนทนา</span>
                  </q-btn>
                  <q-btn
                    disable
                    style="width:135px;"
                    align="left"
                    class="bg-white text-black q-mr-sm q-mb-sm"
                  >
                    <span class="fas fa-language q-pr-sm" style="font-size:23px;"></span>
                    <span style="padding-top:5px;">คำแปล</span>
                  </q-btn>
                </div>
              </td>
            </tr>-->
          </table>
        </div>
        <br />
        <div class="q-pa-sm text-teal-5">
          <span class="hover" @click="settingBtn()">
            <span class="fas fa-info-circle"></span>
            <span class="q-ml-sm">การตั้งค่าหน้ากระดาษ</span>
          </span>
        </div>
        <br />
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        level: this.$store.state.system.taslevelactive,
        unit: this.$store.state.system.tasunitactive
      },
      levelList: [],
      unitList: [],
      dataPractice: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLevelData", "setUnitData"]),
    settingBtn() {
      this.$router.push("/pagesetup");
    },
    vocabularycontentBtn() {
      let routeData = this.$router.resolve({
        path:
          "studysheet/print/vocabularycontent/" +
          this.dataBasic.level +
          "/" +
          this.dataBasic.unit
      });
      window.open(routeData.href, "_blank");
    },
    vocabularypracticeBtn() {
      let routeData = this.$router.resolve({
        path:
          "studysheet/print/vocabularypractice/" +
          this.dataBasic.level +
          "/" +
          this.dataBasic.unit
      });
      window.open(routeData.href, "_blank");
    },
    vocabularyanswerBtn() {
      let routeData = this.$router.resolve({
        path:
          "studysheet/print/vocabularyanswer/" +
          this.dataBasic.level +
          "/" +
          this.dataBasic.unit
      });
      window.open(routeData.href, "_blank");
    },
    grammarcontentBtn() {
      let routeData = this.$router.resolve({
        path:
          "studysheet/print/grammarcontent/" +
          this.dataBasic.level +
          "/" +
          this.dataBasic.unit
      });
      window.open(routeData.href, "_blank");
    },
    grammarpracticeBtn(key, name, index) {
      this.$q
        .dialog({
          title: "",
          message: "กรุณาเลือกรายการที่จะสั่งพิมพ์",
          options: {
            type: "radio",
            model: "1",
            // inline: true
            items: [
              { label: "แบบฝึกหัด", value: "1", color: "secondary" },
              { label: "เฉลย", value: "2", color: "secondary" }
            ]
          },
          ok: true,
          cancel: true,
          persistent: true
        })
        .onOk(data => {
          let routeData = this.$router.resolve({
            path:
              "studysheet/print/grammarpractice/" +
              this.dataBasic.level +
              "/" +
              this.dataBasic.unit +
              "/" +
              key +
              "/" +
              name +
              "/" +
              data +
              "/" +
              index
          });
          window.open(routeData.href, "_blank");
        })
        .onCancel(() => {});
    },
    readingcontentBtn() {
      let routeData = this.$router.resolve({
        path:
          "studysheet/print/readingcontent/" +
          this.dataBasic.level +
          "/" +
          this.dataBasic.unit
      });
      window.open(routeData.href, "_blank");
    },
    changeLevel() {
      this.dataBasic.unit = this.unitList[0].value;

      this.setLevelData(Number(this.dataBasic.level));

      this.changeUnit();
    },
    changeUnit() {
      this.setUnitData(Number(this.dataBasic.unit));

      this.loadPracticeGrammar();
    },
    async loadBasicData() {
      this.loadingShow();

      // Load : Teacher Data
      let teacherData = await this.$store.state.system.tasData;
      let levelactive = this.$store.state.system.taslevelactive;
      let unitactive = this.$store.state.system.tasunitactive;

      // Load : Teacher Level Data
      for (let levelset in teacherData) {
        if (teacherData[levelset] == true) {
          let newData = {
            label: levelset,
            value: Number(levelset)
          };
          this.levelList.push(newData);
        }
      }

      // Set : Teacher Level Active
      for (let i = 0; i < this.levelList.length; i++) {
        if (this.levelList[i].value == levelactive) {
          this.dataBasic.level = levelactive;
          break;
        } else {
          this.dataBasic.level = this.levelList[0].value;
        }
      }

      // Load : Teacher Unit Data
      let loadunitData = await db
        .collection("level")
        .where("name", "==", this.dataBasic.level)
        .get();

      for (const result of loadunitData.docs) {
        for (let i = 1; i <= result.data().unit; i++) {
          let newData = {
            label: i.toString(),
            value: i
          };
          this.unitList.push(newData);
        }
      }

      // Set : Teacher Unit Active
      for (let i = 0; i < this.unitList.length; i++) {
        if (this.unitList[i].value == unitactive) {
          this.dataBasic.unit = unitactive;
          break;
        } else {
          this.dataBasic.unit = this.unitList[0].value;
        }
      }

      this.loadPracticeGrammar();
      this.loadingHide();
    },
    async loadPracticeGrammar() {
      this.loadingShow();

      let levelunit = "L" + this.dataBasic.level + "U" + this.dataBasic.unit;
      this.dataPractice = [];

      let loadPractice = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .orderBy("order")
        .get();

      for (const doc of loadPractice.docs) {
        if (doc.data().order > 2000 && doc.data().order < 2999) {
          if (
            doc.data().practicetype == "fill in the blanks" ||
            doc.data().practicetype == "multiple choices"
          ) {
            let dataKey = {
              key: doc.id,
              practice: doc.data().practicetype
            };
            this.dataPractice.push(dataKey);
          }
        }
      }
      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },

  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.topic-box-lg {
  width: 250px;
}
.topic-box-md {
  width: 200px;
}
.topic-box-sm {
  width: 150px;
}
.topic-box-xs {
  width: 100px;
}
.checkboxdiv {
  height: 70px;
  line-height: 70px;
}

.brx {
  border: 1px solid red;
}
</style>