<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <div align="center" class="q-pa-md">
        <q-toolbar class="text-h5 mainbox">
          <div class="window-width">การสอน</div>
        </q-toolbar>
        <hr>
      </div>
      <div class="mainbox">
        <div class="row">
          <div class="col-6 q-pa-sm">
            <q-select
              label="เลเวล"
              v-model="dataBasic.level"
              :options="levelList"
              emit-value
              map-options
              outlined
              @input="changeLevel()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
          <div class="col-6 q-pa-sm">
            <q-select
              label="ยูนิต"
              v-model="dataBasic.unit"
              outlined
              :options="unitList"
              emit-value
              map-options
              @input="changeUnit()"
              options-selected-class="bg-teal-5 text-white"
            />
          </div>
        </div>
        <div class="q-mt-md">
          <table>
            <tr>
              <td style="vertical-align: top">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 box-lg"
                  :class="{'box-md':innerWidth < 600 ,'box-sm':innerWidth < 400}"
                >Vocabulary</div>
              </td>
              <td>
                <div class="q-ml-xs">
                  <q-btn
                    align="left"
                    class="bg-teal-5 text-white btn-box-lg q-mb-sm"
                    :class="{'btn-box-md':innerWidth < 600}"
                    @click="showFlashcard()"
                  >
                    <span
                      class="fas fa-file-alt q-pr-sm"
                      style="font-size:23px;"
                      v-if="innerWidth > 600"
                    ></span>
                    <span style="padding-top:5px;">คำศัพท์</span>
                  </q-btn>
                </div>
              </td>
            </tr>

            <tr>
              <td style="vertical-align: top">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 box-lg"
                  :class="{'box-md':innerWidth < 600,'box-sm':innerWidth < 400}"
                >Grammar</div>
              </td>
              <td>
                <div class="q-ml-xs">
                  <q-btn
                    align="left"
                    class="bg-teal-5 text-white btn-box-lg q-mb-sm"
                    :class="{'btn-box-md':innerWidth < 600}"
                    @click="showGrammarContent()"
                  >
                    <span
                      class="fas fa-file-alt q-pr-sm"
                      style="font-size:23px;"
                      v-if="innerWidth > 600"
                    ></span>
                    <span style="padding-top:5px;">เนื้อหา</span>
                  </q-btn>
                </div>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 box-lg"
                  :class="{'box-md':innerWidth < 600,'box-sm':innerWidth < 400}"
                >Reading</div>
              </td>
              <td>
                <div class="q-ml-xs">
                  <q-btn
                    align="left"
                    class="bg-teal-5 text-white btn-box-lg q-mb-sm"
                    :class="{'btn-box-md':innerWidth < 600}"
                    @click="showReadingContent()"
                  >
                    <span
                      class="fas fa-file-alt q-pr-sm"
                      style="font-size:23px;"
                      v-if="innerWidth > 600"
                    ></span>
                    <span style="padding-top:5px;">คำศัพท์</span>
                  </q-btn>
                </div>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 box-lg"
                  :class="{'box-md':innerWidth < 600,'box-sm':innerWidth < 400}"
                >Writing</div>
              </td>
              <td>
                <div class="q-ml-xs">
                  <q-btn
                    align="left"
                    class="bg-teal-5 text-white btn-box-lg q-mb-sm"
                    :class="{'btn-box-md':innerWidth < 600}"
                    @click="showDictation()"
                  >
                    <span
                      class="fas fa-file-invoice q-pr-sm"
                      style="font-size:23px;"
                      v-if="innerWidth > 600"
                    ></span>
                    <span style="padding-top:5px;">Dictation</span>
                  </q-btn>
                </div>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top">
                <div
                  align="center"
                  class="text-white q-pa-sm bg-primary text-body1 box-lg"
                  :class="{'box-md':innerWidth < 600,'box-sm':innerWidth < 400}"
                >
                  Listening
                  <br v-if="innerWidth < 600">&
                  <br v-if="innerWidth < 600">Speaking
                </div>
              </td>
              <td>
                <div class="q-ml-xs">
                  <q-btn
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm btn-box-lg"
                    :class="{'btn-box-md':innerWidth < 600}"
                    @click="showPhonicContent()"
                  >
                    <span
                      class="fas fas fa-comments q-pr-sm"
                      style="font-size:23px;"
                      v-if="innerWidth > 600"
                    ></span>
                    <span style="padding-top:5px;">Phonics</span>
                  </q-btn>
                  <q-btn
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm btn-box-lg"
                    :class="{'btn-box-md':innerWidth < 600}"
                    @click="showTipContent()"
                  >
                    <span
                      class="fas fas fa-comments q-pr-sm"
                      style="font-size:23px;"
                      v-if="innerWidth > 600"
                    ></span>
                    <span style="padding-top:5px;">language Tips</span>
                  </q-btn>
                  <q-btn
                    align="left"
                    class="bg-teal-5 text-white q-mr-sm q-mb-sm btn-box-lg"
                    :class="{'btn-box-md':innerWidth < 600}"
                    @click="showConversationContent()"
                  >
                    <span
                      class="fas fas fa-comments q-pr-sm"
                      style="font-size:23px;"
                      v-if="innerWidth > 600"
                    ></span>
                    <span style="padding-top:5px;">Conversation</span>
                  </q-btn>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <br>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataBasic: {
        level: this.$store.state.system.taslevelactive,
        unit: this.$store.state.system.tasunitactive
      },
      unitList: [],
      levelList: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLevelData", "setUnitData"]),
    changeLevel() {
      this.dataBasic.unit = this.unitList[0].value;

      this.setLevelData(Number(this.dataBasic.level));

      this.changeUnit();
    },
    changeUnit() {
      this.setUnitData(Number(this.dataBasic.unit));
    },
    async loadBasicData() {
      this.loadingShow();

      // Load : Teacher Data
      let teacherData = await this.$store.state.system.tasData;
      let levelactive = this.$store.state.system.taslevelactive;
      let unitactive = this.$store.state.system.tasunitactive;

      // Load : Teacher Level Data
      for (let levelset in teacherData) {
        if (teacherData[levelset] == true) {
          let newData = {
            label: levelset,
            value: Number(levelset)
          };
          this.levelList.push(newData);
        }
      }

      // Set : Teacher Level Active
      for (let i = 0; i < this.levelList.length; i++) {
        if (this.levelList[i].value == levelactive) {
          this.dataBasic.level = levelactive;
          break;
        } else {
          this.dataBasic.level = this.levelList[0].value;
        }
      }

      // Load : Teacher Unit Data
      let loadunitData = await db
        .collection("level")
        .where("name", "==", this.dataBasic.level)
        .get();

      for (const result of loadunitData.docs) {
        for (let i = 1; i <= result.data().unit; i++) {
          let newData = {
            label: i.toString(),
            value: i
          };
          this.unitList.push(newData);
        }
      }

      // Set : Teacher Unit Active
      for (let i = 0; i < this.unitList.length; i++) {
        if (this.unitList[i].value == unitactive) {
          this.dataBasic.unit = unitactive;
          break;
        } else {
          this.dataBasic.unit = this.unitList[0].value;
        }
      }

      this.loadingHide();
    },
    showFlashcard() {
      this.$router.push(
        "teaching/flashcard/" + this.dataBasic.level + "/" + this.dataBasic.unit
      );
    },

    showGrammarContent() {
      this.$router.push(
        "teaching/grammarcontent/" +
          this.dataBasic.level +
          "/" +
          this.dataBasic.unit
      );
    },
    showReadingContent() {
      this.$router.push(
        "teaching/reading/" + this.dataBasic.level + "/" + this.dataBasic.unit
      );
    },
    showPhonicContent() {
      this.$router.push(
        "teaching/phonics/" + this.dataBasic.level + "/" + this.dataBasic.unit
      );
    },
    showTipContent() {
      this.$router.push(
        "teaching/tips/" + this.dataBasic.level + "/" + this.dataBasic.unit
      );
    },
    showConversationContent() {
      this.$router.push(
        "teaching/conversation/" +
          this.dataBasic.level +
          "/" +
          this.dataBasic.unit
      );
    },
    showDictation() {
      this.$router.push(
        "teaching/dictation/" + this.dataBasic.level + "/" + this.dataBasic.unit
      );
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.loadBasicData();
    if (this.innerWidth < 700) {
      this.$q.notify({
        color: "negative",
        position: "top",
        icon: "error",
        message: "ขออภัย 'เมนู:การสอน' ไม่สามารถรองรับหน้าจอนี้ได้",
        timeout: 5000
      });
      this.$router.push("/mainmenu");
    }
  }
};
</script>

<style scoped>
.hover {
  cursor: pointer;
}
.mainbox {
  width: 90%;
  margin: auto;
}
.box-lg {
  width: 200px;
}
.box-md {
  width: 150px;
}
.box-sm {
  width: 105px;
}
.btn-box-lg {
  width: 180px;
}
.btn-box-md {
  width: 140px;
}
.brx {
  border: 1px solid red;
}
</style>