// app global css
@font-face{
font-family: promptR;
src:url(../assets/Prompt-Regular.ttf)
}
@font-face{
font-family: prompt-semi;
src:url(../assets/Prompt-SemiBold.ttf)
}

@font-face{
font-family: Pridi;
src:url(../assets/Pridi.ttf)
}

@font-face{
font-family: THSarabun;
src:url(../assets/THSarabunNew.ttf)
}

body{
font-family:promptR
}
.c-primary{
    background-color:#052040;
}
.c-text-primary{
    color:#052040;
}
body {
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}