<template>
  <q-layout view="lHh Lpr lFf">
    <q-resize-observer @resize="onResize" />
    <q-header elevated class="glossy">
      <q-toolbar class="text-black bg-grey-1">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title class="text-body1">
          <!--// Main Menu : เมนู -->
          <span
            v-if="this.$store.state.system.taslinkCode=='mainmenu'"
            class="text-black"
          >ยินดีต้อนรับ</span>

          <!--// Study Plan : แผนการสอน -->
          <span
            v-if="this.$store.state.system.taslinkCode=='studyplan'"
            class="text-black"
          >แผนการสอน</span>

          <!--// Study Sheet : เอกสารประกอบการเรียน -->
          <span
            v-if="this.$store.state.system.taslinkCode=='studysheet'"
            class="text-black"
          >เอกสารประกอบการเรียน</span>

          <!--// Genexammenu : ข้อสอบ -->
          <span v-if="this.$store.state.system.taslinkCode=='genexam'" class="text-black">ข้อสอบ</span>

          <!--// Student List : รายชื่อนักเรียน -->
          <span
            v-if="this.$store.state.system.taslinkCode=='studentlist'"
            class="text-black"
          >รายชื่อนักเรียน</span>

          <!--// Class room Monitor : ห้องเรียนอัจฉริยะ -->
          <span
            v-if="this.$store.state.system.taslinkCode=='classroommonitor'"
            class="text-black"
          >ห้องเรียนอัจฉริยะ</span>

          <!--// Score : คะแนนเก็บ -->
          <span v-if="this.$store.state.system.taslinkCode=='score'" class="text-black">คะแนนเก็บ</span>

          <!--// Score Setting : การตั้งค่าเกณฑ์คะแนน -->
          <span v-if="this.$store.state.system.taslinkCode=='scoresetting'" class="text-black">
            <router-link to="/score" class="text-black">คะแนนเก็บ</router-link>&nbsp;> การตั้งค่าเกณฑ์คะแนน
          </span>

          <!--// Score Report : ผลการเรียน -->
          <span
            v-if="this.$store.state.system.taslinkCode=='scorereport'"
            class="text-black"
          >ผลการเรียน</span>

          <!--// Score Report Details : รายบะเอียด ผลการเรียน -->
          <span v-if="this.$store.state.system.taslinkCode=='scoredetails'" class="text-black">
            <router-link to="/scorereport" class="text-black">ผลการเรียน</router-link>&nbsp;> รายละเอียด
          </span>

          <!--// Page Setup : ตั้งค่าหน้าปริ้น -->
          <span v-if="this.$store.state.system.taslinkCode=='pagesetup'" class="text-black">
            <router-link to="/studysheet" class="text-black">เอกสารประกอบการเรียน</router-link>&nbsp;> การตั้งค่าหน้ากระดาษ
          </span>

          <!--// Page Setup 2 : ตั้งค่าหน้าปริ้น -->
          <span v-if="this.$store.state.system.taslinkCode=='pagesetup2'" class="text-black">
            <router-link to="/genexam" class="text-black">ข้อสอบ</router-link>&nbsp;> การตั้งค่าหน้ากระดาษ
          </span>

          <!--// Edit Profile : แก้ไขโปรไพล์ -->
          <span
            v-if="this.$store.state.system.taslinkCode=='editprofile'"
            class="text-black"
          >แก้ไขโปรไพล์</span>
        </q-toolbar-title>

        <div>
          <q-btn flat dense round @click="logout()" class="text-h6">
            <q-icon name="fas fa-sign-out-alt" />
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" content-class="bg-grey-2">
      <div class="namediv text-h6" style="position:relative;">
        <span>{{this.$store.state.system.tasData.name}}</span>
        <q-icon
          name="fas fa-cog"
          class="hover"
          round
          style="position:absolute;right:15px;top:50%;transform:translate(0,-50%);"
          @click="linkeditprofile()"
        />
      </div>
      <div class="q-pl-md q-pt-md text-h6">โปรแกรมเรียน</div>
      <q-list>
        <div class="q-mt-sm">
          <!-- Menu : แผนการสอน -->
          <q-item
            clickable
            to="/studyplan"
            :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'studyplan'}"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-file" />
            </q-item-section>
            <q-item-section>
              <q-item-label>แผนการสอน</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div>
          <!-- Menu : เอกสารประกอบการเรียน -->
          <q-item
            clickable
            to="/studysheet"
            :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'studysheet' || this.$store.state.system.taslinkCode == 'pagesetup'}"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-file" />
            </q-item-section>
            <q-item-section>
              <q-item-label>เอกสารประกอบการเรียน</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div>
          <!-- Menu : ข้อสอบ -->
          <q-item
            clickable
            to="/genexam"
            :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'genexam' || this.$store.state.system.taslinkCode == 'pagesetup2'}"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-file-alt" />
            </q-item-section>
            <q-item-section>
              <q-item-label>ข้อสอบ</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div>
          <!-- Menu : รายชื่อนักเรียน -->
          <q-item
            clickable
            to="/studentlist"
            :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'studentlist'}"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-user" />
            </q-item-section>
            <q-item-section>
              <q-item-label>รายชื่อนักเรียน</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div>
          <!-- Menu : ห้องเรียนอัจฉริยะ -->
          <q-item
            clickable
            to="/classroom"
            :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'classroommonitor'}"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-clock" />
            </q-item-section>
            <q-item-section>
              <q-item-label>ห้องเรียนอัจฉริยะ</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div class="desktop-only">
          <!-- Menu : การสอน -->
          <q-item
            clickable
            to="/teaching"
            :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'teaching'}"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-chalkboard-teacher" />
            </q-item-section>
            <q-item-section>
              <q-item-label>การสอน</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div>
          <!-- Menu : คะแนนเก็บ -->
          <q-item
            clickable
            to="/score"
            :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'score' || this.$store.state.system.taslinkCode == 'scoresetting'}"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-poll" />
            </q-item-section>
            <q-item-section>
              <q-item-label>คะแนนเก็บ</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div>
          <!-- Menu : ผลการเรียน -->
          <q-item
            clickable
            to="/scorereport"
            :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'scorereport' || this.$store.state.system.taslinkCode == 'scoredetails'}"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-star-half-alt" />
            </q-item-section>
            <q-item-section>
              <q-item-label>ผลการเรียน</q-item-label>
            </q-item-section>
          </q-item>
          <hr />
        </div>
        <div class="q-pl-md q-pt-sm text-h6">โปรแกรมทบทวน</div>
        <q-item
          clickable
          to="/scorereview"
          :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'scorereview' }"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-poll" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ผลคะแนนทบทวน</q-item-label>
          </q-item-section>
        </q-item>

        <q-item
          clickable
          to="/progressreview"
          :class="{'bg-primary text-white':this.$store.state.system.taslinkCode == 'progressreview' }"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-star-half-alt" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ผลความก้าวหน้า</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class="bgimg">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      key: 0,
      systemKey: this.$store.state.system.tasuserKey,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setUserData",
      "setExamData",
      "setLevelData",
      "setUnitData",
      "setAcademicData",
      "setClassroomData",
      "setStudentScoreData",
      "setStudentListData"
    ]),
    linkeditprofile() {
      this.$router.push("/editprofile");
    },
    async checkVersion() {
      let wsVersion = await db
        .collection("version")
        .doc("tas")
        .get();

      if (wsVersion.data().version != this.appVersion) {
        this.$q
          .dialog({
            title: "อัพเดทโปรแกรม",
            message: "ต้องการรีเฟรชระบบ กรุณากดปุ่มรีเฟรช",
            ok: "รีเฟรช",
            persistent: true
          })
          .onOk(() => {
            window.location.reload(true);
          });
      }
    },
    logout() {
      this.$q
        .dialog({
          title: "ออกจากระบบ",
          message: "คุณต้องการออกจากระบบนี้ใช่หรือไม่",
          ok: "ออกจากระบบ",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          this.setUserData("");
          this.setExamData("");
          this.setLevelData("");
          this.setUnitData("");
          this.setAcademicData("");
          this.setClassroomData("");
          this.setStudentScoreData("");
          this.setStudentListData("");
          this.$router.push("/");
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  // created: function() {
  //   if (this.$store.state.system.userData.name) {
  //     db.collection("userwinnerkey")
  //       .doc(this.$store.state.system.userData.key)
  //       .onSnapshot(doc => {
  //         this.key = doc.data().key;
  //       });
  //   } else {
  //     this.$router.push("/");
  //   }
  // },
  mounted() {
    this.checkVersion();
  }
  // watch: {
  //   key: function(val) {
  //     let _this = this;
  //     if (this.key) {
  //       if (this.key != this.systemKey) {
  //         this.$q
  //           .dialog({
  //             title: "แจ้งเตือน",
  //             message: "มีการเข้าสู่ระบบจากเครื่องอื่น",
  //             ok: "ออกจากระบบ",
  //             persistent: true
  //           })
  //           .onOk(() => {
  //             _this.setUserData("");
  //             _this.$router.push("/");
  //           });
  //       }
  //     }
  //   }
  // }
};
</script>


<style scoped>
.hover {
  cursor: pointer;
}
hr {
  width: 90%;
}

.namediv {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  background-color: #333c4b;
  color: white;
}

.bgimg {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.linkurl {
  color: red;
}

.linknone {
  text-decoration: none;
  color: black;
}

.menuhover:hover {
  background-color: #dbdbdb;
}

.menuhover {
  padding: 12px;
}

.menumark {
  text-decoration: none;
  color: #007acc;
}
</style>

