<template>
  <div class="q-pa-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2" style="min-height:calc(100vh - 20px);height:fit-content;">
      <q-toolbar class="text-h3 q-pt-md q-pb-md">
        <div class="window-width">
          <div align="center">Conversation</div>
          <div
            class="text-h6 col-12"
            align="center"
          >Level: {{level}} / unit: {{unit}} ::: Slide {{pageNo}}/{{pageTotal}}</div>
        </div>
        <q-space/>
        <q-btn round color="primary" icon="fas fa-times" @click="closeBtn()"/>
      </q-toolbar>

      <div
        class="row"
        style="min-height:calc(100vh - 200px);max-height:fit-content;"
        v-if="subsentence.length > 0"
      >
        <div align="center" class="col-1 self-center">
          <q-btn
            round
            color="primary"
            icon="fas fa-angle-left"
            @click="leftBtn()"
            :disable="pageNo==1"
          />
        </div>
        <div align="center" class="col-10 self-center q-pa-md">
          <div v-if="subsentence.length">
            <video id="my-video" style="max-width:950px;width:100%">
              <source :src="vdofile">
            </video>
          </div>
          <div class="q-mt-md">
            <span class="text-h4">{{subsentence[pageNo - 1].sentenceEng}}</span>
          </div>
          <div class="q-mt-md">
            <span class="text-h4">{{subsentence[pageNo - 1].sentenceThai}}</span>
          </div>
          <div align="center" class="q-mt-lg" style="width:100%">
            <q-btn @click="playVideo()" color="primary">
              <span v-if="isPlay">Play</span>
              <span v-else>Replay</span>
            </q-btn>
          </div>
        </div>
        <div align="center" class="col-1 self-center">
          <q-btn
            round
            color="primary"
            icon="fas fa-angle-right"
            @click="rightBtn()"
            :disable="pageNo==pageTotal"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      vdofile: "",
      pageNo: 1,
      pageTotal: "",
      subsentence: [],
      timedata: [],
      currentSlide: 0,
      isPlay: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    closeBtn() {
      this.$router.push("/teaching");
    },
    async loadConversation() {
      var conversize;
      // console.clear();

      let levelunit = "L" + this.level + "U" + this.unit;
      let practicedata = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("practicetype", "==", "conversation VDO")
        .get();

      for (const item of practicedata.docs) {
        let pracid = item.id;

        // console.log(pracid);
        let converdata = await db
          .collection("conversation")
          .doc(pracid)
          .collection("dialog")
          .orderBy("orderid")
          .get();
        conversize = converdata.size;
        this.pageTotal = conversize;
        // console.log(converdata.size);
        for (const result of converdata.docs) {
          let timetemp = result.data().starttime.split(":");
          let timetemp2 = Number(timetemp[0]) * 60 + Number(timetemp[1]);

          let dataSub = {
            sentenceThai: result.data().sentenceThai,
            sentenceEng: result.data().sentenceEnglish
          };

          // console.log(timetemp2);
          this.timedata.push(timetemp2);
          this.subsentence.push(dataSub);
          // console.log(itemtime.data().starttime);
        }
      }
      this.loadingHide();
    },

    addzerolevelunit() {
      let tempdata = "L";
      if (this.level <= 9) {
        tempdata += "0" + this.level;
      } else {
        tempdata += this.level;
      }
      tempdata += "U";
      if (this.unit <= 9) {
        tempdata += "0" + this.unit;
      } else {
        tempdata += this.unit;
      }
      return tempdata;
    },
    playVideo() {
      let _this = this;
      _this.isPlay = true;
      var player = document.getElementById("my-video");
      if (_this.pageNo == 1) {
        player.currentTime = 0;
      } else {
        player.currentTime = _this.timedata[_this.pageNo - 1];
      }
      player.play();
      player.ontimeupdate = function() {
        if (player.currentTime >= _this.timedata[_this.pageNo]) {
          _this.isPlay = false;
          player.pause();
        }
      };
    },
    rightBtn() {
      this.pageNo++;
      this.playVideo();
    },
    leftBtn() {
      this.pageNo--;
      this.playVideo();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadingShow();
    this.loadConversation();
    this.vdofile =
      this.vdopath +
      "/uploadvdoconversation/" +
      this.addzerolevelunit() +
      ".mp4";
    if (this.innerWidth < 700) {
      this.$q.notify({
        color: "negative",
        position: "top",
        icon: "error",
        message: "ขออภัย 'เมนู:การสอน' ไม่สามารถรองรับหน้าจอนี้ได้",
        timeout: 5000
      });
      this.$router.push("/mainmenu");
    }
  }
};
</script>

<style scoped>
.bgimg {
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.centerdiv {
  text-align: center;
}
.vocabbox {
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}
.tablebox {
  width: 100%;
}
.navbox {
  width: 100px;
}
.brx {
  border: 1px solid red;
}
</style>