<template>
  <div class="q-pa-sm" style="font-family: Pridi;">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <q-toolbar class="text-h3 q-pt-md q-pb-md">
        <div class="window-width">
          <div align="center">Dictation</div>
          <div class="text-h6" align="center">Level: {{level}} / unit: {{unit}}</div>
        </div>
        <q-space/>
        <div>
          <q-btn round color="primary" icon="fas fa-times" @click="closeBtn()"/>
        </div>
      </q-toolbar>

      <div
        class="row content-center justify-center"
        v-if="dictationList.length"
        style="min-height:calc(100vh - 135px);"
      >
        <div class="col-1 self-center">
          <div align="center">
            <q-btn
              round
              color="primary"
              icon="fas fa-angle-left"
              @click="backPageBtn(pageNo)"
              :disable="pageNo == 1"
            />
          </div>
        </div>
        <div class="col-10 q-pa-sm self-center">
          <div class="q-mb-xl q-pa-sm">
            <span
              class="text-h1"
              :class="{'text-h2':innerWidth < 750}"
            >Question {{pageNo}}/{{pageTotal}}</span>
          </div>
          <div align="center">
            <q-btn
              class="bg-light-blue-9 text-white q-pa-md"
              @click="playSoundBtn(dictationList[pageNo - 1].key)"
            >
              <span class="text-h3">
                <li class="fas fa-volume-up"></li>
              </span>
              <span class="text-h4 q-pl-md">ฟังเสียงโจทย์</span>
            </q-btn>
          </div>
          <div align="center" class="q-mt-xl">
            <span
              class="text-h2"
              :class="{'text-h3':innerWidth < 750}"
              v-html="dictationList[pageNo - 1].sentenceThai"
            ></span>
          </div>
          <div class="q-mt-xl" align="center">
            <span
              class="text-h2"
              :class="{'text-h3':innerWidth < 750}"
              v-html="dictationList[pageNo - 1].sentenceEng"
            ></span>
          </div>
        </div>
        <div class="col-1 self-center">
          <div align="center">
            <q-btn
              round
              color="primary"
              icon="fas fa-angle-right"
              @click="naxtPageBtn(pageNo)"
              :disable="pageNo == pageTotal"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      dictationList: [],
      pageNo: 1,
      pageTotal: 20,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    closeBtn() {
      this.$router.push("/teaching");
    },
    backPageBtn(data) {
      this.pageNo = data - 1;
    },
    naxtPageBtn(data) {
      this.pageNo = data + 1;
    },
    playSoundBtn(keysound) {
      if (keysound) {
        let soundfile =
          this.imagepath + "/sound_dictation/" + keysound + ".mp3";
        let audio = new Audio(soundfile);
        audio.play();
      }
    },
    async loadBasicData() {
      this.loadingShow();
      let levelunit = "L" + this.level + "U" + this.unit;

      //Find Dictation practice key
      let loadPracticeData = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("practicetype", "==", "dictation")
        .get();

      for (const doc of loadPracticeData.docs) {
        let loadDictationData = await db
          .collection("dictation")
          .doc(doc.id)
          .collection("server")
          .orderBy("orderid")
          .get();

        if (!loadDictationData.empty) {
          for (const result of loadDictationData.docs) {
            let newSentenceEngMatch = result
              .data()
              .sentenceEng.match(/<strong>([^<]+)<\/strong>/g);
            let newSentenceEng = result.data().sentenceEng;

            if (newSentenceEngMatch) {
              for (let i = 0; i < newSentenceEngMatch.length; i++) {
                newSentenceEng = newSentenceEng.replace(
                  newSentenceEngMatch[i],
                  "<span style='display:inline-block;border:1px solid#000;width:70px;' >" +
                    "</span>"
                );
              }
            }

            let dataKey = {
              key: result.id,
              sentenceEng: newSentenceEng
            };
            let dataFinal = { ...result.data(), ...dataKey };

            this.dictationList.push(dataFinal);
            this.pageTotal = this.dictationList.length;
          }
        } else {
          this.notifyRed("ยังไม่มีข้อมูลบนเซิฟเวอร์");
          this.$router.push("/teaching");
        }
      }
      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadBasicData();
    if (this.innerWidth < 700) {
      this.$q.notify({
        color: "negative",
        position: "top",
        icon: "error",
        message: "ขออภัย 'เมนู:การสอน' ไม่สามารถรองรับหน้าจอนี้ได้",
        timeout: 5000
      });
      this.$router.push("/mainmenu");
    }
  }
};
</script>

<style scoped>
.brx {
  border: 1px solid red;
}
.fs-xl {
  font-size: 29px;
}
.fs-lg {
  font-size: 27px;
}
.fs-md {
  font-size: 25px;
}
.fs-sm {
  font-size: 23px;
}
.sound-hover {
  color: #2689c5;
  transition: 0.2s;
}
.sound-hover:hover {
  color: #195b83;
}
table {
  width: 100%;
}
</style>