<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="bg-grey-2 window-height">
      <q-toolbar
        class="text-h3 q-pt-md-lg q-pb-md-lg q-pt-xs-xs q-pb-xs-xs"
        style="font-family: Pridi;"
      >
        <div class="window-width">
          <div align="center">Flashcard</div>
          <div
            class="text-h6 col-12"
            align="center"
          >Level: {{level}} / unit: {{unit}} :: คำศัพท์ที่ {{pageNumber + "/" + flashcard.length}}</div>
        </div>
        <q-space />
        <q-btn round color="primary" icon="fas fa-times" @click="closeBtn()" />
      </q-toolbar>

      <div class="row" v-if="flashcard.length > 0">
        <div class="col-sm-2 col-md-2 col-lg-1 self-center">
          <q-btn
            class="text-primary full-width"
            :class="{'fs-xl-xl':innerWidth > 1439,'fs-lg-xl':innerWidth > 1023 && innerWidth < 1439,'fs-md-xl':innerWidth > 599 && innerWidth < 1023}"
            v-show="pageNumber != 1 && !isImage"
            @click="backFlashcard()"
            flat
          >
            <i class="fas fa-chevron-left"></i>
          </q-btn>
        </div>
        <div
          align="center"
          class="col-sm-8 col-md-8 col-lg-10 bg-primary text-white relative-position"
          style="height:calc(100vh - 150px)"
        >
          <div
            class="full-height q-pt-xl"
            v-show="!isImage"
            style="font-family: Pridi;letter-spacing: 3px;"
          >
            <div
              :class="{'fs-xl-xl':innerWidth > 1023,'fs-md-xl':innerWidth > 599 && innerWidth < 1023}"
            >{{flashcard[pageNumber - 1].vocab}}</div>
            <div :class="{'fs-sm-xl':innerWidth > 1023}">{{flashcard[pageNumber - 1].meaning}}</div>
          </div>
          <div v-show="isImage" class="q-pt-xl q-px-sm">
            <img :src="url" style="max-width:100%;width:1000px;" alt />
          </div>
          <div class="row q-ma-lg absolute-bottom">
            <div class="col-4 self-center q-px-sm">
              <q-btn
                push
                glossy
                class="bg-secondary full-width q-pa-md text-h6"
                :class="{'bg-grey':!flashcard[pageNumber - 1].teachingImage}"
                icon="far fa-image"
                label="รูปภาพ"
                :disable="!flashcard[pageNumber - 1].teachingImage"
                v-show="!isImage"
                @click="isImage = true"
              />
              <q-btn
                push
                glossy
                class="bg-secondary full-width q-pa-md text-h6"
                :class="{'bg-grey':!flashcard[pageNumber - 1].teachingImage}"
                icon="fas fa-font"
                label="คำศัพท์"
                v-show="isImage"
                @click="isImage = false"
              />
            </div>
            <div class="col-4 self-center q-px-sm">
              <q-btn
                push
                glossy
                class="bg-secondary full-width q-pa-md text-h6"
                icon="fas fa-volume-up"
                label="เสียงสะกด"
                @click="playSoundSpell(flashcard[pageNumber - 1].key)"
              />
            </div>
            <div class="col-4 self-center q-px-sm">
              <q-btn
                push
                glossy
                class="bg-secondary full-width q-pa-md text-h6"
                icon="fas fa-volume-up"
                label="เสียงคำศัพท์"
                @click="playSound(flashcard[pageNumber - 1].key)"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-1 self-center">
          <q-btn
            class="text-primary full-width"
            :class="{'fs-xl-xl':innerWidth > 1439,'fs-lg-xl':innerWidth > 1023 && innerWidth < 1439,'fs-md-xl':innerWidth > 599 && innerWidth < 1023}"
            v-show="pageNumber != flashcard.length && !isImage"
            @click="nextFlashcard()"
            flat
          >
            <i class="fas fa-chevron-right"></i>
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      flashcard: [],
      url: "",
      isImage: false,
      pageNumber: 1,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    closeBtn() {
      this.$router.push("/teaching");
    },
    backFlashcard() {
      this.pageNumber -= 1;

      let levelunit = "L" + this.level + "U" + this.unit;

      if (this.flashcard[this.pageNumber - 1].teachingImage) {
        this.url =
          this.imagepath +
          "/teaching_flashcard/" +
          levelunit +
          "/" +
          this.flashcard[this.pageNumber - 1].vocab +
          ".jpg";
      }
    },
    nextFlashcard() {
      this.pageNumber += 1;

      let levelunit = "L" + this.level + "U" + this.unit;

      if (this.flashcard[this.pageNumber - 1].teachingImage) {
        this.url =
          this.imagepath +
          "/teaching_flashcard/" +
          levelunit +
          "/" +
          this.flashcard[this.pageNumber - 1].vocab +
          ".jpg";
      }
    },
    async loadFlashcardData() {
      let levelunit = "L" + this.level + "U" + this.unit;
      //Find Flashcard practice key
      let practiceKey = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("practicetype", "==", "flashcard")
        .get();
      for (const practiceData of practiceKey.docs) {
        let flashcardid = practiceData.id;
        let flashcardDb = await db
          .collection("flashcard")
          .doc(flashcardid)
          .collection("server")
          .orderBy("order")
          .get();
        for (const flashcarddata of flashcardDb.docs) {
          let data = {
            vocab: flashcarddata.data().vocabulary,
            meaning: flashcarddata.data().meaning,
            key: flashcarddata.id.toLowerCase(),
            teachingImage: flashcarddata.data().teachingImage
          };
          this.flashcard.push(data);
        }
      }

      if (this.flashcard[0].teachingImage) {
        this.url =
          this.imagepath +
          "/teaching_flashcard/" +
          levelunit +
          "/" +
          this.flashcard[0].vocab +
          ".jpg";
      }
    },
    showImage(name) {},
    playSoundSpell(sound) {
      if (sound) {
        let soundfile =
          this.imagepath + "/sound_flashcard/" + sound + "-spell" + ".mp3";
        var audio = new Audio(soundfile);
        audio.play();
      }
    },
    playSound(sound) {
      if (sound) {
        let soundfile = this.imagepath + "/sound_flashcard/" + sound + ".mp3";
        var audio = new Audio(soundfile);
        audio.play();
      }
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },

  mounted() {
    this.loadFlashcardData();
    if (this.innerWidth < 700) {
      this.$q.notify({
        color: "negative",
        position: "top",
        icon: "error",
        message: "ขออภัย 'เมนู:การสอน' ไม่สามารถรองรับหน้าจอนี้ได้",
        timeout: 5000
      });
      this.$router.push("/mainmenu");
    }
  }
};
</script>

<style scoped>
.vocabbox {
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}
.brx {
  border: 1px solid red;
}
.fs-xxl {
  font-size: 40px;
}
.fs-xl {
  font-size: 34px;
}
.imageFull {
  width: calc(100% - 50px);
}
.fs-xl-xl {
  font-size: 180px;
}
.fs-lg-xl {
  font-size: 150px;
}
.fs-md-xl {
  font-size: 120px;
}
.fs-sm-xl {
  font-size: 90px;
}
</style>