<template>
  <div class="q-pa-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2" style="min-height:calc(100vh - 20px);height:fit-content;">
      <q-toolbar class="text-h3 q-pt-md q-pb-md">
        <div class="window-width">
          <div align="center">Grammar</div>
          <div
            class="text-h6 col-12"
            align="center"
          >Level: {{level}} / unit: {{unit}} :: Slide {{pageNo}}/{{pageTotal}}</div>
        </div>
        <q-space/>
        <q-btn round color="primary" icon="fas fa-times" @click="closeBtn()"/>
      </q-toolbar>

      <div class="row q-pa-sm" style="min-height:calc(100vh - 150px);max-height:fit-content;">
        <div class="col-1 self-center">
          <div align="center">
            <q-btn
              round
              color="primary"
              icon="fas fa-angle-left"
              @click="leftBtn()"
              :disable="pageNo==1"
            />
          </div>
        </div>
        <div class="col-10 self-center">
          <div align="center">
            <img :src="slidefile" style="width:100%;max-width:1200px;" alt>
          </div>
        </div>
        <div class="col-1 self-center">
          <div align="center">
            <q-btn
              round
              color="primary"
              icon="fas fa-angle-right"
              @click="rightBtn()"
              :disable="pageNo==pageTotal"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      flashcard: [],
      pageNo: 1,
      pageTotal: 20,
      slidefile: "",
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    closeBtn() {
      this.$router.push("/teaching");
    },
    async loadgrammardata() {
      let response = await axios.get(
        this.imagepath +
          "/api/checkdata.php" +
          "?level=" +
          this.level +
          "&unit=" +
          this.unit
      );
      this.pageTotal = response.data[0].grammarslide;
    },
    rightBtn() {
      if (this.pageNo < this.pageTotal) {
        this.pageNo++;
        this.slidefile =
          this.imagepath +
          "/slide_grammar/" +
          this.addzerolevelunit() +
          "/Slide" +
          this.pageNo +
          ".JPG";
      }
    },
    leftBtn() {
      if (this.pageNo > 1) {
        this.pageNo--;
        this.slidefile =
          this.imagepath +
          "/slide_grammar/" +
          this.addzerolevelunit() +
          "/Slide" +
          this.pageNo +
          ".JPG";
      }
    },
    addzerolevelunit() {
      let tempdata = "L";
      if (this.level <= 9) {
        tempdata += "0" + this.level;
      } else {
        tempdata += this.level;
      }
      tempdata += "U";
      if (this.unit <= 9) {
        tempdata += "0" + this.unit;
      } else {
        tempdata += this.unit;
      }
      return tempdata;
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },

  mounted() {
    this.loadgrammardata();
    this.slidefile =
      this.imagepath +
      "/slide_grammar/" +
      this.addzerolevelunit() +
      "/Slide" +
      1 +
      ".JPG";

    if (this.innerWidth < 700) {
      this.$q.notify({
        color: "negative",
        position: "top",
        icon: "error",
        message: "ขออภัย 'เมนู:การสอน' ไม่สามารถรองรับหน้าจอนี้ได้",
        timeout: 5000
      });
      this.$router.push("/mainmenu");
    }
  }
};
</script>

<style scoped>
.bgimg {
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.centerdiv {
  text-align: center;
}
.vocabbox {
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}
.tablebox {
  width: 100%;
}
.navbox {
  width: 100px;
}
.brx {
  border: 1px solid red;
}
</style>