<template>
  <div class="window-height window-width row justify-center items-center q-pa-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2" style="width:99%; height:99%">
      <q-toolbar class="text-h3 q-pt-md q-pb-md">
        <div class="window-width">
          <div align="center">Phonics</div>
          <div class="text-h6 col-12" align="center">Level: {{level}} / unit: {{unit}}</div>
        </div>
        <q-space/>
        <q-btn round color="primary" icon="fas fa-times" @click="closeBtn()"/>
      </q-toolbar>

      <div class="row" style="height:calc(100vh - 250px)">
        <div align="center" class="col-12 self-center q-pa-xs">
          <video controls style="max-width:100%; max-height:calc(100vh - 150px)">
            <source :src="vdofile">
          </video>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      vdofile: "",
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    closeBtn() {
      this.$router.push("/teaching");
    },
    addzerolevelunit() {
      let tempdata = "L";
      if (this.level <= 9) {
        tempdata += "0" + this.level;
      } else {
        tempdata += this.level;
      }
      tempdata += "U";
      if (this.unit <= 9) {
        tempdata += "0" + this.unit;
      } else {
        tempdata += this.unit;
      }
      return tempdata;
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.vdofile =
      this.vdopath +
      "/uploadvdophonic/" +
      this.addzerolevelunit() +
      ".mp4#t=0.5";
    if (this.innerWidth < 700) {
      this.$q.notify({
        color: "negative",
        position: "top",
        icon: "error",
        message: "ขออภัย 'เมนู:การสอน' ไม่สามารถรองรับหน้าจอนี้ได้",
        timeout: 5000
      });
      this.$router.push("/mainmenu");
    }
  }
};
</script>

<style scoped>
.bgimg {
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.centerdiv {
  text-align: center;
}
.vocabbox {
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}
.tablebox {
  width: 100%;
}
.navbox {
  width: 100px;
}
.brx {
  border: 1px solid red;
}
</style>