<template>
  <div class="q-pa-sm" style="font-family: Pridi;">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <q-toolbar class="text-h3 q-pt-md">
        <div class="window-width">
          <div align="center">Reading</div>
          <div class="text-h6" align="center">Level: {{level}} / unit: {{unit}}</div>
        </div>
        <q-space/>
        <q-btn round color="primary" icon="fas fa-times" @click="closeBtn()"/>
      </q-toolbar>

      <div class="q-pa-xl" style="min-height:calc(100vh - 135px);">
        <div align="center" class="col-12 text-h5 q-mb-md">
          <span>{{dataBasic.titleEng}}</span>
          <br>
          <span>{{dataBasic.titleThai}}</span>
        </div>
        <div align="center" class="col-12">
          <img v-lazy="loadImgPath" style="max-width:600px;width:100%;">
        </div>

        <div align="center" class="row cursor-pointer q-mt-lg">
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bg-primary text-white q-pa-lg"
            style="border:7px solid#F5F5F5"
            v-for="item in readingList"
            :key="item.key"
          >
            <div @click="playSound(item.vocabulary)">
              <span
                class="fs-xl"
                :class="{'fs-lg':innerWidth < 1439,'fs-md':innerWidth < 1024,'fs-sm':innerWidth < 600}"
              >{{item.vocabulary}}</span>
              <br>
              <span class="text-h6">{{item.meaning}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      dataBasic: {
        titleEng: "",
        titleThai: ""
      },
      readingList: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    closeBtn() {
      this.$router.push("/teaching");
    },
    playSound(sound) {
      if (sound) {
        let soundfile = this.imagepath + "/sound_extravocab/" + sound + ".mp3";
        var audio = new Audio(soundfile);
        audio.play();
      }
    },
    async loadBasicData() {
      this.loadingShow();
      let levelunit = "L" + this.level + "U" + this.unit;

      //Find Reading practice key
      let loadPractice = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("order", ">", 3000)
        .where("order", "<", 3999)
        .get();

      if (loadPractice.size > 0) {
        let loadPracticeName = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .doc(loadPractice.docs[0].id)
          .get();

        let newName;

        if (
          loadPracticeName.data().practicetype == "reading (Multiple choices)"
        ) {
          newName = "readingmultiple";
        }

        if (
          loadPracticeName.data().practicetype == "reading (Fill in the blanks)"
        ) {
          newName = "readingfillin";
        }

        let loadPracticeData = await db
          .collection(newName)
          .doc(loadPractice.docs[0].id)
          .collection("server")
          .doc("data")
          .collection("content")
          .doc("data");

        loadPracticeData.get().then(data => {
          this.dataBasic.titleEng = data.data().titleEng;
          this.dataBasic.titleThai = data.data().titleThai;
        });

        loadPracticeData
          .collection("extraWord")
          .where("uselearn", "==", true)
          .get()
          .then(extra => {
            let extralist = [];

            if (extra.size > 0) {
              for (const doc of extra.docs) {
                extralist.push(doc.data());
              }
              extralist.splice(9, 1);

              this.readingList = extralist;
            }
          });
      }

      this.loadingHide();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  computed: {
    loadImgPath() {
      let levelunit = "L" + this.level + "U" + this.unit;
      return this.imagepath + "/pic_reading/" + levelunit + ".jpg";
    }
  },
  mounted() {
    this.loadBasicData();
    if (this.innerWidth < 700) {
      this.$q.notify({
        color: "negative",
        position: "top",
        icon: "error",
        message: "ขออภัย 'เมนู:การสอน' ไม่สามารถรองรับหน้าจอนี้ได้",
        timeout: 5000
      });
      this.$router.push("/mainmenu");
    }
  }
};
</script>

<style scoped>
.brx {
  border: 1px solid red;
}
.fs-xl {
  font-size: 29px;
}
.fs-lg {
  font-size: 25px;
}
.fs-md {
  font-size: 20px;
}
.fs-sm {
  font-size: 18px;
}
table {
  width: 100%;
}
</style>